[2014-08-18 14:45] hodrigohamalho opened #1 "caixa de busca não está funcionando."
Caixa de busca pode ser localizada no topo e a direita.

Pode ser testada colocando parte ou o nome completo de um documento.
Exemplo: TMP-4910

[2014-08-18 14:46] hodrigohamalho opened #2 "Quando um módulo não carrega na página inicial o restante não carrega"

[2014-08-18 15:34] hodrigohamalho opened #3 "Erro de NPE (intermitente) no sigagc"

[2014-08-18 15:34] kmacedovarela opened #4 "Erro com javassist no SigaGC"

[2014-08-18 15:36] kmacedovarela opened #5 "Problema ao empacotar SigaGC (Play precompile)"
Ao empacotar o projeto, dentro da pasta do projeto sigagc, o precompile dos módulos (siga-play-module) ocorre ok.
Porém, ao empacotar da pasta raiz (siga) o plugin do maven identifica o diretorio errado do módulo e nao o precompila.

É necessario configurar o plugin para reconhecer o diretorio correto do modulo.

[2014-08-18 19:21] hodrigohamalho opened #6 "Geração de PDF"
java.lang.ClassNotFoundException: br.gov.jfrj.itextpdf.MyPD4ML from [Module "deployment.sigaex.war:main" from Service Module Loader]

Peguei esse erro no log da volvofh16, imagino que seja na hora que vai tentar gerar ou imprimir algum documento.

[2014-08-18 19:29] hodrigohamalho opened #7 "Código do tipo de marca (Processos ou Expedientes) não foi informado"
Este erro é disparado geralmente no primeiro acesso a url do sigaex, logo após autenticar: http://volvofh16:8080/sigaex/expediente/doc/gadget.action?idTpFormaDoc=1&ts=1408382929287

[2014-08-19 20:48] #7 closed, assigned to nobody

[2014-08-19 21:01] #6 closed, assigned to nobody

[2014-08-19 21:09] hodrigohamalho opened #8 "Página inicial só funciona no I.E se abrir o modo de desenvolvedor"
# iecrazy

[2014-08-21 13:32] kmacedovarela opened #9 "Problema com picketlink em chamadas a outros módulos"
Mesmo após autenticado em ambos os SP, chamadas como a exibida abaixo retornam dados do IDP, (como se não estivesse autenticado). Os cookies aparentemente estão sendo passados corretamente na chamada. O problema foi identificado no sigagc.

String paginaVazia = ConexaoHTTP.get(getBaseSiga()  + "/pagina_vazia.action?popup=" + popup, atributos);

[2014-08-22 13:08] #5 closed, assigned to kmacedovarela

[2014-08-22 13:20] #4 closed, assigned to kmacedovarela

[2014-08-22 14:15] kmacedovarela opened #10 "Erro no Deploy SigaGC"
Quando realizado o deploy com o JBoss já rodando, o seguinte erro acontece:

Caused by: java.lang.ClassCastException: org.jboss.jca.adapters.jdbc.WrapperDataSource cannot be cast to com.mchange.v2.c3p0.ComboPooledDataSource

[2014-08-26 12:09] kmacedovarela opened #11 "[Play!] Problema com ehcache"
Ao subir duas aplicações play:
Caused by: net.sf.ehcache.ObjectExistsException: Cache play already exists

O Play não se comporta bem quando utilizamos seu jar compartilhado entre aplicações. Estou analisando a melhor solução para o problema.

[2014-08-27 17:58] #11 closed, assigned to kmacedovarela

[2014-08-28 14:31] hodrigohamalho opened #12 "Loop infinito de módulo com erro na página inicial do siga"
Ao carregar um módulo que da um erro interno 501 ou retorna uma página sem title o script de renderização dos módulos faz uma nova chamada.

Tem que colocar um retry-count, acho que o número máximo de duas tentativas estaria ótimo.

[2014-08-28 19:09] #10 closed, assigned to nobody

[2014-09-01 17:44] kmacedovarela opened #13 "Automatizar a troca das referencias do server na hora do deploy"
No arquivo picketlink.xml existe a referência pro nome do servidor em questão.
Criar uma configuração no maven (ou propriedade do jboss? ) pra que ele descobrisse dinamicamente este dado, eliminando a necessidade de ter que trocar sempre que for recompilar o projeto.

[2014-09-01 21:45] hodrigohamalho opened #14 "remover debug do hibernate do sigasr"
Todos SQLs no modo debug estão sendo mostrados, tem que ver como faz pra desabilita-lo.

[2014-09-02 19:20] kmacedovarela opened #15 "SigaRI - migração em standby"
Aguardando para alinhar situação do módulo com o responsável.
Alguns dados estão faltando ou incorretos.

[2014-09-02 20:35] hodrigohamalho opened #16 "merge com branch develop"

[2014-09-02 21:56] #16 closed, assigned to hodrigohamalho

[2014-09-02 21:57] #14 closed, assigned to nobody

[2014-09-03 14:59] #15 closed, assigned to nobody

[2014-09-03 15:00] kmacedovarela opened #17 "Migração SigaTP e siga-uteis-play-module"
...

[2014-09-03 18:26] kmacedovarela opened #18 "Verificar possibilidade de unificar os módulos play instalados no JBoss."
Ideia, tem q testar pra ver se funciona:
Criar um module.xml na pasta play, e importar este modulo nos modulos especificos de cada app, pra nao ter q replicar todo o arquivo.

[2014-09-03 21:20] #9 closed, assigned to hodrigohamalho

[2014-09-03 21:21] #2 closed, assigned to hodrigohamalho

[2014-09-03 21:22] #8 closed, assigned to hodrigohamalho

[2014-09-03 21:28] hodrigohamalho opened #19 "verificar possibilidade de cache pras chamadas da página inicial do siga"
O Siga faz chamada pra todos os sistemas na página inicial.
Essa chamada pode ser cacheada, creio que por padrão ela já seria (quando clica no botão voltar por exemplo) porém, pra funcionar no I.E tive que desabilitar o cache no arquivo principal.js linha 214 "$.ajaxSetup({ cache: false });"

Seria interessante ver uma alternativa pra esse cache funcionar no i.e dai voltar esse cache pra true.

[2014-09-03 21:47] #13 closed, assigned to nobody

[2014-09-04 15:08] kmacedovarela opened #20 "Importar siga.properties pro JBoss"
Importar dados do siga.properties pro JBoss, e remover o arquivo.

[2014-09-04 15:12] hodrigohamalho opened #21 "sigadoc stop não está funcionando direito na volvofh16"

[2014-09-04 15:18] hodrigohamalho opened #22 "cadastrar picketlink urls na volvofh16"

[2014-09-04 15:29] #22 closed, assigned to hodrigohamalho

[2014-09-04 15:32] kmacedovarela opened #23 "Testar auditoria"
A nova versão que será usada da biblioteca possui uma implementação diferente.
Verificar se a funcionalidade de auditoria está funcionando.

https://www.warski.org/blog/2011/04/envers-and-hibernate-4-0-0-alpha2-automatic-listener-registration/

[2014-09-05 20:01] #12 closed, assigned to hodrigohamalho

[2014-09-05 20:07] hodrigohamalho opened #24 "Resolver WARNS que aparecem no Startup"

[2014-09-05 20:08] hodrigohamalho opened #25 "Problema na autenticação entre módulos"
Isso só da na Volvofh16, tem que analisar o que ta acontecendo.

[code]

[2014-09-08 13:04] #19 closed, assigned to nobody

[2014-09-08 14:18] kmacedovarela opened #26 "[Play!] Parâmetros dos formulários chegando nulos ao Java."
Parametros do formulario chegam nulos no controller.

[2014-09-08 14:18] #26 closed, assigned to kmacedovarela

[2014-09-08 15:14] hodrigohamalho opened #27 "HTTPS no login"

[2014-09-08 17:41] kmacedovarela opened #28 "[Play] Rodar servidor do play independente do JBoss"
Os desenvolvedores utilizam este recurso, logo, estou verificando a possibilidade de manter esta funcionalidade.

[2014-09-09 15:08] #23 closed, assigned to nobody

[2014-09-09 15:16] #17 closed, assigned to kmacedovarela

[2014-09-10 13:14] #25 closed, assigned to nobody

[2014-09-10 13:52] #21 closed, assigned to nobody

[2014-09-10 14:30] #3 closed, assigned to hodrigohamalho

[2014-09-10 18:38] hodrigohamalho opened #29 "Remover/Comentar/Transformar System.out.printlns"
Coloquei transformar porque pode ser trocado por logging.

System.out.println é terrível para performance, segue um link como referência:

http://www.certpal.com/blogs/2010/11/system-out-println-performance/

[2014-09-10 19:12] kmacedovarela opened #30 "Deploy no ambiente de homologação."

[2014-09-11 16:57] rlfacanha opened #31 "Erro ao assinar documento"
Loop de request/response ao assinar documentos. O browser utilizado foi o IE.
Acessar http://volvofh16:8080/sigaex/expediente/mov/anexar.action?sigla=TMP-5612, clicar em Assinar/Conferir cópia - clicar no botâo Assinar Anexo (preto).

[2014-09-11 18:45] #20 closed, assigned to hodrigohamalho

[2014-09-11 18:58] kmacedovarela opened #32 "Loop Redirect"
Acontece quando se acessa qualquer url com duas barras. Ex:
http://volvofh16:8080//siga/

Pode estar associada a issue: #31

[2014-09-11 19:01] hodrigohamalho opened #33 "Refactoring do siga.properties"
Esse arquivo tem muita informação, inclusive informação de banco de dados e etc.

Acho que todas essas informações deveriam que ser removidas.

[2014-09-11 19:04] hodrigohamalho opened #34 "Configurar plugin maven jboss"
Referência: https://docs.jboss.org/jbossas/7/plugins/maven/latest/

Acho que o uso desse plugin poderia ser bem proveitoso, principalmente para fazer deploy no ambiente de dev sem precisar acessar as máquinas.

Algo mais ou menos assim:
[code]

[2014-09-11 19:31] rlfacanha opened #35 "Caracteres das mensagens de exceção"
Os caracteres (acentos, caracteres especiais) das mensagens de exceção não estão no padrão correto.

[2014-09-11 19:42] hodrigohamalho opened #36 "Logoff pelo menu"
Ao acessar o menu do siga, tem um botão de logoff é necessário trocar o link dele para /siga/?GLO=true

[2014-09-11 20:27] #36 closed, assigned to kmacedovarela

[2014-09-12 18:01] #35 closed, assigned to kmacedovarela

[2014-09-12 18:05] kmacedovarela opened #37 "Migrar SigaPP"

[2014-09-12 19:23] #1 closed, assigned to hodrigohamalho

[2014-09-15 13:12] #37 closed, assigned to kmacedovarela

[2014-09-15 13:13] kmacedovarela opened #38 "E o ittru?"

[2014-09-16 20:35] hodrigohamalho opened #39 "NoClassDefFoundError sigatags"
Algumas vezes esse erro é mostrado na tela.

Caused by: java.lang.NoClassDefFoundError: org/apache/jsp/tag/meta/http_003a/localhost/sigatags/pagina_tag

[2014-09-17 17:42] hodrigohamalho opened #40 "Separar os módulos por instância"
Hoje no sigadoc tem 8 aplicações implantadas na mesma instância do JBoss.
Se uma aplicação "trava", dependendo do que foi este travamento, todas as outras travam também.

Seria interessante reduzir este número pelo menos pela metade.

[2014-09-17 18:54] #27 closed, assigned to hodrigohamalho

[2014-09-22 17:25] hodrigohamalho opened #41 "Módulos não estão sendo carregados na página inicial do siga no I.E"

[2014-09-24 16:49] #32 closed, assigned to kmacedovarela

[2014-09-30 15:00] hodrigohamalho opened #42 "Mecanismo para atualização de versão em cada release"
Hoje, todas as releases do siga são geradas no pom com a mesma versão.

Isso não é correto principalmente pelo fato de outras aplicações utilizarem as bibliotecas do siga, com isso se sair uma nova versão do siga, a outra aplicação não quebra.

[2014-10-14 18:54] #41 closed, assigned to hodrigohamalho

[2014-10-16 16:27] kmacedovarela opened #44 "Ajustar links do menu do Siga para novas urls do sigarh"
Os sistemas do sigarh agora utilizam o padrao de url minuscula. É necessário trocar os links do menu do siga para as novas URLs.

[2014-10-16 16:37] kmacedovarela opened #45 "Reescrever método de chamada via get"
No projeto siga-ex, na classe  br.gov.jfrj.siga.ex.util.FuncoesEL, reescrever o trecho de código do metodo "webservice", para realizar a chamada via SigaHTTP.

Commit em que o codigo foi inserido: f405c51011d663e5865351ddcf1147b495fb69f5

[2014-10-20 14:18] hodrigohamalho opened #46 "chamadas na página inicial do siga em paralelo"

[2014-10-20 16:17] hodrigohamalho opened #47 "iniciar a aplicação logo quando for feito o deploy"
Hoje as aplicações são "deployadas" e somente no primeiro acesso ela é de fato inicializada.

Isso faz com que o primeiro acesso fique extremamente lento.

[2014-10-24 19:18] #44 closed, assigned to nobody

[2014-10-24 20:13] #46 closed, assigned to nobody

[2014-10-24 20:21] #30 closed, assigned to nobody

[2014-10-28 18:46] #29 closed, assigned to nobody

[2014-11-03 13:05] #47 closed, assigned to nobody

[2014-12-12 14:36] Markenson opened #48 "Pesquisa de classificação com palavras acentuadas"
Ao digitar uma palavra acentuada no campo "Classificação documental" ao criar um novo documento o texto está com o encoding alterado. Por exemplo, ao digitar a palavra "férias" abre-se a janela de pesquisa com a palavra "FÃ©RIAS".

[2014-12-16 14:58] Markenson opened #49 "Erro ao compilar o projeto siga-cp-sinc"
O projeto siga-cp-sinc é utilizado para fazer a importação do XML com os dados das pessoas, lotações, funções, etc.

Ao tentar compilá-lo com as adaptações do branch migracao-jboss6 ocorrem erros do tipo:

[code]

[2014-12-16 17:39] kmacedovarela opened #50 "Migrar siga-cd"

[2014-12-16 17:39] kmacedovarela opened #51 "Migrar sigacd"

[2014-12-16 17:39] kmacedovarela opened #52 "Migrar siga-cp-sinc"

[2014-12-16 17:39] kmacedovarela opened #53 "Migrar siga-dump"

[2014-12-16 17:43] #49 closed, assigned to kmacedovarela

[2014-12-17 17:40] hodrigohamalho opened #54 "Compatibilidade VRaptor 3.5.4 e Bean Validation 1.0"
Os passos para que isso funcione os passos são:
1. Garantir que não tenha nenhuma implementação do Bean Validation 1.1. no ClassPath (validation-1.1.jar)
2. Criar um beans.xml no projeto com a tag alternatives da seguinte forma:

[code]

Alias, todos os projetos deverão conter o arquivo beans.xml (não necessariamente, com o alternatives). Pois este arquivo que habilita o CDI em um projeto Java EE.

[2014-12-17 18:09] kmacedovarela opened #55 "Erro ORA no SigaSR."
Estamos enfrentando um erro no nosso branch (migracao-jboss6) no projeto sigasr devido a alteração do nome de uma coluna no banco.

Falta alguma coisa no branch develop? (Estamos "up to date").
![merge](https://cloud.githubusercontent.com/assets/253186/5475908/941ad628-8604-11e4-8754-33b9383a25b9.PNG)

Sugestões são bem vindas.

Segue LOG abaixo.

15:33:20,857 INFO  [stdout](http-localhost/127.0.0

[2014-12-17 18:52] #53 closed, assigned to kmacedovarela

[2014-12-18 14:39] #54 closed, assigned to hodrigohamalho

[2014-12-18 14:42] #24 closed, assigned to nobody

[2014-12-19 13:39] crivano opened #56 "vRaptor não consegue redirecionar para página erroGeral.jsp quando o erro ocorre na view"
O vRaptor não está conseguindo redirecionar para a página de erro (erroGeral.jsp) quando o erro ocorre na view. Isso acontece normalmente quando o buffer é pequeno e o erro ocorre depois do buffer ser "flushed".

Infelizmente, na nossa configuração, mesmo com <page buffer="128kb"> continua dando esse problema.

O erro, em si, é:

Cannot forward after response has been committed

[2014-12-19 14:36] hodrigohamalho opened #57 "Usuário e senha não estão auto completando na página de login do sigaidp"
Acho que é o javascript do placeholder.

[2014-12-19 16:53] #56 closed, assigned to hodrigohamalho

[2014-12-23 16:54] #52 closed, assigned to kmacedovarela

[2014-12-23 18:54] hodrigohamalho opened #58 "NoSuchMethod ao subir no container docker"
17:16:59,674 ERROR [org.apache.catalina.core.ContainerBase.[jboss.web].[default-host].[/siga].[jsp]] (http-/172.17.0.41:8080-7) JBWEB000236: Servlet.service() for servlet jsp threw exc            eption: java.lang.NoSuchMethodError: freemarker.template.Configuration.setTagSyntax(I)V

[2014-12-29 17:36] #55 closed, assigned to nobody

[2014-12-29 17:38] #38 closed, assigned to nobody

[2014-12-29 17:38] #18 closed, assigned to nobody

[2014-12-29 17:48] #31 closed, assigned to hodrigohamalho

[2014-12-29 17:49] #40 closed, assigned to nobody

[2015-01-13 17:24] Chrystinne opened #60 "Erro de interface - "módulo indisponível""
O erro é intermitente. A mensagem "módulo indisponível" aparece na tela inicial do Siga, conforme ilustrado na imagem:

![modulo indisponivel](https://cloud.githubusercontent.com/assets/4949149/5725185/e6ba137e-9b37-11e4-9ba3-6d1cdd7270db.png)

[2015-01-13 17:37] Chrystinne opened #61 "[Siga-Doc] Erro de interface (encoding)"
- Ilustração:

![erro-encoding-oficio](https://cloud.githubusercontent.com/assets/4949149/5725417/c3785964-9b39-11e4-9ff4-3f51b1df10dd.png)

- Como reproduzir:

Na página de criação de novo documento (https://siga-dev/sigaex/expediente/doc/editar.action), selecionar "Tipo" Ofício.

[2015-01-13 18:00] Chrystinne opened #62 "[Siga-Doc] Erro ao incluir modelo jsp (requerimento de férias)"
Erro (intermitente) ao incluir o modelo jsp de requerimento de férias.

- Ilustração:
![erro-requerimento-ferias](https://cloud.githubusercontent.com/assets/4949149/5725749/d79fc3d4-9b3c-11e4-8960-894b8df28822.png)

- Como reproduzir:
Na página de criação de novo documento (https://siga-dev/sigaex/expediente/doc/editar.action), selecionar "Tipo" Requerimento e "Modelo" SGP: Férias (servidor p/ sup

[2015-01-13 18:14] kmacedovarela commented on #62
@Chrystinne pode verificar se continua ocorrendo? Esse erro pode ter ocorrido devido a uma reinicialização.

[2015-01-13 18:17] Chrystinne commented on #62
@kmacedovarela É intermitente, mas testei novamente e ocorreu.

[2015-01-13 18:21] Chrystinne commented on #62
@kmacedovarela Tem outro erro que ocorre no requerimento de férias. Mesmo quando o modelo jsp é incluído com sucesso, ele não se comporta como deveria. Vou cadastrar outra issue detalhando esse problema.

[2015-01-13 18:28] kmacedovarela opened #63 "[Play] Erro no botão ao clicar no botão [...]"
·         Ao clicar no botão [...] para buscar pessoas, lotações, etc, a partir do Siga-Sr ou do Siga-Gc, aparece a mensagem da imagem anexa (erroCliqueBotaoSelecao.png)

![errocliquebotaoselecao](https://cloud.githubusercontent.com/assets/253186/5726263/217da0a8-9b41-11e4-9ca4-f33f5b886a2e.png)

Reportado por: @esredson

[2015-01-13 18:29] kmacedovarela opened #64 "Menu cinza"
Não sei se é só no meu navegador , mas, em alguns momentos, o menu fica cinza, sem as opções aparecendo (menuCinza.png). Parece improvável estar relacionado ao ambiente, mas talvez já tenha acontecido com mais alguém.

Reportado por: @esredson

![menucinza](https://cloud.githubusercontent.com/assets/253186/5726292/54dfd358-9b41-11e4-8d29-25e12ff04cc2.png)

[2015-01-13 18:31] kmacedovarela opened #65 "[Play] Campo seleção não funciona o submit"
·         Numa das telas do Siga-Sr, a informação gerada pelo campo Seleção (aquele mesmo, que contém o [...]) não está sendo enviada no submit (itemNaoInformado.png). Ainda preciso debugar para saber exatamente o que está havendo, mas imaginei que valia a pena mencionar aqui porque nós não nos deparamos com esse erro até hoje. Aliás, eu já conseguiria fazer o debug remoto nesse servidor?

![itemn

[2015-01-13 18:31] kmacedovarela commented on #65
@esredson  este erro é conhecido, o @hodrigohamalho  já corrigiu ele em outros locais.
Não precisa debugar, vamos verificar.

Obrigada

[2015-01-13 18:34] Chrystinne opened #66 "[Siga-Doc] Erro no requerimento de férias [modelo "SGP: Férias (servidor p/ supervisor hierárquico)"]"
-Ilustração:
![erro-marcacao-alteracao-de-ferias](https://cloud.githubusercontent.com/assets/4949149/5726342/8c1a715c-9b41-11e4-9a69-9683ba6fe8f2.png)

-Como reproduzir:
Na página de criação de novo documento (https://siga-dev/sigaex/expediente/doc/editar.action), selecionar "Tipo" Requerimento e "Modelo" SGP: Férias (servidor p/ superior hierárquico). Em "Dados complementares", "Selecione a opção

[2015-01-13 19:43] #58 closed

[2015-01-13 19:45] hodrigohamalho opened #67 "Recuperar senha e sou um novo usuário em loop infinito"
Ao clicar em recuperar senha ou sou um novo usuário, os links são interceptados pelo IDP, com isso apenas usuários já cadastrados conseguem usar o sistema.
Isso impacta fortemente no ambiente de homologação, pois nenhum usuário do sigarh está conseguindo se cadastrar no sistema.

[2015-01-13 20:44] #67 closed

[2015-01-14 12:55] kmacedovarela opened #68 "Ambiente de produção"
Configuração dos scripts, DC, HC...

[2015-01-14 12:55] kmacedovarela opened #69 "Ambiente de produção - DS"
Replicar os dados dos datasources do ambiente existente para o novo.

[2015-01-14 13:55] kmacedovarela opened #70 "Execução de script com usuário JBoss"
Verificar:
Quando executado pelo usuário jboss, o seguinte ocorre:

Stopping jboss-sigadoc (via systemctl):  Failed to issue method call: Access denied
[FAILED]
Problema acontece apenas no DC.

[2015-01-14 13:55] kmacedovarela commented on #68
Arquitetura criada.
Verificar issue #70

[2015-01-14 13:55] #68 closed

[2015-01-14 13:59] hodrigohamalho opened #71 "Diretório /var/run/jboss do script gerencia JBoss"
O Script cria os arquivos do processo do jboss dentro de /var/run/jboss. Porém esse diretório é removido quando a máquina é reiniciada. E se for subir com jboss o usuário jboss não tem permissão de escrita nesse diretório.

[2015-01-14 14:05] Chrystinne opened #72 "Erro ao tentar ir para a página inicial do Siga"
Erro intermitente.

-Ilustração:
![erro_cabecalho_tag](https://cloud.githubusercontent.com/assets/4949149/5739904/7873084a-9be5-11e4-9b5a-6d1977e74fa0.png)

-Como reproduzir:
Navegando pelo menu principal do Siga: Siga->Página inicial

[2015-01-14 14:18] kmacedovarela commented on #72
Relacionado à issue #39 .

[2015-01-14 14:19] Chrystinne opened #73 "Informações sobre Expedientes e Processos indisponíveis"
Fiz o deploy pelo JBoss Management (alterei o sigaex.war) e as informações sobre Expedientes e Processos que deveriam aparecer na página inicial do Siga ao fazer o login não estão disponíveis, conforme ilustrado na imagem:
![captura_de_tela_011415_121923_pm](https://cloud.githubusercontent.com/assets/4949149/5740098/94159732-9be7-11e4-9c77-09968d9157f2.jpg)

[2015-01-14 14:25] AndDeluiz commented on #61
@Chrystinne
Foram alteradas as configurações de localização no JBoss, que estavam incorretas.
Entretanto, mesmo assim reproduzi o erro no ambiente Docker. A Karina @kmacedovarela reproduziu o mesmo problema na volvofh16, mas não conseguiu no novo ambiente de homologação.
Continuaremos verificando.

[2015-01-14 14:27] Chrystinne commented on #73
Só para constar, eu fiz um deploy anteriormente (há meia hora) e estava ok.

[2015-01-14 14:38] Chrystinne commented on #61
@AndDeluiz Esse erro ocorre no Siga-dev. O @hodrigohamalho informou que o ambiente de homologação novo (http://siga-hmg) estará indisponível hoje.
Mas devido ao problema reportado em #73, não consigo mais testar as alterações que fiz no Siga-dev.

[2015-01-14 14:41] hodrigohamalho opened #74 "jboss-cli pelo script de gerencia"
Ao executar:
jboss-sigadoc cli
ou
jboss-sigarh cli
ele cai no mesmo CLI que é o ip da máquina na porta 9999, como temos máquinas com dois domain controllers, como é o caso da classea, isso é um bug.
Por exemplo no stop ele usa o cli para fazer isso.

[2015-01-14 15:33] kmacedovarela commented on #73
Poderia testar novamente? Se voltar a ocorrer, pode reabrir a issue! Obrigada!

[2015-01-14 15:33] #73 closed

[2015-01-14 15:35] kmacedovarela commented on #61
Pode voltar a testar, issue #73 fechada

[2015-01-14 18:14] Chrystinne opened #75 "Erro encoding"
-Ilustração:
![erro-encoding](https://cloud.githubusercontent.com/assets/4949149/5744479/4c3cc0b8-9c08-11e4-83e7-436321659cb4.png)

-Como reproduzir:
Na página de criação de documentos (http://siga-dev/sigaex/expediente/doc/editar.action), preencher o campo descrição (com um texto qualquer) e clicar em Ok;

[2015-01-14 18:14] Chrystinne opened #76 "[Siga-Doc] Erro encoding"
-Ilustração:
![erro-encoding](https://cloud.githubusercontent.com/assets/4949149/5744479/4c3cc0b8-9c08-11e4-83e7-436321659cb4.png)

-Como reproduzir:
Na página de criação de documentos (http://siga-dev/sigaex/expediente/doc/editar.action), preencher o campo descrição (com um texto qualquer) e clicar em Ok;

[2015-01-14 18:18] #75 closed

[2015-01-14 18:21] Chrystinne opened #77 "Erro no link "Exibir informações completas""
-Ilustração:
![exibir-informacoes-completas](https://cloud.githubusercontent.com/assets/4949149/5744599/4d8a0e0c-9c09-11e4-9595-a0a2ca2db233.png)

-Como reproduzir:
Na página de criação de documentos (http://siga-dev/sigaex/expediente/doc/editar.action), preencher o campo descrição (com um texto qualquer) e clicar em Ok;
Clicar no link "Exibir informações completas";

[2015-01-14 18:43] Chrystinne opened #78 "Erro ao abrir anexo na visualização do dossiê"
-Ilustração do erro:
![anexo-dossie](https://cloud.githubusercontent.com/assets/4949149/5744963/5139e4a2-9c0c-11e4-926a-da6417914096.png)

-Ilustração do link com erro:
![caminho-erro-link-anexo-dossie](https://cloud.githubusercontent.com/assets/4949149/5744964/55d07918-9c0c-11e4-9677-c32d92b5208c.png)

-Como reproduzir:
Na página de criação de documentos (http://siga-dev/sigaex/expediente/doc/edi

[2015-01-14 19:30] kmacedovarela commented on #75
Porque a issue foi fechada?

[2015-01-14 19:33] Chrystinne commented on #75
@kmacedovarela Porque ficou duplicada com relação à #76, que permanece aberta.

[2015-01-14 19:35] kmacedovarela commented on #75
:ok_hand:

[2015-01-14 19:47] kmacedovarela commented on #77
Reparei que o arquivo "exibirAntigo" não consta no branch migracao-jboss6.
Realizarei um novo merge com o branch develop hoje para que possamos ficar com a mesma versão entre os branches.

[2015-01-14 19:58] kmacedovarela commented on #76
O mesmo erro está ocorrendo na versailles veja imagem a seguir.
URL: http://versailles:8280/sigaex/expediente/doc/exibirAntigo.action?exibirCompleto=true&sigla=TMP-7702

![bug](https://cloud.githubusercontent.com/assets/253186/5746267/9a802898-9c15-11e4-89fb-1327c800aca8.PNG)

[2015-01-14 20:00] Chrystinne commented on #76
@kmacedovarela Esse erro eu não tinha testado na versailles. Testei só o da #78.

[2015-01-14 20:01] kmacedovarela commented on #78
Testarei novamente após o merge

[2015-01-14 21:41] kmacedovarela opened #79 "[Impeditivo] Problema no Docker durante processo de atualização"
É um comportamento padrão do JBoss quando utilizada a interface de gerenciamento a constante alteração automática da tag deployments do standalone.xml.

 Durante os processos de deploy e atualização da versão do sigadoc, o docker se perdeu na configuração automática do standalone.xml e não inicia mais devido a um erro de configuração no xml.

O Docker foi configurado conforme solicitações, desta m

[2015-01-14 21:43] kmacedovarela commented on #78
O erro foi resolvido porém será possível testar apenas após o fechamento da issue #79

[2015-01-14 21:44] kmacedovarela commented on #77
O erro foi resolvido porém será possível testar apenas após o fechamento da issue #79

[2015-01-15 13:16] kmacedovarela commented on #79
Resolvido e pacotes atualizados.

[2015-01-15 13:16] #79 closed

[2015-01-15 13:18] #77 closed

[2015-01-15 13:19] kmacedovarela commented on #78
Vou testar

[2015-01-15 13:25] kmacedovarela commented on #78
O erro persiste, vou verificar.

[2015-01-15 13:36] kmacedovarela commented on #78
@Chrystinne o erro ocorre pois a aplicação redireciona para a url incorreta, referenciando diretamente o servidor.
Você pode reproduzir o mesmo problema na versailles, se acessar pelo apache. Repita o procedimento de teste a partir da url:
https://versailles/siga/

Para solucionar o problema, é necessário alterar a forma como a aplicação abre esta url, usando urls relativas.

Seria possível que al

[2015-01-15 13:39] kmacedovarela commented on #67
Preparando disponibilização.

[2015-01-15 14:07] kmacedovarela opened #80 "[Docker] Manutenção"
Esta issue serve apenas como uma flag para indicar que o ambiente de desenvolvimento do SigaDOC entrará em manutenção por motivos diversos relacionados ao docker.

**Issue aberta:** ambiente em manutenção, instável.
**Issue fechada:** ambiente 100% disponível para uso

Issue será atualizada conforme necessidade.
(Este procedimento foi alinhado com a equipe presente)

[2015-01-15 16:00] Chrystinne commented on #78
@kmacedovarela Ok, vamos resolver.

[2015-01-15 16:14] kmacedovarela commented on #76
Como não estava ocorrendo no ambiente de homologação, e está ocorrendo na versailles, a principio vou pausar esta investigação.

[2015-01-15 17:22] kmacedovarela opened #81 "IP Fixo"
Remover a configuração de ip fixo no script jboss-custom.sh

[2015-01-15 17:42] kmacedovarela commented on #39
Como já está reportado na issue #72 vou fechar esta.

[2015-01-15 17:42] #39 closed

[2015-01-15 17:42] kmacedovarela commented on #72
Tentei reproduzir, mas não ocorreu.
Caso ocorra novamente, favor reabrir a issue

[2015-01-15 17:42] #72 closed

[2015-01-15 17:44] kmacedovarela commented on #69
Por questão de segurança, os datasources não podem ser testados por solicitação da equipe de infra, até uma data mais próxima da disponibilização desta maneira, esta issue ficará em stand by.

[2015-01-15 18:36] hodrigohamalho commented on #81
Eu quem criei essa configuração. Antes as máquinas vinham com os IPs todos configurados na interface eth0, de um tempo pra cá as interfaces começaram a vir com uns nomes meio randômicos dai quebrou essa lógica.

[2015-01-15 18:58] hodrigohamalho commented on #70
isso o @AndDeluiz num tava vendo?

[2015-01-15 19:49] kmacedovarela commented on #64
@esredson/equipe o problema ainda existe? Não consegui reproduzir.
Se sim, favor reabrir a issue.

[2015-01-15 19:49] #64 closed

[2015-01-15 19:51] kmacedovarela commented on #63
@hodrigohamalho  quando for verificar a issue #65 se der já verifica esta também.

[2015-01-15 20:31] hodrigohamalho commented on #57
coloquei a versão em homologação e lá o chrome faz o preenchimento dos campos de forma automática sem problemas... To achando que isso é coisa do navegador mesmo

[2015-01-15 20:34] hodrigohamalho commented on #65
@Chrystinne tem como me ajudar a reproduzir este erro?

[2015-01-15 20:37] hodrigohamalho commented on #51
migrado.

[2015-01-15 20:37] #51 closed

[2015-01-15 20:37] hodrigohamalho commented on #50
migrado

[2015-01-15 20:37] #50 closed

[2015-01-15 20:39] hodrigohamalho commented on #63
@Chrystinne  tem como me ajudar a reproduzir este erro?

[2015-01-15 20:44] hodrigohamalho commented on #61
Testei essa issue em homologação e o problema não ocorre.
Parece ser especificamente do ambiente de desenvolvimento com docker.

Como é um erro que não vai refletir em produção, vou focando em outros erros e depois volto neste.

[2015-01-15 20:53] hodrigohamalho opened #82 "Loading dos módulos na página inicial do siga sumiram"

[2015-01-15 21:45] hodrigohamalho opened #83 "Habilitar SELINUX e configura-lo no ambiente de HMG"

[2015-01-15 21:46] hodrigohamalho opened #84 "Habilitar Iptables/firewalld e configura-lo no ambiente de HMG"

[2015-01-16 13:12] Chrystinne commented on #78
Resolvido!

[2015-01-16 13:12] #78 closed

[2015-01-16 13:16] Chrystinne commented on #63
@hodrigohamalho Sim, Rodrigo. Vou tentar reproduzir esse erro na siga-dev.

[2015-01-16 13:17] Chrystinne commented on #65
@hodrigohamalho Sim. Vou tentar reproduzir esse erro na siga-dev.

[2015-01-16 13:29] kmacedovarela commented on #66
Problema identificado, estou verificando como resolver.

[2015-01-16 13:57] Chrystinne opened #85 "[Siga-GC] Erro encoding"
-Ilustração:
![captura_de_tela_011615_115639_am](https://cloud.githubusercontent.com/assets/4949149/5777099/bd18211e-9d76-11e4-857c-5f3014f5c87e.jpg)

-Como reproduzir:
Criar um novo conhecimento (https://siga-dev/sigagc/app/editar) e clicar em "Gravar";

[2015-01-16 14:13] Chrystinne opened #86 "[Siga-GC] Erro ao criar novo conhecimento"
Ilustração:
![captura_de_tela_011615_115639_am](https://cloud.githubusercontent.com/assets/4949149/5777339/db951dc0-9d78-11e4-965c-3be278b84862.jpg)

-Como reproduzir:
Na página de criação de conhecimento (https://siga-dev/sigagc/app/editar), preencher os campos obrigatórios "Título" e "Texto" com uma informação qualquer e clicar em "Gravar".

[2015-01-16 14:30] Chrystinne commented on #63
@hodrigohamalho Consegui reproduzir tanto no Siga-Gc quanto no Siga-Sr.

1) No Siga-Gc:
Testei o botão [...] em três lugares da aplicação. Um apresenta problema e os outros dois estão ok.
Vamos ao problema:
Na página de criação de conhecimento (https://siga-dev/sigagc/app/editar), em "Edição" escolher a opção "Grupo" e, em seguida, clicar no botão [..]. Esta ação deveria abrir uma tela de busca, m

[2015-01-16 14:52] Chrystinne commented on #65
@hodrigohamalho Semelhante ao problema reportado na issue #63.

-Como reproduzir:
Cadastrar uma nova solicitação (https://siga-dev/sigasr/solicitacao/editar); Preencher os campos "descrição" e "Produto, Serviço ou Sistema relacionado à Solicitação". O preenchimento deste último não está surtindo efeito. Veja ilustração abaixo:
![captura_de_tela_011615_125234_pm](https://cloud.githubusercontent.com

[2015-01-16 17:01] #42 closed

[2015-01-16 17:14] Chrystinne opened #87 "[Siga-Sr] Pesquisa de solicitações"
-Ilustração:
![captura_de_tela_011615_031252_pm](https://cloud.githubusercontent.com/assets/4949149/5780519/5123b6dc-9d92-11e4-8e3e-7bd205750e71.jpg)

-Como reproduzir:
Acessar https://siga-dev/sigasr/solicitacao/buscar

[2015-01-16 17:37] Chrystinne opened #88 "[Siga-Sr] Inclusão de gestor"
-Ilustração:
![captura_de_tela_011615_033222_pm](https://cloud.githubusercontent.com/assets/4949149/5780863/116f7118-9d95-11e4-8456-d5bc6130b80f.jpg)

-Como reproduzir:
Na página de cadastro de item de configuração (http://versailles:8080/sigasr/item/editar), clicar no botão "Incluir" abaixo do rótulo "Gestores"; Problemas: O botão [...] não funciona e é possível incluir uma lotação inexistente co

[2015-01-16 17:55] Chrystinne opened #89 "[Siga-Sr] Cadastro de Ação"
-Ilustração:
![captura_de_tela_011615_035454_pm](https://cloud.githubusercontent.com/assets/4949149/5781225/04a3427c-9d98-11e4-8a86-14e4f3067580.jpg)

-Como reproduzir:
Na página de cadastro de ação (https://siga-dev/sigasr/acao/editar), clicar no botão "Incluir", preencher os campos do formulário com dados quaisquer e clicar em "Gravar";

[2015-01-16 18:02] Chrystinne opened #90 "[Siga-Sr] Cadastro de designação"
-Ilustração:
![captura_de_tela_011615_040152_pm](https://cloud.githubusercontent.com/assets/4949149/5781345/fd5e6be4-9d98-11e4-9dc3-896f0caa15e4.jpg)

-Como reproduzir:
Na página https://siga-dev/sigasr/designacao/listar, clicar em "Incluir";

[2015-01-16 18:10] Chrystinne opened #91 "[Siga-Sr] Cadastro de conhecimento"
-Ilustração:
![captura_de_tela_011615_040918_pm](https://cloud.githubusercontent.com/assets/4949149/5781453/0729ff52-9d9a-11e4-8fc2-53d30db63c80.jpg)

-Como reproduzir:
Na página de cadastro de conhecimento (https://siga-dev/sigasr/solicitacao/listarconhecimento), clicar no botão [...], conforme ilustrado acima.

[2015-01-16 18:14] kmacedovarela commented on #89
Problema identificado. Solução sendo implementada pelo @hodrigohamalho

[2015-01-16 19:15] kmacedovarela commented on #80
Deploy de nova versao em andamento

[2015-01-16 19:56] kmacedovarela commented on #89
Feito

[2015-01-16 19:56] #89 closed

[2015-01-16 20:13] kmacedovarela commented on #85
Associada a issue #61

[2015-01-16 20:19] AndDeluiz commented on #84
Configurações já efetuadas nos servidores HMG de aplicação. Pendente somente web server.

[2015-01-19 12:15] kmacedovarela commented on #80
Alteração na pasta de módulos.
É necessário parar o docker para inserir novos arquivos no conteiner e refazer os deploys.
Assim que o ambiente estabilizar, fecho a issue.

[2015-01-19 12:28] kmacedovarela commented on #62
Tentei reproduzir várias vezes, inclusive enquanto analisava a issue #66 e não aconteceu.
Caso volte a acontecer, favor reabrir a issue.

[2015-01-19 12:28] #62 closed

[2015-01-19 12:32] kmacedovarela commented on #66
Este erro acontece devido ao problema de encoding no ambiente de desenvolvimento.
Para exibir a página é realizada uma comparação entre strings, ou seja, as strings com caracteres especiais não se comportarão conforme esperado.

Favor testar essa issue no ambiente de homologação que está sem o problema de encoding:
https://siga-hmg/sigaex/expediente/doc/editar.action

[2015-01-19 13:37] #91 closed

[2015-01-19 13:37] #90 closed

[2015-01-19 13:43] kmacedovarela commented on #86
Erro ainda sob análise.

[2015-01-19 13:59] kmacedovarela commented on #80
Aguardando análise e solução de erro no Docker pelo @AndDeluiz.
Cannot create container with more than 127 parents

[2015-01-19 14:06] AndDeluiz commented on #84
Efetuada configuração do servidor Apache com mod_cluster e SSL.

[2015-01-19 14:06] #84 closed

[2015-01-19 14:07] #65 closed

[2015-01-19 14:08] #63 closed

[2015-01-19 14:16] kmacedovarela commented on #70
Resolvido no dc de produção, se ocorrer em outra máquina, reabrir issue.

[2015-01-19 14:16] #70 closed

[2015-01-19 14:17] hodrigohamalho commented on #70
Tem que replicar pro ambiente de homologação...

[2015-01-19 14:22] kmacedovarela commented on #76
@Chrystinne caso o problema seja solucionado na versailles, por gentileza me avise.

[2015-01-19 14:39] kmacedovarela commented on #33
Atividade será discutida posteriormente, devido à complexidade e acoplamento das propriedades nos sistemas. Num momento mais apropriado, voltamos com esta issue.

[2015-01-19 14:39] #33 closed

[2015-01-19 14:56] Chrystinne opened #92 "[Siga-Doc] Erro na visualização de documento criado (Interno Importado)"
-Ilustração:
![captura_de_tela_011915_125203_pm](https://cloud.githubusercontent.com/assets/4949149/5802218/029f9fae-9fda-11e4-9536-586d544715c7.jpg)

-Como reproduzir:
Criar um novo documento; Em "Origem" escolher "Interno Importado"; Selecionar "digital"; Selecionar Tipo Memorando; Definir um subscritor para o documento e uma descrição qualquer; Clicar em Ok;

[2015-01-19 15:04] Chrystinne opened #93 "[Siga-Doc] Erro na visualização de dossiê (Interno Importado)"
-Relacionado à #92

-Ilustração:
![captura_de_tela_011915_125949_pm](https://cloud.githubusercontent.com/assets/4949149/5802334/0e6e30a6-9fdb-11e4-8557-ff5a4e97c255.jpg)

-Como reproduzir:
Criar documento Interno Importado (conforme indicado na #92); Clicar em "Visualizar dossiê";

[2015-01-19 15:06] kmacedovarela commented on #92
@Chrystinne  você consegue localizar a classe br.gov.jfrj.itextpdf.MyPD4ML no seu projeto? Se sim, pode me indicar sua localização?

O erro ocorre pois esta classe não existe.
13:02:31,721 ERROR [stderr] (http-/10.10.0.68:8180-13) java.lang.ClassNotFoundException: br.gov.jfrj.itextpdf.MyPD4ML from [Module "deployment.sigaex.war:main" from Service Module Loader]

[2015-01-19 15:08] Chrystinne opened #94 "[Siga-Doc] Erro na visualização de impressão (Interno Importado)"
-Relacionado à #92;

-Ilustração:
![captura_de_tela_011915_010814_pm](https://cloud.githubusercontent.com/assets/4949149/5802430/3b00ebe4-9fdc-11e4-8c92-2a58a7499d8e.jpg)

-Como reproduzir:
Criar documento Interno Importado (conforme indicado na #92); Clicar em "Visualizar impressão"; A janela apresenta documento em branco;

[2015-01-19 15:21] hodrigohamalho commented on #74
corrigido em homologação e produção.

[2015-01-19 15:21] #74 closed

[2015-01-19 15:31] Chrystinne opened #95 "[Siga-Doc] Botões "Pesquisar" e "Novo" duplicados"
-Ilustração:
![captura_de_tela_011915_013101_pm](https://cloud.githubusercontent.com/assets/4949149/5802801/6955946a-9fdf-11e4-8369-a09d48b55c7d.jpg)

-Como reproduzir:
Acessar página inicial do Siga;

-Observação:
Na produção, estes botões estão disponíveis apenas abaixo de "Processos Administrativos"

[2015-01-19 15:43] Chrystinne commented on #92
@kmacedovarela Não fica no repositório principal do Siga. Fica no repositório de extensões (_git_jfrj_ext). O caminho é _git_jfrj_ext\siga-ext-conv-html\src\main\java\br\gov\jfrj\itextpdf

[2015-01-19 17:01] hodrigohamalho commented on #92
@Chrystinne mas onde fica esse repositório ? Qual máquina ou servidor? Queria clonar ele mas não sei de onde pegar.

[2015-01-19 17:05] Chrystinne commented on #92
@hodrigohamalho Segue o endereço: K:\ADMINISTRACAO\STI\CSIS\SESIA\01 Repositorios

[2015-01-19 17:05] hodrigohamalho commented on #92
valeu!

[2015-01-19 17:45] kmacedovarela commented on #80
No ar novamente;

[2015-01-19 17:45] #80 closed

[2015-01-19 19:49] jmolivei opened #96 "Erro ao dar logout no módulo SIGATP através do menu"

[2015-01-19 20:28] kmacedovarela commented on #85
Adicionado novo módulo ao JBoss com as dependencias do projeto.
d5a01a2cac1bf95b2a51e3424fa2df41e6d220f2

[2015-01-19 20:29] kmacedovarela commented on #86
Se ainda estiver ocorrendo no módulo do SigaGC , favor reportar.

[2015-01-19 20:29] #86 closed

[2015-01-19 20:35] kmacedovarela commented on #96
Tentei reproduzir o erro de logout a partir do SigaTP pelos browsers chrome, firefox, e internet explorer e não consegui reproduzir, o erro não ocorreu.

Caso você consiga identificar o passo a passo necessário para reproduzir o problema, favor reabrir a issue.

[2015-01-19 20:35] #96 closed

[2015-01-19 21:03] kmacedovarela commented on #95
Feito
863fa935ce0b39a0a773ef54a7ac5cc27d7ed618

[2015-01-19 21:03] #95 closed

[2015-01-19 21:06] kmacedovarela commented on #85
Encontrei um erro semelhante no sigagc.

[2015-01-19 21:21] kmacedovarela opened #97 "Problema de encoding com request params"
Como reproduzir:

Acessar http://siga-hmg/siga/principal.action
Em gestão de conhecimento, clicar no botão novo
preencher o titulo
Clicar em gravar

parametro na url gerado com caracteres especiais.

[2015-01-19 21:21] kmacedovarela commented on #85
#97

[2015-01-19 21:21] #85 closed

[2015-01-21 12:28] hodrigohamalho commented on #92
Ao tentar criar esse novo documento um ClassNotFound era gerado, corrigi isso mas em homologação continua aparecendo em branco o documento, vou debugar nesse ambiente pra tentar descobrir o que é...

[2015-01-21 14:10] Markenson opened #98 "[HMG] [Siga-Doc] Assinatura digital com capicom (IE) não está funcionando"
Ao fazer uma assinatura digital de documento no IE, usando a capicom, o sistema fica parado na etapa de gravação de assinatura, conforme imagem abaixo:

![image](https://cloud.githubusercontent.com/assets/2985140/5837400/0bab1d70-a166-11e4-95e5-53a1d0f5bcfb.png)

[2015-01-21 14:18] Chrystinne commented on #60
Como observei que este erro também ocorre na Hmg, acrescentei o label [HMG] nesta issue.

[2015-01-21 14:21] Markenson opened #99 "[Siga-Doc] Tela em branco ao selecionar atendente em transferência em lote"
Ao selecionar um tipo de atendente na tela de transferência em lote a tela do sistema fica em branco.

Como acessar:
1. Menu Siga/Módulos/Documentos
2. Menu Documentos/Transferir em lote

Como reproduzir:
Altere o campo atendente de "Órgão integrado" para matrícula.

Ilustração:
![image](https://cloud.githubusercontent.com/assets/2985140/5837593/a067b44a-a167-11e4-9401-99a623413766.png)

[2015-01-21 14:23] Chrystinne opened #100 "[Siga-Doc] Botões "Pesquisar" e "Novo" não aparecem na página inicial do Siga"
-Ilustração:
![captura_de_tela_012115_122237_pm](https://cloud.githubusercontent.com/assets/4949149/5837671/391aca6a-a168-11e4-9b97-911b1a3b3466.jpg)

-Como reproduzir:
Acessar página inicial do Siga. Erro intermitente.

[2015-01-21 14:27] kmacedovarela commented on #100
Este erro ocorre pois os botões estão associados a exibição do módulo Processos Administrativos. Quando este não é exibido, consequentemente, os botões não são. #60

[2015-01-21 14:27] #100 closed

[2015-01-21 14:31] Chrystinne commented on #100
@kmacedovarela As vezes, estes botões são exibidos mesmo quando o módulo não é exibido, só que abaixo de "Expedientes", conforme ilustração abaixo:

![captura_de_tela_012115_123019_pm](https://cloud.githubusercontent.com/assets/4949149/5837791/5f5f3656-a169-11e4-912d-d62eeff88a71.jpg)

[2015-01-21 14:58] Markenson opened #101 "[Siga-Doc] Erro ao agendar publicação no DJE"
Ao tentar fazer um agendamento no DJE ocorre o erro java.lang.NoClassDefFoundError: com/sun/org/apache/xml/internal/serialize/OutputFormat

Como reproduzir:
1. Acesse o documento http://siga-hmg/sigaex/expediente/doc/exibir.action?sigla=JFRJ-POR-2015%2F00001-A
2. Clique no link "Agendar Publicação no DJE"
3. Digite a data de disponibilização para Dia Atual + 2 (Ex: em 21/01/2015 digite 23/01/2015)

[2015-01-21 15:05] Markenson opened #102 "[Siga-Doc] Busca de documentos pela caixa de pesquisa não está funcionando"
Ao digitar o número de um documento na caixa de pesquisa localizada no canto superior direito o sistema não está localizando o respectivo documento.

Como reproduzir:
1. Digite JFRJ-POR-2015/00001 na caixa de pesquisa e pressione TAB
2. O sistema deveria completar o texto digitado com "-A" e redirecionar a página para o documento

Ilustração:

![image](https://cloud.githubusercontent.com/assets/29

[2015-01-21 15:10] Chrystinne opened #103 "[Siga-Doc] Erro de encoding na descrição da anotação"
-Ilustração:
![captura_de_tela_012115_010803_pm](https://cloud.githubusercontent.com/assets/4949149/5838422/89361030-a16e-11e4-9ec2-f83291d2703e.jpg)

-Como reproduzir:
Clicar no link "Fazer Anotação" de um documento qualquer (se quiser, pode usar o documento  http://siga-hmg/sigaex/expediente/doc/exibir.action?sigla=JFRJ-MEM-2015/00004-A para efeito de teste);
Na tela de anotação, preencher o cam

[2015-01-21 15:12] Chrystinne commented on #103
Relacionado à #76

[2015-01-21 15:18] Chrystinne opened #104 "[Siga-Doc] Erro ao visualizar publicação no DJE"
-Ilustração:
![captura_de_tela_012115_011608_pm](https://cloud.githubusercontent.com/assets/4949149/5838601/ab9a0a7c-a16f-11e4-8d40-2335cbef866c.jpg)

-Como reproduzir:
1. Acessar o documento JFRJ-MEM-2015/00004;
2. Clicar no link "Agendar Publicação no DJE";
3. Clicar no botão "Visualizar publicação";

[2015-01-21 15:22] Markenson opened #105 "[Siga-Doc] Erro ao visualizar documento"
Ao clicar no botão visualizar documento durante a elaboração do mesmo ocorre o erro java.io.FileNotFoundException: JBWEB000088: The requested resource (/paginas/cabecalho_popup.jsp) is not available

Como reproduzir:
1. Clique no botão Novo na página inicial (abaixo do quadro de documento)
2. Clique no botão "Visualizar Documento"

Ilustrações:

![image](https://cloud.githubusercontent.com/assets/

[2015-01-21 15:25] kmacedovarela opened #106 "Aplicações play no ambiente de homologação não estão utilizando DS"
As aplicações que utilizam Play Framework não estão se conectando ao banco através de datasource.   É necessário ajustar esta configuração

[2015-01-21 15:40] Chrystinne opened #107 "[Siga-Doc] Erro ao exibir Conhecimentos Relacionados"
Erro intermitente.

-Ilustração:
![captura_de_tela_012115_013952_pm](https://cloud.githubusercontent.com/assets/4949149/5839084/fb630f6a-a172-11e4-810b-2d98b188b9bd.jpg)

[2015-01-21 15:43] kmacedovarela commented on #107
@Chrystinne  pode ser pois estamos reiniciando os servidores que disponibilizam este módulo para manutenção e inserção de novas configurações. Vou deixar a issue aberta, para que seja retestada assim que estabilizarmos os serviços;

[2015-01-21 15:54] kmacedovarela commented on #99
Resolvido, se voltar a ocorrer, favor reabrir.
Adicionada a propriedade org.apache.tomcat.util.http.Parameters.MAX_COUNT ao JBoss

[2015-01-21 15:54] #99 closed

[2015-01-21 16:09] kmacedovarela commented on #103
Associado a #97 , será resolvido quando a issue associada também for.

[2015-01-21 16:11] #76 closed

[2015-01-21 16:11] kmacedovarela commented on #76
Favor testar, se estiver ocorrendo, reabrir

[2015-01-21 16:27] kmacedovarela commented on #76
O problema foi resolvido no ambiente de homologação apenas;

[2015-01-21 16:54] Markenson opened #108 "[Siga-Doc] Erro ao editar Formulário/Comunicações de Alterações de frequência"
Durante a elaboração de um documento Formulário/Comunicações de Alterações de frequência, as opções adicionais não estão sendo exibidas

Como reproduzir:
1. Crie um novo documento
2. Selecione o tipo Formulário
3. Selecione o modelo Comunicações de Alterações de frequência
4. Nos dados complementares, digite o nome de uma lotação (Ex: SESIA)
5. No campo Frequência ao lado do nome das pessoas alter

[2015-01-21 17:17] AndDeluiz commented on #83
Configuradas as regras para o Apache. Mapeadas portas TCP/UDP e criada política para acesso/uso dos arquivos de log pelo mod_cluster.
Configurado o SELinux para mode=enforcing.
Efetuar testes com Apache e comunicar caso exista algum erro.

[2015-01-21 17:33] kmacedovarela commented on #108
Obs. Erro ocorre apenas no IE.

[2015-01-21 17:38] kmacedovarela opened #109 "[DEV] Disponibilização do sistema no branch develop"
Favor disponibilizar versão mais recente do branch develop na Versailles, para facilitar na execução de testes.

[2015-01-21 17:50] Chrystinne opened #110 "[Siga-Doc] Erro ao visualização do despacho"
-Ilustração:
![captura_de_tela_012115_034845_pm](https://cloud.githubusercontent.com/assets/4949149/5841560/fc98856a-a184-11e4-8d58-b0d09ae3dd99.jpg)

-Como reproduzir:
1. Acessar o documento JFRJ-MEM-2015/00004-A;
2. Clicar no link Despachar/Transferir;
3. Selecionar um despacho;
4. Clicar em "Visualizar Despacho";

[2015-01-21 18:13] Chrystinne commented on #87
@hodrigohamalho Os campos mais à esquerda dos botões [...] não estão tendo o comportamento esperado. Ao preencher os campos com informações referentes à lotação ou pessoa, após evento onblur (teclar "tab" ou clicar fora do campo), estas devem aparecer por extenso do lado direito do botão [...]

![captura_de_tela_012115_041337_pm](https://cloud.githubusercontent.com/assets/4949149/5841996/76311e66-

[2015-01-21 18:22] kmacedovarela commented on #109
@Markenson  @esredson @Chrystinne @rafaela00castro  alguém poderia realizar esta disponibilização?

[2015-01-21 18:24] Chrystinne commented on #88
@hodrigohamalho Ainda está com problemas. Além de abrir a pop-up ao clicar no botão [...]. Ao preencher a informação referente à Lotação ou Pessoa, após o evento onblur (teclar "tab" ou clicar fora do campo), o nome da lotação ou pessoa deve aparecer por extenso do lado direito do botão [...]

[2015-01-21 18:36] Chrystinne commented on #109
@kmacedovarela Vou fazer

[2015-01-21 18:44] Markenson opened #111 "[Siga-Doc] Erro na funcionalidade "Esqueci minha senha""
Ao utilizar a funcionalidade "Esqueci minha senha" o sistema apresenta a seguinte mensagem de erro: Caused by: java.security.InvalidKeyException: Illegal key size or default parameters

Como reproduzir:
1. Na página de login do siga clique no link "Esqueci minha senha"
2. Digite a matrícula e o CPF da pessoa e clique em OK

OBS: Existe um tratamento para esse tipo de problema na versão anterior do

[2015-01-21 18:48] andresousa17 commented on #104
Este erro está acontecendo porque documentos do tipo Memorando não são publicados no DJE.

Eu fiz um teste com uma Portaria e o documento gerado está saindo sem conteúdo.

![image](https://cloud.githubusercontent.com/assets/5269936/5842591/27955ca4-a18d-11e4-836b-61b79ed0cedd.png)

O teste pode ser feito no documento JFRJ-POR-2015/00004.

O documento gerado deveria ser:

![image](https://cloud.git

[2015-01-21 19:02] Chrystinne opened #112 "[Siga-Sr] Cadastro de Ação está com problema de duplicação"
-Ilustração:
![captura_de_tela_012115_045850_pm](https://cloud.githubusercontent.com/assets/4949149/5842798/012089f2-a18f-11e4-84f2-1ee12c9c6194.jpg)

-Como reproduzir:
1. Acessar a página de Cadastro de Ação (http://siga-hmg/sigasr/acao/listar);
2. Clica em Incluir;
3. Preencher código e Título com valores quaisquer;
4. Clicar em Gravar;

[2015-01-21 19:04] kmacedovarela commented on #109
Ok, aguardo fechamento desta issue com urgência.

[2015-01-21 19:23] Markenson opened #113 "[Siga] [Siga-Wf] [Siga-Doc] [Siga-Cd] Erro nos webservices"
Ao consumir os webservices do SIGA-GI a resposta do sistema é a seguinte:

faultcode:soap:Client
faultstring: Unexpected wrapper element {http://service.gi.siga.jfrj.gov.br/}acesso found.   Expected {http://impl.service.gi.siga.jfrj.gov.br/}acesso.

Como reproduzir (foi utilizada  a ferramenta SOAP UI para os testes - http://www.soapui.org):
1. Crie um novo projeto apontando para o seguinte WSDL:

[2015-01-21 19:36] hodrigohamalho commented on #98
Tem como mandar o fluxo pra reproduzir markenson, não precisa ser as imagens pode mandar via texto mesmo pra não te tomar muito tempo.

[2015-01-21 19:45] Markenson commented on #98
1. Entre no documento JFRJ-BIE-2015/00001(http://siga-hmg/sigaex/expediente/doc/exibir.action?sigla=JFRJ-BIE-2015%2F00001-A)
2. Clique no link "Assinar"
3. Clique no botão marrom "Assinar documento"

[2015-01-21 19:55] hodrigohamalho opened #114 "Caixas do menu principal do siga sendo exibido trocadas ou duplicadas"
Ao acessar a página inicial do siga no I.E.
As caixinhas dos módulos estão aparecendo ou duplicadas, ou trocadas.

[2015-01-21 20:27] Chrystinne opened #115 "[Siga-Sr] Cadastro de designação"
-Ilustração:
![captura_de_tela_012115_062645_pm](https://cloud.githubusercontent.com/assets/4949149/5844443/0f4ba9b0-a19b-11e4-80fe-dcc41d914e0a.jpg)

-Como reproduzir:
1. Acessar http://siga-hmg/sigasr/designacao/listar;
2. Clicar em Incluir;
3. Preencher os campos em destaque na ilustração acima e dar "tab" ou simplesmente tirar o foco deste campo;

[2015-01-21 20:33] kmacedovarela commented on #106
Obs: esta issue está em analise no momento por ser crítica.

[2015-01-21 21:05] andresousa17 opened #116 "Tela de Cadastro de Modelos"
O Codemirror e os quadros de configuração do modelo não estão carregando.

Como Acessar esta tela:

1 - Entrar no módulo Documentos
2 - Acessar o menu "Ferramentas->Cadastro de Modelos"

Obs: As vezes essa tela está funcionando no IE. No Chrome e no Firefox não funcionou nenhuma vez.

Tela com Erro
![image](https://cloud.githubusercontent.com/assets/5269936/5844681/04cc08c0-a19d-11e4-9a65-2b7a0347

[2015-01-21 21:14] hodrigohamalho commented on #115
Corrigido.

[2015-01-21 21:14] #115 closed

[2015-01-21 21:15] hodrigohamalho commented on #87
Corrigido.

[2015-01-21 21:15] #87 closed

[2015-01-21 21:15] hodrigohamalho commented on #88
Corrigido.

[2015-01-21 21:15] #88 closed

[2015-01-21 21:41] hodrigohamalho commented on #113
![capturar](https://cloud.githubusercontent.com/assets/252998/5845685/431ee7ac-a1a5-11e4-97d5-2e36c6dbf281.PNG)

@Markenson fiz o teste conforme você disse e deu o cenário esperado. Poderia testar novamente?
PS: não mudei nada pra que isso funcionasse.

[2015-01-22 00:48] kmacedovarela commented on #106
O erro que gerou esta issue foi analisado de maneira incorreta.
- As aplicações PLAY estão utilizando os datasources conforme esperado

O problema identificado e descrito abaixo, se não solucionado, afetará a inclusão de todos os módulos que utilizam Play! Framework, principalmente, no ambiente de produção.

O problema atual é:
As aplicações que utilizam Play! Framework por algum motivo não estão

[2015-01-22 01:14] kmacedovarela commented on #106
Problema identificado:

Mais uma intervenção das classes do play em configurações padrões:
Na classe https://github.com/playframework/play1/blob/1.3.x/framework/src/play/db/Configuration.java, no método que se inicia na linha 94, é executada uma lógica para validar as propriedades que serão utilizadas pelo hibernate. Nesta lógica, o play recebe o parâmetro correto "hibernate.default_schema" (que s

[2015-01-22 12:29] hodrigohamalho commented on #112
Essa issue não acontece nem no ambiente local, nem em desenvolvimento, tem que verificar porque que está ocorrendo em hmg.

[2015-01-22 12:33] hodrigohamalho opened #117 "Migrar jobs que rodam no "cron""
Não me lembro quais são e nem em quais máquinas estão esses jobs, mas lembro que eles existem, então essa issue é para não esquecermos de migra-los.

[2015-01-22 12:42] kmacedovarela commented on #109
Senhores, me foi indicado para testar na porta 8280 do servidor de desenvolvimento porém as aplicações que utilizam play não estão disponiveis lá. Alguém poderia disponibilizar a versão do branch develop das aplicações sigagc e sigasr na maquina versailles por gentileza? Obrigada.

[2015-01-22 13:00] hodrigohamalho commented on #111
Fiz a alterações nas JVMs do Siga DOC.
A única diferença para o que está na wiki é que como usamos JDK 1.7 o link para baixar agora é:
http://www.oracle.com/technetwork/pt/java/javase/downloads/jce-7-download-432124.html

Segue o procedimento utilizado nas máquinas classea, classee e classef.

[code]

@Markenson testei com minha matrícula e deu certo em hmg, você poderia refazer o seu teste?

[2015-01-22 13:07] AndDeluiz commented on #83
Habilitei o SELinux em todas as máquinas do ambiente HMG após verificar que não haviam mensagens de bloqueio a recursos utilizados pelas aplicações.
Favor testar e reabrir o issue caso hajam problemas.

[2015-01-22 13:07] #83 closed

[2015-01-22 13:08] hodrigohamalho commented on #112
Testei em homologação e também não está ocorrendo em homologação. Talvez tenha sido solucionado através de outra correção.

Poderia testar novamente @Chrystinne ?

[2015-01-22 13:12] Chrystinne commented on #112
@hodrigohamalho Ok. Vou testar.

[2015-01-22 13:13] kmacedovarela commented on #106
A recomendação é que as aplicações play se adequem ao padrão de configuração de sequence, alterando nos modelos a seguinte configuração para os Ids com geração automatica:

Antes:
@Id
@GeneratedValue
public Long id;

Depois:
@Id
@GeneratedValue(strategy = GenerationType.SEQUENCE, generator = "hibernate_sequence_generator")
@SequenceGenerator(name = "hibernate_sequence_generator", sequenceName="NOM

[2015-01-22 13:13] #106 closed

[2015-01-22 13:28] kmacedovarela commented on #112
Validado e ok.

[2015-01-22 13:28] #112 closed

[2015-01-22 13:36] kmacedovarela commented on #111
Problema resolvido, caso o email não seja enviado, favor abrir nova issue

[2015-01-22 13:36] #111 closed

[2015-01-22 13:47] hodrigohamalho opened #118 "Aplicar o tuning do "random" na JVM"
O @Markenson  já havia alertado sobre este tuning, olhando o script docker que ele fez: https://github.com/projeto-siga/docker/blob/master/src/main/resources/ctxs/jboss/Dockerfile
me lembrei dessa alteração.

To criando essa issue para isso não cair no esquecimento.

[2015-01-22 13:57] kmacedovarela commented on #116
Resolvido configurando-se a permissão ao acesso ao codemirror
c93fcafae9609d4f55e79fd76c400a2081e87bf0

[2015-01-22 13:57] #116 closed

[2015-01-22 14:00] Chrystinne commented on #109
@kmacedovarela Está disponível na versailles (porta 8280). O Edson acabou de testar e tanto o Siga-Sr quando Siga-Gc estão acessíveis.

[2015-01-22 14:04] Markenson commented on #113
Testei aqui e continou com erro. Vou atualizar meu SOAP UI pra ver se é problema do cliente.

[2015-01-22 14:07] Chrystinne opened #119 "[Siga-Gc] Erro ao excluir conhecimento"
-Ilustração:
![captura_de_tela_012215_120558_pm](https://cloud.githubusercontent.com/assets/4949149/5856982/07d1e9a8-a22f-11e4-885c-f8545a10c211.jpg)

-Como reproduzir:
1. Criar um novo conhecimento ou acessar um conhecimento existente (http://siga-hmg/sigagc/app/exibir?sigla=TMPGC-2149);
2. Clicar em "Duplicar";
3. Clicar em "Excluir";

[2015-01-22 14:19] Markenson commented on #113
Fiz uma noma importação do WSDL e funcionou. Uma coisa que está diferente é a tag <soap.address> que na siga-hmg está colocando o ip e a porta da máquina e na sigat, por exemplo, está resolvendo o nome da máquina e na porta padrão. Se for possível, é melhor que a tag <soap.address>  seja alterada para usar o nome em vez do ip.

na siga-hmg: <soap:address location="http://10.10.0.68:8380/siga/servi

[2015-01-22 14:24] Chrystinne opened #120 "[Siga-Sr] Gravação dos próximos andamentos da solicitação está duplicada"
-Ilustração:
![captura_de_tela_012215_122409_pm](https://cloud.githubusercontent.com/assets/4949149/5857286/92449c82-a231-11e4-8862-35b24c91d043.jpg)

-Como reproduzir:
1. Acessar a solicitação JFRJ-SR-2015/00043 (pode tentar ir pelo link http://siga-hmg/sigasr/solicitacao/exibir?id=436&todoOContexto=false&ocultas=false);
2. Preencher andamento com texto qualquer e clicar em "Gravar";

[2015-01-22 14:34] Chrystinne opened #121 "[Siga-Sr] Inclusão de pendência duplicada"
-Ilustração:

![captura_de_tela_012215_123056_pm](https://cloud.githubusercontent.com/assets/4949149/5857403/a4a2a95e-a232-11e4-834e-6c1fbe226fef.jpg)

-Como reproduzir:
1. Acessar a solicitação JFRJ-SR-2015/00045.02 (pode tentar ir pelo link http://siga-hmg/sigasr/solicitacao/exibir?id=440&todoOContexto=false&ocultas=false);
2. Clicar em Incluir Pendência;
3. Preencher com dados quaisquer e clica

[2015-01-22 14:42] kmacedovarela commented on #109
Através desta URL não consegui acessar, estou acessando do modo correto? Entrei com o usuário do markenson.

http://versailles:8280/siga/

![capturar](https://cloud.githubusercontent.com/assets/253186/5857578/09b0edc8-a234-11e4-975e-951fc2a51b65.PNG)

[2015-01-22 15:00] Chrystinne commented on #109
Realmente, agora o Edson não está mais conseguindo acessar da máquina dele também. Serve o deploy na Sigat?

[2015-01-22 15:04] Chrystinne opened #122 "[Siga-Sr] Erro 500 ao fechar solicitação e ao incluir em lista"
-Como reproduzir:

Opção "Incluir em lista":
1. Criar uma nova solicitação ou acessar uma existente (pode tentar pelo link http://siga-hmg/sigasr/solicitacao/exibir?id=445&todoOContexto=false&ocultas=false);
2. Clicar no link "Incluir em Lista", selecionar uma das listas e clicar no botão "Selecionar lista";

Opção "Fechar":
1. Clicar no link "Fechar"

[2015-01-22 15:11] Chrystinne commented on #109
@kmacedovarela Tenta novamente agora na versailles (8280). Pra mim agora está ok.

[2015-01-22 15:20] hodrigohamalho commented on #113
Configuração feita via cli:
/profile=sigadoc/subsystem=webservices:write-attribute(name=wsdl-host,value=siga-hmg)
/profile=sigadoc/subsystem=webservices:write-attribute(name=wsdl-port,value=80)

ficou assim: <soap:address location="http://siga-hmg:80/siga/servicos/GiService"/>

Qualquer outra coisa a gente reabre a issue, fecharei por enquanto.

[2015-01-22 15:20] #113 closed

[2015-01-22 15:32] kmacedovarela commented on #122
Testei no chrome e no IE agora e não ocorreu, pode ter sido apenas manutenção nos servidores, se ocorrer novamente favor reabrir.

[2015-01-22 15:32] #122 closed

[2015-01-22 15:53] andresousa17 opened #123 "Erro na Chamada de WebServices no Formulário de Solicitação de Deslocamento"
Não está funcionando a chamada dos Webservices de consulta de cidades e de dados Bancários no modelo "Formulário - Formulário de Solicitação de Deslocamento".

Como reproduzir Erro no campo Cidade:

1 - Clicar no botão Novo na tela inicial.
2 - Selecionar o Tipo "Formulário"
3 - Selecionar o Modelo "Formulário de Solicitação de Deslocamento"

Página com Erro no Campo Cidade

![image](https://cloud

[2015-01-22 16:42] Chrystinne commented on #66
Erro não ocorre mais na Siga-Dev nem na Siga-Hmg.

[2015-01-22 16:42] #66 closed

[2015-01-22 17:10] kmacedovarela opened #124 "Warn sobre performance na máquina de produção"
Para não esquecer de resolver.

15:08:04,574 WARN  [org.jgroups.protocols.UDP] (ServerService Thread Pool -- 53) JGRP000014: the send buffer of socket DatagramSocket was set to 640KB, but the OS only allocated 212,99KB. This might lead to performance problems. Please set your max send buffer in the OS correctly (e.g. net.core.wmem_max on Linux)
15:08:04,575 WARN  [org.jgroups.protocols.UDP] (Serve

[2015-01-22 17:32] kmacedovarela opened #125 "Importar propriedades em produção"
Importar propriedades do siga.properties e sigasgp.properties no ambiente de produção

[2015-01-22 18:05] jmolivei opened #126 "Menu das aplicações play diferem do menu das outras aplicações"
O menu principal do SIGA, quando acessado por contextos de aplicação em PLAY, está diferente do menu principal do SIGA acessado pelas outras aplicações. Isso se deve , porque estas informações, assim como o Titular e o Substituto eram carregadas pelo módulo siga-play-module , que na versão para o EAP 6 não contempla estas alterações, por causa que essas informações  precisam de autenticação.

[2015-01-22 18:05] Chrystinne commented on #107
De fato, esse erro ocorreu 2 ou 3 vezes, mas pode ter se repetido por esse motivo. Como já acessei  diversos documentos e não voltou a acontecer, vou fechar a issue.

[2015-01-22 18:05] #107 closed

[2015-01-22 18:08] kmacedovarela commented on #126
Problema realmente acontece e está relacionado a forma como o siga-play-module faz chamadas para o siga para obter o menu, pois é barrado pelo picketlink. Necessita de analise e reimplementação de trecho do código.

[2015-01-22 18:12] AndDeluiz commented on #124
Alteradas configurações de kernel para adequação aos requisitos da aplicação no ambiente de produção.

#==============================================================================#
# JBoss Settings                                                               #
#==============================================================================#

# Do less swapping
# Default: vm.swappiness = 30
vm.s

[2015-01-22 18:12] #124 closed

[2015-01-22 18:12] kmacedovarela opened #127 "Warn sobre performance na máquina de homologação"
Para não esquecer de resolver.

15:08:04,574 WARN org.jgroups.protocols.UDP JGRP000014: the send buffer of socket DatagramSocket was set to 640KB, but the OS only allocated 212,99KB. This might lead to performance problems. Please set your max send buffer in the OS correctly (e.g. net.core.wmem_max on Linux)
15:08:04,575 WARN org.jgroups.protocols.UDP JGRP000014: the receive buffer of socket Datag

[2015-01-22 18:15] AndDeluiz commented on #124
Alteradas configurações de sistema (/etc/sysctl.d/99-sysctl.conf) para atendimento as demandas de aplicativo.

[2015-01-22 18:19] AndDeluiz commented on #127
Alteradas configurações de kernel (/etc/sysctl.d/99-sysctl.conf) para atendimento as demandas da aplicação em todo o ambiente de HMG.

[2015-01-22 18:19] #127 closed

[2015-01-22 18:20] hodrigohamalho opened #128 "remover cluster de homologação"

[2015-01-22 18:21] hodrigohamalho commented on #128
Feito, os profiles, de ejb, infinispan, web tiveram que ser refeitos e removidos toda configuração de cluster.
O impacto disso é que estavam se comunicando com outras máquinas, e gerando confusão no modcluster, além do que impedia que as instâncias fossem testadas de forma isolada.

[2015-01-22 18:21] #128 closed

[2015-01-22 18:23] andresousa17 opened #129 "Erro na url de Atualização do Documentos Publicados no DJE"
Existe um sistema na máquina senic chamado "atualizarPublicacaoDJE.jar" que acessa a url "http://siga/sigaex/externo/atualizar_publicacao.action" para atualizar os documentos que foram publicados no DJE.

Quando apontamos para o endereço na siga-hmg o sistema está retornando para o sigaidp. Esta url precisa estar aberta.

Como Testar:
1 - Importar o projeto siga-ext-receber-dje
2 - Na classe Main

[2015-01-22 18:28] hodrigohamalho commented on #129
esse que roda com cron?

[2015-01-22 18:33] andresousa17 commented on #129
Roda no cron

[2015-01-22 21:52] #109 closed

[2015-01-22 21:56] kmacedovarela commented on #108
Estava relacionado a problemas de encoding resolvidos em 92079df090efc70aafc9990cc383013318fe834b

[2015-01-22 21:56] #108 closed

[2015-01-22 22:26] kmacedovarela commented on #104
Como eu testo a a publicação no DJE?

[2015-01-22 22:29] kmacedovarela commented on #103
Resolvido 92079df090efc70aafc9990cc383013318fe834b

[2015-01-22 22:29] #103 closed

[2015-01-22 22:30] kmacedovarela commented on #97
resolvido na 92079df090efc70aafc9990cc383013318fe834b

[2015-01-22 22:30] #97 closed

[2015-01-22 22:33] kmacedovarela commented on #102
@hodrigohamalho já viu esse né.

20:32:38,614 INFO  [br.gov.jfrj.siga.base.SigaHTTP] (http-/10.10.0.69:8380-52) Nao encontrou o set-cookie
20:32:38,615 INFO  [br.gov.jfrj.siga.base.SigaHTTP] (http-/10.10.0.69:8380-52) retornando string vazia
20:32:38,616 ERROR [stderr] (http-/10.10.0.69:8380-52) java.lang.NullPointerException
20:32:38,617 ERROR [stderr] (http-/10.10.0.69:8380-52)  at br.gov.jfrj.s

[2015-01-22 22:44] kmacedovarela commented on #69
Feito.

[2015-01-22 22:44] #69 closed

[2015-01-22 22:47] kmacedovarela commented on #61
Modelos freemarker que foram salvos com problema de encoding permanecerão com problemas até que seja salvo novamente com as devidas correções pois foi já foi salvo com erro.
Os novos modelos salvos não possuirão problemas de encoding.

O problema de encoding foi resolvido em resolvido em 92079df090efc70aafc9990cc383013318fe834b

[2015-01-22 22:47] #61 closed

[2015-01-22 22:48] kmacedovarela commented on #48
O problema de encoding foi resolvido em 92079df090efc70aafc9990cc383013318fe834b

[2015-01-22 22:48] #48 closed

[2015-01-22 23:26] kmacedovarela commented on #119
Não recebi mais erros, acredito que tenha sido resolvido. Caso o erro volte a acontecer, favor reabrir a issue.

ao executar obtive a seguinte saida

21:23:48,514 INFO  [br.gov.jfrj.siga.ex.util.PublicacaoDJEBL] (http-/10.10.0.69:8180-2) DJE Busca Publicacoes 19/01/2015:<?xml version="1.0" encoding="utf-8"?><RETORNOPUBLICACAO />
21:23:53,538 INFO  [br.gov.jfrj.siga.ex.util.PublicacaoDJEBL] (http-/

[2015-01-22 23:28] kmacedovarela commented on #119
Reabrindo issue, erro técnico.

[2015-01-22 23:28] kmacedovarela commented on #129
Não recebi mais erros, acredito que tenha sido resolvido. Caso o erro volte a acontecer, favor reabrir a issue.

ao executar obtive a seguinte saida

21:24:17,698 INFO  [br.gov.jfrj.siga.ex.util.PublicacaoDJEBL] (http-/10.10.0.69:8180-3) DJE Busca Publicacoes 19/01/2015:<?xml version="1.0" encoding="utf-8"?><RETORNOPUBLICACAO />21:24:17,853 INFO  [br.gov.jfrj.siga.ex.util.PublicacaoDJEBL] (http-/1

[2015-01-22 23:28] #129 closed

[2015-01-22 23:37] kmacedovarela commented on #120
Não está mais ocorrendo.  Caso ocorra, favor reabrir

[2015-01-22 23:37] #120 closed

[2015-01-22 23:38] kmacedovarela commented on #121
Não está mais ocorrendo.

[2015-01-22 23:38] #121 closed

[2015-01-22 23:42] kmacedovarela commented on #119
@esredson este mesmo erro ocorre na sigat, você poderia verificar?

[2015-01-22 23:45] kmacedovarela commented on #110
Mesmo erro da #105

[2015-01-22 23:47] kmacedovarela commented on #57
Testei no IE, no ambiente de homologação e funcionou.

[2015-01-22 23:47] #57 closed

[2015-01-23 12:48] kmacedovarela opened #130 "[Duvida] arquivos no /home/jboss/"
@Markenson  no siga properties existem várias propriedades referenciando arquivos, semelhante a propriedade abaixo:
"siga.cd.ext.politica.oid.2.16.76.1.7.1.2.1" - "/home/jboss/sigadoc_resource/policy/icp-brasil/v1/cades/PA_AD_RT.der"/

Estes arquivos são utilizados ou já estão "deprecated"?

[2015-01-23 13:12] Markenson commented on #130
São utilizados ainda.

[2015-01-23 13:28] #130 closed

[2015-01-23 13:29] kmacedovarela opened #131 "Copiar arquivos policies para servidores de homologação e produção"
Copiar arquivos utilizados pelo siga propeties, por exemplo:

siga.cd.ext.politica.oid.2.16.76.1.7.1.2.1
/home/jboss/sigadoc_resource/policy/icp-brasil/v1/cades/PA_AD_RT.der

[2015-01-23 13:30] kmacedovarela opened #132 "Copiar arquivos policies para servidores de desenvolvimento"
Mesmo que #131 porém no ambiente com docker.

[2015-01-23 14:00] jmolivei commented on #106
Para efeito de documentação relato que ontem descobrimos uma forma de contornar o problema da propriedade HIBERNATE.DEFAULT_SCHEMA, que o play 1.3 capturava como HIBERNATE_SCHEMA. Repassamos para a Karina um e-mail explicando uma situação de contorno para o problema que seria configurar a propriedade de forma a enganar o play 1.3 e ele capturar a informação correta. A propriedade deve ser configur

[2015-01-23 15:02] kmacedovarela commented on #106
Muito bom, se aplica a todos os módulos play!!! Obrigada João!!

[2015-01-23 15:20] andresousa17 commented on #104
1 - Criar um documento Físico do Tipo: Portaria  e Modelo: Portaria
2 - Finalizar o Documento
3 - Fazer o Registro de Assinatura.
4 - Clicar no link "Agendar Publicação no DJE";
5 - Clicar no botão "Visualizar publicação";

[2015-01-23 16:27] hodrigohamalho opened #133 "Migrar o com.ittru.legacy.jb4-cfx_1.1.0.war"
Esse war, não encontrei os fontes. Pelo que sei nem mesmo foi desenvolvido pela equipe do siga. Alguém sabe onde tá esses fontes?

@Markenson  @crivano  ?

[2015-01-23 16:34] hodrigohamalho commented on #125
feito.

Foi utilizado o script properties-manager.sh, criado com esse intuito.
Script pode ser localizado em /opt/jboss/bin.

[2015-01-23 16:34] #125 closed

[2015-01-23 16:40] Markenson commented on #133
Acho que não temos mesmo porque foi desenvolvido pela ittru. Se não me engano elea iam liberar os fontes. Se já liberaram devem estar com o @crivano

[2015-01-23 16:54] Chrystinne commented on #119
Resolvido problema de integridade referencial na base HOMOLO.

[2015-01-23 16:54] #119 closed

[2015-01-23 16:57] AndDeluiz commented on #71
Este diretório não é utilizado para nenhuma funcionalidade nos scripts de inicialização nem no script domain.sh.
Vou retirar as referências no script de inicialização e testar.

[2015-01-23 16:58] AndDeluiz commented on #81
No RHEL/CentOS 7 a nomenclatura das interfaces de rede mudou. Vamos trabalhar com uma variável para indicação do IP que o JBoss deve fazer o bind.

[2015-01-23 16:58] #81 closed

[2015-01-23 18:34] hodrigohamalho commented on #131
Done.

[2015-01-23 18:34] #131 closed

[2015-01-23 21:22] Markenson opened #134 "[Siga] Quadros repetidos"
Ao entrar no SIGA o quadro de expediente deixou de ser exibido e passou a exibir o mesmo quado do processo administrativo. Isso ocorre de forma intermitente.

Como reproduzir:

Basta fazer login no SIGA

Exemplo:
![quadros repetidos](https://cloud.githubusercontent.com/assets/2985140/5882930/07ebae90-a335-11e4-863b-9d6db887a449.png)

[2015-01-23 21:26] hodrigohamalho commented on #134
#114 #82

[2015-01-23 21:28] Markenson commented on #134
Só pra ilustrar, ocorre entre outros módulos tb.

![image](https://cloud.githubusercontent.com/assets/2985140/5883040/03120d3c-a336-11e4-84bf-22b85a3c135b.png)

[2015-01-23 21:31] #98 closed

[2015-01-23 23:13] hodrigohamalho opened #135 "Problema de encoding em produção"
![capturar](https://cloud.githubusercontent.com/assets/252998/5884444/afbf8722-a344-11e4-8022-0f485611606d.PNG)

[2015-01-23 23:23] kmacedovarela commented on #123
@andresousa17  Coloquei breakpoint nestes métodos webservice e parseXML da classe FuncoesEl.java e quando executo ambos os fluxos nenhum dos dois métodos é chamado. Na segunda feira se você puder, verei com você como é funcionamento dessas macros.

[2015-01-23 23:51] kmacedovarela commented on #92
Os devidos erros relacionados a migração para o  EAP 6 foram resolvidos.

**Observação importante:**
O mesmo teste foi realizado nos três ambientes: desenvolvimento, homologação e produção, a conclusão foi a seguinte:

Este é um errado absolutamente relacionado a diferença de encodings no banco de dados e/ou a forma como a string está salva no banco e é processada no código. O erro ocorre devido a

[2015-01-23 23:51] #92 closed

[2015-01-23 23:51] kmacedovarela commented on #93
#92

[2015-01-23 23:51] #93 closed

[2015-01-23 23:51] kmacedovarela commented on #94
#92

[2015-01-23 23:51] #94 closed

[2015-01-23 23:53] hodrigohamalho commented on #118
#
# The entropy gathering device is described as a URL and can also
# be specified with the system property "java.security.egd". For example,
#   -Djava.security.egd=file:/dev/urandom
# Specifying this system property will override the securerandom.source
# setting.

De acordo com esse comentário, esse tuning foi feito através do parâmetro:
[code]

[2015-01-23 23:55] hodrigohamalho commented on #118
Parâmetro aplicado em homologação e produção.

[2015-01-23 23:55] #118 closed

[2015-01-23 23:58] kmacedovarela opened #136 "[Equipe SigaDOC] Verificar geração de documentos - Diferentes encodings no banco"
É necessário que a equipe verifique como lidar com a geração de documentos quando utilizando bancos com encodings diferentes. Erro impacta diretamente no ambiente de homologação

Problema relatado no fechamento da issue #92

[2015-01-24 00:04] kmacedovarela opened #137 "Separar siga.war na instância 03"
Por questões de urgência na disponibilização dos ambientes, como forma de mitigação dos erros #105 e #110 o sistema siga foi disponibilizado na mesma instância que o sigaex.

Este não é o planejado para a arquitetura do SIGA, e o problema será analisado com calma assim que possível

[2015-01-24 00:04] kmacedovarela commented on #110
#137

[2015-01-24 00:04] #110 closed

[2015-01-24 00:04] kmacedovarela commented on #105
#137

[2015-01-24 00:04] #105 closed

[2015-01-24 00:05] kmacedovarela commented on #135
Corrigido nas propriedades do siga

[2015-01-24 00:05] #135 closed

[2015-01-24 00:09] kmacedovarela commented on #136
Obs: existem fluxos que exibem o mesmo texto no ambiente de homologação, que não possuem este erro, como por exemplo:

Acessar: http://siga-hmg/sigaex/expediente/doc/editar.action
Clicar em: visualizar documento.

[2015-01-26 11:39] kmacedovarela commented on #117
Alguém da equipe poderia elencar quais são estes JOBS, com seu respectivo repositório?

[2015-01-26 11:42] kmacedovarela commented on #104
@Chrystinne  ou @andresousa17 esse teste pode ser realizado no ambiente de produção beta (lembrando que este ambiente aponta para o banco de produção) ?

[2015-01-26 12:48] kmacedovarela opened #138 "Menus no ambiente de produção beta desatualizados"
Atualizar os links do menu no ambiente de produção
Ex; SigaRH para sigarh

[2015-01-26 13:24] kmacedovarela commented on #138
Alterado nas propriedades.

[2015-01-26 13:24] #138 closed

[2015-01-26 14:07] Markenson commented on #117
Os projetos que estão agendados no CRON são:

**siga-cp-sinc** (repo:*github*)		 - importa dados do XML para o corporativo
**siga-cp-sinc-ext-filter** (repo:*k*) - remove informações sensíveis do XML antes de ser exportado para empresa externa.
**siga-cp-sinc-ext-ldap**	(repo:*k*) - importa dados do corporativo para o Active Diretory
**siga-cp-sinc-ext-matrix**	(repo:*k*) - importa dados do corpor

[2015-01-26 14:25] andresousa17 commented on #104
Esse teste do DJE só pode ser feito no ambiente beta com documentos do tipo "Formulário" modelo "Publicação no DJF2R" e preencher o campo lotação de origem com o valor "STI-MJB".

Obs: Para acessar esse formulário vocês precisam entrar como substitutos da SESIA. Já cadastrei essa permissão para vocês.

Para entrar como substituto da SESIA bastar acessar o menu "Siga->Substituir" e clicar no nome d

[2015-01-26 14:33] kmacedovarela commented on #104
@andresousa17 seria possível você realizar este teste enquanto adiantamos outras issues? Caso o erro ocorra, tomaremos providências.

[2015-01-26 14:38] hodrigohamalho commented on #136
https://developer.jboss.org/thread/199128

Pode ajudar.

[2015-01-26 14:39] andresousa17 commented on #104
@kmacedovarela Fiz o teste e continua dando erro. O documento de publicação está saindo em branco.

[2015-01-26 14:41] kmacedovarela commented on #104
Obrigada!

[2015-01-26 14:53] Markenson opened #139 "[Siga-Doc] Editor de textos indisponível ao alterar o tipo do destinatário do documento"
Ao editar um novo documento, se alterar o destinatário o editor de textos deixa de ser exibido

Como reproduzir:

1. Crie um novo documento
2. Altere o tipo de destinatário para "Matrícula"

Imagem:
![image](https://cloud.githubusercontent.com/assets/2985140/5901499/1d44b206-a55a-11e4-8307-5341b3ff246e.png)

[2015-01-26 14:56] kmacedovarela opened #140 "Proxy Error no primeiro acesso depois de iniciar o servidor"
Primeiro acesso a um módulo, as vezes lança esse erro no apache em menos de 20 segundos:

Proxy Error
The proxy server received an invalid response from an upstream server.
The proxy server could not handle the request GET /sigatp/.
Reason: Error reading from remote server

[2015-01-26 15:12] Markenson commented on #92
Exite a possibilidade da exibição em branco não ser no encoding. No siga.properties há algumas propriedades com os ids de alguns modelos (isso precisa ser melhorado no futuro). Favor verificar quais valores estão configurados para as propriedades abaixo (extraídas da SIGAT)

siga.ex.treina.modelos.interno_importado = 1219
siga.ex.treina.modelos.processo_administrativo = 544

[2015-01-26 15:13] kmacedovarela opened #141 "Erros de encoding em código"
Algumas classes com formato cp1252 ou iso-8859-1 estão com problema de encoding no texto da própria classe, jsp, ftl, etc..
Desta maneira, mensagens de erro são exibidas com caracteres errados.

[2015-01-26 15:13] Markenson commented on #136
@kmacedovarela Você tem alguma URL de exemplo que esteja apresentando o problema?

[2015-01-26 15:54] Markenson opened #142 "[Siga-Doc] Assinatura em lote (digital) não está funcionando"
Após realizar a assinatura em lote, nenhum documento é efetivamente assinado.

Como reproduzir

1. Clique em Siga/Módulos/Documentos
2. Clique em Documentos/Assinar em lote
3. Selecione pelo menos 1 documento
4. Clique em assinar em lote
5. A barra de progresso indica que o processo de assinatura está ocorrendo
6. Ao acessar o documento, percebe-se que ainda não foi assinado.

imagem:
![image](htt

[2015-01-26 15:57] Markenson opened #143 "[Siga-Doc] Assinatura em lote (com senha) não está funcionando"
Após realizar a assinatura em lote, nenhum documento é efetivamente assinado.

Como reproduzir:

1. Clique em Siga/Módulos/Documentos
2. Clique em Documentos/Assinar em lote
3. Selecione pelo menos 1 documento
3. Clique em assinar com senha
5. A barra de progresso indica que o processo de assinatura está ocorrendo
6. Ao acessar o documento, percebe-se que ainda não foi assinado.

imagem:
![image](

[2015-01-26 16:21] hodrigohamalho commented on #141
Como no JBoss em produção (o antigo inclusive) está setado para UTF-8, o correto seria no pom.xml de cada projeto (ou no master), adicionar o seguinte trecho de código:

[code]

Isso obriga o maven a compilar tudo como UTF-8, o que pude verificar é que no código do sigagc por exemplo, tem classes em diversos formatos, com isso algumas coisas funcionam outras não.

Quando não tem encoding setado o

[2015-01-26 16:24] hodrigohamalho opened #144 "[sigaex] Erro ao assinar documento digitalmente"
O Gustavo reportou este bug via e-mail.

Passos para reproduzir:
1.       Na tela inicial existia um documento na minha “caixa Despacho Pendente de Assinatura” dos “Processos Administrativos”
2.       Cliquei sobre o número para listar os documentos da “caixa Despacho Pendente de Assinatura” dos “Processos Administrativos”
3.       O sistema exibiu o documento que está pendente de assinatura
4.

[2015-01-26 16:50] kmacedovarela opened #145 "SigaWF links não funcionam"
Trecho da stacktrace.

 ERROR [br.gov.jfrj.siga.libs.webwork.SigaExceptionHandler] (http-/10.10.0.69:8180-11) org.apache.cxf.service.factory.ServiceConstructionException: Failed to create service. URL: http://siga-hmg/sigawf/task.action?tiId=164953 User: RJ13286: javax.xml.ws.WebServiceException: org.apache.cxf.service.factory.ServiceConstructionException: Failed to create service.
        at org.

[2015-01-26 18:17] herval2003 opened #146 "link "esqueci minha senha" não funciona"
![esqueciminhasenha](https://cloud.githubusercontent.com/assets/8865562/5905367/d9b1d2cc-a576-11e4-84ef-cbb859345db3.jpg)

[2015-01-26 18:17] kmacedovarela commented on #60
Quando dá esse erro, os seguinte log é lançado:
16:17:25,516 ERROR [br.gov.jfrj.siga.libs.webwork.SigaExceptionHandler] (http-localhost/127.0.0.1:8443-4) Código do tipo de marca (Processos ou Expedientes) não foi informado URL: https://localhost:8443/sigaex/expediente/doc/gadget.action?idTpFormaDoc=1&apenasQuadro=true&_=1422296241685 User: RJ13286: java.lang.Exception: Código do tipo de marca (Pro

[2015-01-26 18:18] herval2003 commented on #146
![maisdetalhes](https://cloud.githubusercontent.com/assets/8865562/5905397/fc588dde-a576-11e4-9c04-dd85bd061227.jpg)

[2015-01-26 18:19] herval2003 commented on #146
![mensagemerro01](https://cloud.githubusercontent.com/assets/8865562/5905410/194718f2-a577-11e4-8ee2-f5d64fe42a9d.jpg)

[2015-01-26 18:19] kmacedovarela commented on #146
Este erro foi corrigido nas versões mais recentes porém, devido à urgência da disponibilização do ambiente de produção, têm se priorizado a atualização do ambiente espelho ao produção: homologação.

Assim o ambiente de desenvolvimento for atualizado, acredito que este erro seja solucionado.
Volto nesta issue assim que possível.

[2015-01-26 18:21] herval2003 commented on #146
O username é o mesmo para os ambientes de homologação, desenvolvimento e produção. Porém a password teve que ser recadastrada três vezes. No ambiente siga-dev eu não consegui fazê-lo; deu esse erro dos .jpg acima.

[2015-01-26 18:21] #146 closed

[2015-01-26 18:25] kmacedovarela opened #147 "Liberar porta 6667 no firewalld e selinux"
Em todo o ambiente de produção

[2015-01-26 19:07] gmbbarreto opened #148 "Pesquisa de documento não retorna documento pesquisado"
A funcionalidade pesquisa documento não retornou o documento JFRJ-DES-2015/00647 no novo ambiente ("http://siga-beta/siga").

[2015-01-26 19:10] kmacedovarela commented on #148
Esta pesquisa é a barrinha de busca no topo direito do siga?

[2015-01-26 20:21] kmacedovarela commented on #148
Issue #102 duplicada.

[2015-01-26 20:43] herval2003 commented on #146
:-),
Abraços, Herval. (3218-9092)

________________________________
De: Karina Macedo Varela [notifications@github.com]
Enviado: segunda-feira, 26 de janeiro de 2015 16:20
Para: projeto-siga/siga
Cc: Herval Lemos Do Amaral Junior
Assunto: Re: [siga] link "esqueci minha senha" não funciona (#146)

Este erro foi corrigido nas versões mais recentes porém, devido à urgência da disponibilização do ambi

[2015-01-26 21:29] kmacedovarela commented on #123
@andresousa17  conhece este erro?
19:28:25,710 ERROR [freemarker.runtime] (http-localhost/127.0.0.1:8443-2) Error executing FreeMarker template: freemarker.core._MiscTemplateException: Macro "texto" has no such argument: somenteLeitura

The failing instruction (print stack trace for 24 more):
==> @texto titulo="Banco" var=("banco" + ...  [in template "Formulário de Solicitação de Deslocamento" at

[2015-01-26 21:41] kmacedovarela commented on #123
O erro acima ocorre localmente (mclaren), mas não ocorre no ambiente de homologação.

6f796ae2503e07c84b585540ceebadd36a9415f2

[2015-01-26 21:41] #123 closed

[2015-01-26 21:42] kmacedovarela commented on #45
Feito 6f796ae2503e07c84b585540ceebadd36a9415f2

[2015-01-26 21:42] #45 closed

[2015-01-27 12:34] kmacedovarela opened #149 "[Dúvida] Erro ao agendar publicação no DJE"
O erro reportado em #101 foi resolvido porém os seguintes problemas foram encontrados:

Ao testar com o documento:
 http://siga-hmg/sigaex/expediente/mov/agendar_publicacao.action?sigla=JFRJ-POR-2015%2F00004

O cliente retorna uma mensagem de erro. Na classe PublicacaoDJEBL.java:244 é realizado o teste
[code]
Porém, "DESCRICAO" não existe. O retornado pela publicação foi:
[code]
A exceção não foi

[2015-01-27 12:34] #101 closed

[2015-01-27 12:36] kmacedovarela commented on #149
Obs: O documento também dá outro erro quando testado na SigaT
[code]

[2015-01-27 12:37] #145 closed

[2015-01-27 12:37] kmacedovarela commented on #136
@Markenson quando me deparar com uma, volto a postar.

[2015-01-27 13:01] AndDeluiz commented on #71
Fiz os testes em homologação sem a referência a este diretório e tudo funciona perfeitamente com o script jboss-init.sh.

[2015-01-27 13:01] #71 closed

[2015-01-27 16:12] kmacedovarela opened #150 "Copiar arquivos de template (xhtml.dtd) para docker"
Copiar para a pasta /home/jboss/

xhtml.dtd
xhtml-symbol.ent
xhtml-special.ent
xhtml-lat1.ent

[2015-01-27 17:23] AndDeluiz commented on #147
Porta liberada no firewalld e regras criadas no SELinux no servidor Apache do ambiente PROD.
Pode testar e se houver algum problema, reabra o issue.

[2015-01-27 17:23] #147 closed

[2015-01-27 17:28] AndDeluiz opened #151 "Configurar e habilitar SELinux em servidores JBoss do ambiente PROD"

[2015-01-27 17:29] AndDeluiz opened #152 "Configurar regras e habilitar firewalld nos servidores JBoss em ambiente PROD"

[2015-01-27 19:32] kmacedovarela commented on #104
O seguinte erro está ocorrendo:

16:31:40,116 ERROR [stderr] (http-/10.10.0.69:8180-124)
16:31:40,322 ERROR [org.apache.fop.fo.FOTreeBuilder] (http-/10.10.0.69:8180-124) org.xml.sax.SAXParseException; lineNumber: 0; columnNumber: 0; java.lang.IllegalStateException: endElement() called for fo:root where there is no current element.
16:31:40,323 ERROR [stderr] (http-/10.10.0.69:8180-124) SystemId De

[2015-01-27 19:40] hodrigohamalho commented on #144
Corrigido.
As urls que montagem as requisições dos certificados eram montadas considerando as portas local do servidor. Com isso quando a requisição era submetidas ao apache, ia com a porta do deploy no jboss, algo parecido com isso:

siga-hmg:8180/sigaex

O apache só responde na porta 80 e 443, não entende o que é 8180.
O que fiz foi relativizar todas urls, pra pegar a partir do contexto, ex:
/si

[2015-01-27 19:40] #144 closed

[2015-01-27 19:41] hodrigohamalho commented on #142
Corrigido.
As urls que montagem as requisições dos certificados eram montadas considerando as portas local do servidor. Com isso quando a requisição era submetidas ao apache, ia com a porta do deploy no jboss, algo parecido com isso:

siga-hmg:8180/sigaex

O apache só responde na porta 80 e 443, não entende o que é 8180.
O que fiz foi relativizar todas urls, pra pegar a partir do contexto, ex:
/si

[2015-01-27 19:41] #142 closed

[2015-01-27 19:55] hodrigohamalho commented on #143
Corrigido.

[2015-01-27 19:55] #143 closed

[2015-01-27 20:10] hodrigohamalho commented on #132
Local:
/usr/java/jdk1.7.0_71/jre/lib/security

Endereço do arquivo com os libs: classea:/home/hjbossadmin/UnlimitedJCEPolicyJDK7.zip

[2015-01-28 13:04] AndDeluiz commented on #132
Arquivos copiados para imagem (build-00020).
Favor testar.

[2015-01-28 13:04] #132 closed

[2015-01-28 13:05] kmacedovarela commented on #132
O teste só pode ser realizado por alguém da equipe, uma vez, que é necessário testar o fluxo de assinatura.
Para tal, deve-se disponibilizar a versão mais recente do siga no ambiente de dev.

[2015-01-28 14:11] kmacedovarela commented on #136
@Markenson
Teste na versailles:8280 e na sigat o seguinte procedimento, verá que na versailles, o erro de encoding ocorre em um dado recuperado do banco (modelo geral).

- Logar no sistema
- Acessar tela de criação de novo documento
- Clicar com o botão direito no browser e exibir o código fonte da página
- buscar pelo trecho (control + F )
[code]

Logo abaixo verá que na versailles, é exibido o t

[2015-01-28 14:12] kmacedovarela commented on #136
Na própria tela é exibido..
http://versailles:8280/siga/modelo/listar.action

[2015-01-28 16:27] kmacedovarela opened #153 "Modelo não é exibido na tela de consultas de documento"
Uncaught TypeError: Cannot read property 'value' of nulllistar.action?primeiraVez=sim:22 alteraFormaVM2902:1 (anonymous function)

[2015-01-28 16:58] kmacedovarela commented on #153
Mitigado no commit acima.

[2015-01-28 16:58] #153 closed

[2015-01-28 18:06] Markenson commented on #136
@kmacedovarela

O problema do encoding não parece estar relacionado ao banco de dados e sim a forma que o navegador apresentou os dados para o usuário (e depois o usuário enviou os dados alterados para o banco de dados). Comparei as configurações de encoding dos bancos de desenvolvimento, homologação e produção e estão iguais, conforme descrito abaixo:

[code]
[code]

Veja como o modelo geral foi

[2015-01-28 18:28] Andredsf commented on #140
Problema resolvido.

Foram alterados os valores de 3 parâmetros no Mod_Cluster/Networking, são eles;

Socket Timeout: = 30

Stop Context Timeout: = 30

Ping: 31

[2015-01-28 18:29] AndDeluiz commented on #152
Regras configuradas e adicionas para uso.

[2015-01-28 18:31] #140 closed

[2015-01-28 18:42] AndDeluiz commented on #152
Sistema firewalld ativado em todo o ambiente PROD

[2015-01-28 18:42] #152 closed

[2015-01-28 19:42] kmacedovarela commented on #139
O comportamento indesejado foi inserido no código, não era referente a migração em si.
commit: 90d99fd707a30efaf745b61d0e4115859574b786

Para solucionar este problema em específico. Revertido conforme conteúdo existente no arquivo edita.jsp no commit no branch master:
aed2e3e3c1bd3e884cc9465aef97aeba1e8960d9

[2015-01-28 19:42] #139 closed

[2015-01-28 19:52] kmacedovarela commented on #136
Faz sentido Markenson! Obrigada.

Existem sim, devem ser adicionadas as propriedades de sistema:

org.apache.catalina.connector.USE_BODY_ENCODING_FOR_QUERY_STRING = true
org.apache.catalina.connector.URI_ENCODING = UTF-8

E deve-se setar o JBoss para utilizar o encoding via JVM também com o parametro
[code]
A configuração no JBoss ficaria semelhante a abaixo..

[code]

Como o problema foi identifi

[2015-01-28 19:52] #136 closed

[2015-01-28 20:50] Markenson commented on #136
OK, @kmacedovarela.

[2015-01-29 12:00] kmacedovarela opened #154 "Erro no script de inicialização do JBoss"
pwd
   /opt/jboss
 jboss restart
grep: /configuration/host-slave.xml: No such file or directory

Comandos executados como root
o teste foi feito em duas máquinas de homologação (f e b), o erro ocorreu em ambas.

[2015-01-29 12:02] kmacedovarela opened #155 "Liberar porta 8797 no firewall"
Máquina f de homologação.
O firewalld foi desabilitado até q a porta seja liberada

[2015-01-29 12:20] kmacedovarela opened #156 "[Siga-Doc] Erro ao agendar publicação no DJE"
Mais erros de classnotfound (não estavam ocorrendo.)
java.lang.NoClassDefFoundError: org/apache/axis/client/Service -- org/apache/axis/client/Service

[2015-01-29 12:38] AndDeluiz commented on #155
Resolvido. Reaplicada as regras.

[2015-01-29 12:38] #155 closed

[2015-01-29 13:55] AndDeluiz commented on #154
Corrigido no issue anddeluiz/jboss-scripts#1.

[2015-01-29 13:55] #154 closed

[2015-01-29 14:40] AndDeluiz opened #157 "Atualização de scripts jboss-init em abiente PROD"
Atualizar scripts jboss-init com nova versão.

[2015-01-29 14:41] AndDeluiz commented on #157
Atualizado em todas as máquinas JBoss do ambiente PROD

[2015-01-29 14:41] #157 closed

[2015-01-29 16:04] Markenson opened #158 "[Siga-Doc] [Siga-Wf] O workflow não está sendo criado ao criar uma SEC"
Quando um documento com o tipo "Solicitação Eletrônica de Contratação" é assinado, este não está criando o fluxo no siga-wf.

Como reproduzir:
- Na página inicial do SIGA clique no botão **Novo** (abaixo do quadro de documentos)
- Preencha os seguinte campos:
  - Selecione o tipo "Digital"
  - subscritor: RJ13286
  - Destinatário: Matrícula RJ13286
  - Tipo:Solicitação Eletrônica de Contratação

[2015-01-29 17:23] Markenson opened #159 "[Siga-Wf] Erro ao prosseguir no fluxo"
Ao clicar em qualquer botão para prosseguir o fluxo do siga-wf ocorre o seguinte abaixo.

- Como reproduzir:

1.Crie um fluxo conforme descrito em #153
2. Clique em qualquer caminho possível do fluxo, conforme imagem abaixo

![image](https://cloud.githubusercontent.com/assets/2985140/5962391/be27fcec-a7ca-11e4-952c-86053fd2bdd6.png)

- Erro:

[code]

[2015-01-29 17:42] AndDeluiz commented on #150
Aguardando disponibilização de novos items para que seja feito um único deploy de imagem.

[2015-01-29 20:24] kmacedovarela commented on #156
Resolvido ff7e4ad597c37dc267f5b0b6425af058595438fc

[2015-01-29 20:24] #156 closed

[2015-01-29 20:26] kmacedovarela commented on #149
O problema era referente a conflitos das bibliotecas utilizadas pelo FOP. Como precisa de versões específicas para funcionar, foi criado um módulo do JBoss. No ambiente de homologação, está dando erro, porém, na SigaT também dá. Caso saibam um fluxo que não dá erro, favor reportar ou testar.

3063b78e0b0d0bb3f951d93aa7f6e6fe2f5c839e c94b4ec23b68f0438c4b323cfb8f41b68ec5a5cc

[2015-01-29 20:26] #149 closed

[2015-01-29 20:26] kmacedovarela commented on #104
Resolvido
#149

[2015-01-29 20:26] #104 closed

[2015-01-29 20:31] kmacedovarela commented on #101
#149

[2015-01-29 20:31] kmacedovarela opened #161 "[SigaDOC]Teste de agendamento no DJE em produção"
No ambiente de homologação, não consegui reproduzir o fluxo com sucesso (nem na sigat), porém o erro que estava ocorrendo que gerava o documento em formato incorreto foi corrigido.

Gostaria de saber se vocês poderiam testar o agendamento no ambiente de produção, com fluxo semelhante ao reportado em #101 :

http://siga-beta/siga

#149

[2015-01-29 20:50] kmacedovarela opened #162 "[Docker] atualização do standalone.xml"
Propriedades no standalone.xml foram atualizadas, da forma como está configurado o docker é necessário atualizar a imagem.

Atentar-se para não esquecer de salvar o arquivo (atentando-se a remover os deploys, exceto ojdbc6 e ckeditor ) antes de gerar nova imagem.

[2015-01-30 12:56] AndDeluiz commented on #151
SELinux habilitado.

[2015-01-30 12:56] #151 closed

[2015-01-30 13:00] kmacedovarela opened #163 "Scripts de inicialização"
Ao executar com usuário hjbossadmin

[hjbossadmin@xxxxx ~]$ jboss-sigarh  start
Starting jboss-as: xxxxxx/jboss-custom.sh: line 121: /tmp/jboss-console-sigarh-dc.log: Permission denied

comportamento correto ao executar o script com outro usuário seria um dos dois descritos abaixo:
1. Pede a senha do usuário jboss e prossegue com execução
2. Dá mensagem de erro, e solicita que o script seja execut

[2015-01-30 14:03] hodrigohamalho opened #164 "[SIGA-DEV] sigaDocker rmi app não está funcionando"

[2015-01-30 14:09] hodrigohamalho opened #165 "Hostname errado na classea"
[root@classea security]# echo $HOSTNAME
classea.corp.jfr.gov.br

[2015-01-30 14:18] AndDeluiz commented on #163
Corrigido e adicionado tratamento de erro de escrita para console log file.

[2015-01-30 14:18] #163 closed

[2015-01-30 17:50] hodrigohamalho commented on #162
resolvi essa issue já, se tiver faltando alguma coisa, favor reabrir.

[2015-01-30 17:52] kmacedovarela commented on #162
É necessário copiar também um novo módulo criado.

copiar o diretorio fop para opt/jboss/modules/sigadoc/

 Diretorio: https://github.com/projeto-siga/siga/tree/migracao-jboss6/configuracao/modulo/sigadoc/fop/

Alteração decorrente de:
https://github.com/projeto-siga/siga/issues/149

[2015-01-30 17:53] kmacedovarela commented on #162
É necessário ainda uma atualização.

[2015-01-30 17:55] AndDeluiz commented on #165
Acertado na classea e na classec.

[2015-01-30 17:55] #165 closed

[2015-01-30 17:56] hodrigohamalho commented on #162
Tem que atualizar o módulo sigadoc/ext também.

Também é necessário copiar os documentos da assinatura digital:
/home/resource na classea.

Após isso verificar e atualizar as variáveis do certificado para apontarem para esse endereço.

[2015-01-30 20:15] lupercioferraz opened #166 "[SIGARH-Lotação,Aq,Consultas] Erro ao acessar o sistema"
![image](https://cloud.githubusercontent.com/assets/10778261/5982614/e54bf828-a8ab-11e4-8bc9-8a4b43bb356d.png)

[2015-01-30 20:25] lupercioferraz opened #167 "[SIGARH-Benefícios] Erro ao acessar qualquer função do sistema"
![image](https://cloud.githubusercontent.com/assets/10778261/5982712/231a103a-a8ad-11e4-9352-c4307cbd21a3.png)

[2015-01-30 20:27] lupercioferraz opened #168 "[SIGARH-Cadastro-Treinamento] Erro ao tentar fazer alguma consulta no sistema"
![image](https://cloud.githubusercontent.com/assets/10778261/5982760/a00b9d70-a8ad-11e4-9c98-f3be2c4a6d82.png)

[2015-01-30 21:03] kmacedovarela commented on #168
Em standby.

[2015-01-30 21:03] kmacedovarela commented on #167
Em standby.

[2015-01-30 21:03] kmacedovarela commented on #168
Em standby.

[2015-01-30 21:11] hodrigohamalho opened #169 "[siga-play-module] Atualizar banco"
19:09:41,419 INFO  [stdout] (http-/0.0.0.0:8080-8) Caused by: java.sql.SQLSyntaxErrorException: ORA-00904: "THIS_1_"."ID_UNIDADE_ATENDIMENTO": identif
icador invalido

@Markenson começou a aparecer este erro sendo disparado pelo siga-play-module, sabe se tem alguém atualizando o banco ou que mexeu nessa parte recente?

[2015-02-02 15:55] AndDeluiz commented on #164
Problema corrigido.

[2015-02-02 15:55] #164 closed

[2015-02-02 15:59] crivano commented on #133
Esse WAR não está funcionando direto? Até onde sei ele não tem muitas dependências.

[2015-02-02 16:02] hodrigohamalho commented on #133
não funcionou jogando direto não

[2015-02-02 16:18] lupercioferraz opened #170 "[SIGARH-Cadastro-Treinamento] Erro ao tentar fazer alguma consulta no sistema"
O mesmo erro 'Session Error' está ocorrendo em Homologação quando é feito consulta/alteração de dados.

[2015-02-02 16:27] kmacedovarela commented on #170
Lupércio, você poderia abrir os erros com exemplos de como reproduzir o erro? Tentei reproduzir da seguinte maneira e nao deu erro:

Acessei o siga tr: http://siga-hmg/sigatr/
No menu cadastros, cliquei na primeira opção: área capacitação
cliquei em "Alterar" , na primeira linha, confirmei

O erro mencionado não ocorreu.

[2015-02-02 17:22] moisesoliveirasilva opened #171 "SigaRH-AQ"
Quando tanto cadastrar um curso novo para servidor, dá o erro conforme está na figura.

Dados do formulário:
![image](https://cloud.githubusercontent.com/assets/10811740/6005108/ebcc7638-aaee-11e4-9747-02ed55e89852.png)

Erro:
![image](https://cloud.githubusercontent.com/assets/10811740/6005118/fb23e558-aaee-11e4-8e68-6bd5e681e466.png)

[2015-02-02 17:32] kmacedovarela commented on #158
Devido a uma exceção lançada pelo jbpm no processamento dos feriados o workflow não era gerado. Este erro nao ocorria na versão existente, porém durante a migração do sigawf o jbpm foi atualizado em consequência da atualização para hibernate 4.

fa61feed098be332b3d0a09f1e51f30ec16dea96

[2015-02-02 17:32] kmacedovarela commented on #159
Devido a uma exceção lançada pelo jbpm no processamento dos feriados o workflow não era gerado. Este erro nao ocorria na versão existente, porém durante a migração do sigawf o jbpm foi atualizado em consequência da atualização para hibernate 4.

fa61feed098be332b3d0a09f1e51f30ec16dea96

[2015-02-02 17:32] #159 closed

[2015-02-02 17:45] kmacedovarela opened #172 "[Siga-DOC] Erro de webservice na criação do workflow, na geração de sec"
Erro ocorre apenas no ambiente de homologação e não é possível reproduzir na sigat pois a versão está desatualizada.

O erro descrito em #158 foi resolvido, porém um erro diferente ocorre no ambiente de homologação: seguindo fluxo descrito na issue #158, desde a criação do documento,  pode se ver o erro abaixo repetidas vezes no log. O mesmo não é impeditivo para a geração e prosseguimento do work

[2015-02-02 17:47] crivano commented on #133
Então vamos deixar isso quieto até que a migração esteja concluída.

[2015-02-02 17:47] #133 closed

[2015-02-02 17:49] kmacedovarela commented on #172
Um teste que auxiliaria, seria arrumar o erro que está dando na SigaT para que pudéssemos reproduzir o mesmo passo na SigaT. A comparação entre os dois ambientes é crucial na identificação de erros uma vez que sabemos se o problema está em código ou na configuração do servidor.

[2015-02-02 17:54] kmacedovarela commented on #150
Essas duas issues estão associadas pois pode ser gerada uma nova imagem já com todas as alterações. #162

[2015-02-02 18:04] kmacedovarela commented on #162
Fazer também o tunning de JVM referente ao random

[2015-02-02 18:08] kmacedovarela opened #173 "Manutenção no ambiente de homologação"
Estou fazendo uma alteração que pode gerar erros nos sistemas, abri esta issue para sinalizar a todos  que iniciei, e também quando terminar.

[2015-02-02 18:28] kmacedovarela commented on #173
Faltava a seguinte propriedade:
servidor.principal

[2015-02-02 18:28] #173 closed

[2015-02-02 19:16] kmacedovarela opened #174 "Habilitar acesso remoto para usuário padrão"
Habilitar ssh nas máquinas para usuário padrão. Caso exista alguma oposição, esta atividade não será realizada.

[2015-02-02 19:28] AndDeluiz commented on #162
Alterações efetuadas no build-00022 do appserver.

[2015-02-02 19:28] #162 closed

[2015-02-02 19:28] AndDeluiz commented on #150
Alterações efetuada no build-00022 do appserver.

[2015-02-02 19:28] #150 closed

[2015-02-02 19:51] kmacedovarela commented on #166
Lupércio, este erro ocorre com meu usuário aparentemente pois em uma das consultas à base do SigaRH, ele não encontra minha matrícula. O que pode ser feito a respeito?

Classe: cadRecursoHumanoDaoCrudImplJpa.java
Linha: 69, retorna nulo.

hql  executada:

[code]
Onde param1 = 700006
e param2 = RJ

Query total executada:

[code]

[2015-02-02 20:11] kmacedovarela commented on #166
O teste foi realizado junto a equipe e o erro foi solucionado ajustando-se o webservice .

[2015-02-02 20:11] #166 closed

[2015-02-02 20:59] kmacedovarela commented on #170
Adicionado trecho

[code]

No web.xml da aplicação, na servlet dwr-invoker.
O erro ocorre devido à chamadas entre servidores diferentes, e o DWR tenta bloquear.

[2015-02-02 20:59] #170 closed

[2015-02-02 20:59] kmacedovarela commented on #168
Adicionado trecho

[code]

No web.xml da aplicação, na servlet dwr-invoker.
O erro ocorre devido à chamadas entre servidores diferentes, e o DWR tenta bloquear.

[2015-02-02 20:59] #168 closed

[2015-02-02 20:59] kmacedovarela commented on #167
Adicionado trecho

[code]

No web.xml da aplicação, na servlet dwr-invoker.
O erro ocorre devido à chamadas entre servidores diferentes, e o DWR tenta bloquear.

[2015-02-02 20:59] #167 closed

[2015-02-02 21:06] kmacedovarela commented on #171
Você poderia testar novamente? Não consegui reproduzir o erro, o curso foi incluído com sucesso.

Se o erro ocorrer, favor *reabrir* a issue.

![capturar](https://cloud.githubusercontent.com/assets/253186/6009169/80690170-ab0e-11e4-8528-0b165bf4586d.PNG)

[2015-02-02 21:06] #171 closed

[2015-02-02 21:50] kmacedovarela opened #175 "Menu de homologação redirecionando para sigat"

[2015-02-02 22:10] kmacedovarela commented on #175
Alterado no siga properties.

[2015-02-02 22:10] #175 closed

[2015-02-03 11:31] kmacedovarela commented on #141
Vou fechar esta issue, e caso erros de encoding ocorram, devem ser reportados e serão tratados um a um, até que possamos ver isto com calma.

[2015-02-03 11:31] #141 closed

[2015-02-03 11:34] kmacedovarela commented on #28
Segundo analises de membros da equipe da NUSAD, será necessário desenvolver um método de autenticação no siga via token, pois o método de autenticação implantado hoje (utilizando SAML) não atende as necessidades da aplicação que utiliza play framework.
Deverá ser realizada uma atividade exclusivamente para esta implementação, e em seguida voltamos a ver este problema.

[2015-02-03 11:34] #28 closed

[2015-02-03 12:34] kmacedovarela opened #176 "[Importante[Siga-DOC] A busca de documentos não está funcionando"
O fluxo reportado na issue #102 não está funcionando no branch develop (nem na versailles nem em localhost).
Gostaria de solicitar a correção por parte de alguém da equipe devido ao maior knowhow.

Assim que esta issue for fechada, prosseguiremos com a correção do erro reportado nas issues  #102  e #148 referentes a migração (é um erro diferente, associado ao picketlink).

[2015-02-03 14:15] AndDeluiz commented on #174
Efetuei o reset da senha conforme combinado com a Karina nos ambientes DEV, HMG e PROD. Senha atualizada pela Karina no documento de senhas.

[2015-02-03 14:15] #174 closed

[2015-02-03 20:29] andresousa17 commented on #176
Corrige a montagem da variável urlBase que estava dando erro na concatenação da porta.

String urlBase = getRequest().getScheme() + "://" + getRequest().getServerName() + ":" + getRequest().getServerPort();

O erro agora está dando quando utilizamos o protocolo HTTPS. Quando utilizamos HTTP funciona.

[2015-02-03 20:36] kmacedovarela commented on #176
Ok, obrigada!

[2015-02-03 20:54] andresousa17 commented on #161
Testei em http://siga-beta/siga e o conteúdo do documento continua saindo em branco.

[2015-02-03 20:56] kmacedovarela commented on #161
Amanhã verificarei os logs, e te procuro para testarmos novamente.

[2015-02-04 12:10] kmacedovarela commented on #176
@andresousa17  quando fizer alguma correção, favor referenciar o commit ou pelo menos o branch em que foi realizada a alteração para facilitar o rastreamento.

[2015-02-04 12:48] kmacedovarela commented on #176
Fiz o merge com branch develop e o problema foi resolvido localmente, obrigada.

[2015-02-04 12:48] #176 closed

[2015-02-04 14:06] kmacedovarela commented on #161
Resolvido, testei com a rafaela.

Faltavam os arquivos nas máquinas de produção:
xhtml.dtd
xhtml1-transitional.dtd
xhtml-lat1.ent
xhtml-symbol.ent
xhtml-special.ent
xhtml1-strict.dtd

[2015-02-04 14:06] #161 closed

[2015-02-04 15:16] Markenson commented on #169
Parece que o banco de desenvolvimento está diferente de homologação. @esredson existe essa possibilidade?

[2015-02-04 15:34] esredson commented on #169
Sim! Sorry. Consertei agora.

[2015-02-04 15:37] kmacedovarela commented on #169
A princípio está OK, qualquer coisa reabrimos a issue!
Obrigada!

[2015-02-04 15:37] #169 closed

[2015-02-04 17:51] Markenson commented on #172
A sigat já está ok (havia uma inconsistência nos dados ocasionando um NPE em WfServiceImpl.java). @kmacedovarela Acredito que agora dê para comparar os ambientes.

[2015-02-04 18:10] kmacedovarela commented on #172
Beleza vou testar.

[2015-02-04 18:38] kmacedovarela commented on #172
Perfeito, o erro parou de ocorrer no ambiente com EAP6. Vou fechar a Issue.

[2015-02-04 18:38] #172 closed

[2015-02-04 18:39] kmacedovarela opened #178 "Indisponibilidade siga-hmg"
No momento o ambiente está indisponível devido a testes e manutenção no siga-idp, mas até amanhã deverá estar estável novamente.

[2015-02-04 19:17] crivano opened #179 "Erro de SSL depois de merge de migracao-jboss6-vraptor-db1 e migracao-jboss6"
Estou com um erro novo aqui no branch de migracao-jboss6-vraptor-db1 e passou a ocorrer o erro abaixo. Detalhe, o sigaex.war parou de subir por falta do módulo "fop", então apaguei meus módulos e substitui pelos que encontrei no diretório "configuracao/modulo/sigadoc", fiz certo?

Eis o erro:

17:09:24,999 INFO  [com.opensymphony.webwork.views.freemarker.FreemarkerManager] (http-localhost/127.0.0.

[2015-02-04 19:54] kmacedovarela commented on #179
Sobre o módulo, agiu corretamente renato. Versionamos os módulos que são dependências da aplicação justamente por isso. O objetivo é sempre que se acrescentar um novo módulo ao jboss (referenciado no jboss-deployment-structure.xml da app), adicioná-lo também a pasta configuração.

Sempre que der um module not found, provavelmente, é porque é necessário atualizar a pasta de módulos do seu JBoss.

S

[2015-02-04 19:58] hodrigohamalho commented on #179
Crivano, a gente desabilitou o SSL por ums bugs que estavamos tendo.
Não sei exatamente o que está causando este problema no seu ambiente, mas uma solução de contorno é desabilitar o https, pra isso basta inserir o trecho abaixo no seu standalone.xml:

C:\Desenvolvimento\jboss-eap-6.2.3\standalone\configuration\standalone.xml

[code]

[2015-02-05 12:04] kmacedovarela commented on #179
@crivano, caso o erro ainda aconteça após esta alteração, verifique se na sua pasta

$JBOSS_HOME/standalone/configuration/siga existem os arquivos

client.cer
siga.keystore
sigaclient.keystore
sigaclient.truststore

[2015-02-05 12:17] kmacedovarela opened #180 "Antecipando correção de erro referente ao aumento dos acessos"
Verificar se já foram feitas, e se não foram, aplicar as seguintes configurações (adaptadas conforme necessidade) para o ambiente de produção, em todas as máquinas com instâncias de servidores JBoss e Apache.

https://access.redhat.com/solutions/18064

[2015-02-05 13:38] crivano commented on #179
Só para esclarecer para quem precisar fazer a mesma alteração, os elementos
<property> devem ficar dentro de <system-properties>, que por sua vez deve
ficar abaixo de <extensions>.

Rodrigo, funcionou e inclusive agora, conectando na 8080, o Chrome está
oferecendo para salvar a senha! Obrigado.

2015-02-05 10:04 GMT-02:00 Karina Macedo Varela <notifications@github.com>:

[2015-02-05 13:39] #179 closed

[2015-02-05 13:42] hodrigohamalho commented on #179
Opa, que bom!

Pra quem precisar fazer, segue o que o renato disse em um exemplo:
[code]

[2015-02-05 14:15] AndDeluiz commented on #180
Configurações de limites e kernel.pid_max foram efetuadas nas máquinas JBoss de DEV, HMG e PROD. Nenhuma configuração foi alterada para os servidores apache ou imagens Docker.
Tomei como base a configuração da produção atual em JBoss EAP 5.

[2015-02-05 14:15] #180 closed

[2015-02-09 19:10] kmacedovarela opened #182 "Máquinas com horários diferentes"
A diferença está passando de dois minutos, isto causa erro de loop redirect na autenticação. É necessário ajustar o horário das máquinas.

[2015-02-09 19:11] kmacedovarela opened #183 "Máquinas com horários diferentes"
A diferença está passando de dois minutos, isto causa erro de loop redirect na autenticação. É necessário ajustar o horário das máquinas.

[2015-02-09 19:31] AndDeluiz commented on #182
Acertados horários e religados sistemas NTP.

[2015-02-09 19:31] #182 closed

[2015-02-09 19:33] AndDeluiz commented on #183
Instalação e configuração de NTP em servidores PROD.

[2015-02-09 19:33] #183 closed

[2015-02-10 17:40] hodrigohamalho opened #184 "[Apache] Erro ao acessar http://siga-beta/siga"
O apache só está direcionando as requisições quando o link é passado com uma barra no final:
http://siga-beta/siga/

Quando é acessado:
http://siga-beta/siga

Da um 404.

O mesmo erro não acontece em homologação.

[2015-02-10 18:59] hodrigohamalho commented on #178
ambiente normalizado.

[2015-02-10 18:59] #178 closed

[2015-02-10 19:00] hodrigohamalho commented on #148
Corrigido.

[2015-02-10 19:00] #148 closed

[2015-02-10 19:00] hodrigohamalho commented on #134
Corrigido. Caso volte a acontecer favor reabrir a issue.

[2015-02-10 19:00] #134 closed

[2015-02-10 19:01] hodrigohamalho commented on #114
Corrigido, caso volte a acontecer, favor reabrir.

[2015-02-10 19:01] #114 closed

[2015-02-10 19:01] hodrigohamalho commented on #102
Corrigido, caso volte a acontecer, favor reabrir.

[2015-02-10 19:05] hodrigohamalho commented on #60
Corrigido, caso volte a acontecer, favor reabrir.

[2015-02-10 19:05] #60 closed

[2015-02-10 19:05] hodrigohamalho commented on #82
Resolvido.

[2015-02-10 19:05] #82 closed

[2015-02-10 19:06] kmacedovarela opened #185 "Disponibilização de aplicações Play com cache"
Disponibilizar versão das aplicações que utilizam play framework, com cache utilizando infinispan.

[2015-02-10 20:37] hodrigohamalho opened #186 "Modificar a forma com que o siga usa propriedades"
A forma que o siga usa as properties, tudo carregada como propriedade de sistema acaba sendo ruim porque o jboss concatena todas as propriedades no processo, além de poluir completamente a descrição dos processos pro Sysadmin, no Windows por exemplo o sistema nem consegue subir com todas as propriedades do siga.properties. Pra debug também atrapalha bastante.

Quem tiver interesse em reproduzir o

[2015-02-11 12:17] Andredsf commented on #184
Foi encontrado um problema no modulo mod_cache do apache. Para resolver este problema o conteúdo do mod_cache foi deletado e reconstruido novamente.

systemctl stop httpd
rm -rf /var/cache/httpd/mod_cache/*.*
systemctl  start httpd

[2015-02-11 12:17] #184 closed

[2015-02-11 12:19] #185 closed

[2015-02-11 12:20] kmacedovarela opened #187 "Erro em todas as aplicações Play."
10:13:20,710 ERROR [stderr] (http-/10.10.0.72:8280-1) java.lang.NullPointerException
10:13:20,711 ERROR [stderr] (http-/10.10.0.72:8280-1)   at br.gov.jfrj.siga.base.SigaHTTP.getIdp(SigaHTTP.java:211)
10:13:20,711 ERROR [stderr] (http-/10.10.0.72:8280-1)   at br.gov.jfrj.siga.base.SigaHTTP.handleAuthentication(SigaHTTP.java:89)
10:13:20,712 ERROR [stderr] (http-/10.10.0.72:8280-1)   at br.gov.jfrj

[2015-02-11 12:23] hodrigohamalho opened #188 "Habilitar o GC log em produção"
As informações do gc.log vai nos dar informações importantes para configurarmos de maneira mais proveitosa cada servidor.

[2015-02-11 14:11] kmacedovarela commented on #187
O erro ocorre quando o usuário está "substituindo" alguém. @hodrigohamalho

[2015-02-11 15:50] hodrigohamalho commented on #186
Acadia e accelo:

[code]
nos arquivos /opt/jboss/domain/configuration/host-slave.xml, foram adicionada as 3 JVMs aos servers, com a configuração do gclog.
[code]

Os parâmetros heap, pergem e etc, são omitidos porque como o nome da JVM está igual a JVM definida a nível de grupo eles são herdados por herança.

[2015-02-11 15:50] #186 closed

[2015-02-11 19:57] rafaela00castro opened #189 "Erro ao buscar um Grupo no Siga-Serviços"
Erro que ocorre no [siga-beta] e no [siga-hmg], e não ocorre em produção [siga/siga].
Para reproduzir o erro, seguir os seguintes passos:
- Dentro do módulo do siga-serviços, entrar no menu administração > designação;
- Ir para o final na página, e clicar no botão incluir;
- No campo Solicitante, selecionar "grupo" e digitar sti_trf2 (ver imagem).
- Verificar que não aparece a descrição do grupo c

[2015-02-11 21:40] adrigrassi opened #190 "Erro na substituição"
Ao substituir um usuário ou uma lotação as aplicações play não estão carregando.

[2015-02-12 11:37] kmacedovarela commented on #189
O erro está sendo ocasionado pois está sendo chamada uma action inexistente:
http://siga-hmg/siga/perfil/buscar.action?propriedade=perfilcpGrupo&sigla=
[code]

O correto seria chamar
http://sigat/siga/gi/perfil/buscar.action?propriedade=perfilcpGrupo&sigla=

[2015-02-12 11:38] kmacedovarela commented on #190
#187 duplicado

[2015-02-12 13:18] hodrigohamalho commented on #189
bom dia, irei resolver.

[2015-02-12 14:31] kmacedovarela commented on #190
Já identifiquei a solução para o problema, disponibilizarei versão corrigida para teste ainda hoje.

[2015-02-12 17:53] kmacedovarela commented on #190
Quando chamado por uma aplicação play, não estava sendo identificada a named query configurada via arquivo hbm.xml

Foi configurado então também a named query via annotation na classe DpSubstituicao.java

7510d1aa4261216d6234362dd8c6e1c65e8bacd2

[2015-02-12 17:53] #190 closed

[2015-02-12 17:54] kmacedovarela commented on #187
Quando chamado por uma aplicação play, não estava sendo identificada a named query configurada via arquivo hbm.xml

Foi configurado então também a named query via annotation na classe DpSubstituicao.java

7510d1a

[2015-02-12 17:54] #187 closed

[2015-02-19 11:30] kmacedovarela commented on #189
Resolvido em 9370b90272f5414603383e5d5117d9000534f1e0

[2015-02-19 16:10] kmacedovarela commented on #189
Agora, apesar de abrir a caixa de busca, ao digitar a consulta e pressionar "tab' o auto complete não está funcionando.

[2015-02-19 16:10] hodrigohamalho commented on #189
Deixe comigo!

[2015-02-19 17:18] Markenson opened #191 "Erro ao gerar relatórios"
O erro abaixo ocorre ao gerar um relatório no siga-beta.

Como reproduzir:

* Clicar no menu menu Siga/Módulos/Documentos
* Clicar no menu Relatórios/Relação de formulários
* Clicar no botão gerar.

Erro:
[code]

[2015-02-19 17:28] Markenson opened #192 "Erro ao carregar os módulos"
Mesmo após pressionar F5, os módulos apresentam o erro da figura abaixo:

![image](https://cloud.githubusercontent.com/assets/2985140/6271943/6bcd915a-b84b-11e4-994b-a38d7861aa8f.png)

Ferramenta do chrome não apresenta erro:

![image](https://cloud.githubusercontent.com/assets/2985140/6272015/da4cb6ba-b84b-11e4-9e6e-110b861ba38c.png)

[2015-02-19 17:32] kmacedovarela commented on #192
O erro acontece sempre que você loga?

[2015-02-19 17:36] kmacedovarela commented on #192
Acabou de acontecer aqui também, vou verificar.

[2015-02-19 17:53] hodrigohamalho commented on #192
Esse erro (é pra ser) muito específico. Seria somente quando ocorre uma indisponibilidade no IDP corrente e o apache redireciona para o outro.

Creio que a melhor solução seria clusterizar o sigaidp.

[2015-02-19 18:09] kmacedovarela commented on #191
Problema identificado.

[2015-02-19 18:10] hodrigohamalho commented on #192
Na verdade tem um outro caso também que ele ocorre, é caso o servidor do IDP seja reiniciado. Esse caso pode ser melhor tratado, vou analisar.

[2015-02-19 19:13] hodrigohamalho commented on #189
Resolvido.

[2015-02-19 19:22] kmacedovarela commented on #191
Resolvido, o deploy foi realizado em homologação.
O deploy será realizado em produção dia 20/02/15, antes das 9h da manhã.
A issue será fechada assim que o deploy for realizado.

[2015-02-19 20:56] rafaela00castro opened #193 "Erro ao incluir item e ação através do campo seleção no SIGA-SR"
Erro que ocorre no [siga-beta] e no [siga-hmg], e não ocorre em produção [siga/siga].
Para reproduzir o erro, seguir os seguintes passos:

Dentro do módulo do siga-serviços, entrar no menu administração > designação;
Ir para o final na página, e clicar no botão incluir;

- Clicar no botão incluir do Item de Configuração (ver passo 1 da figura);
- Na janela modal que será aberta, digitar um item vá

[2015-02-20 10:39] kmacedovarela commented on #191
Deploy realizado e o problema não ocorreu mais.

[2015-02-20 10:39] #191 closed

[2015-02-20 11:00] kmacedovarela commented on #193
Mesmo problema da outra caixinha, mas sobre outro namespace.

[2015-02-20 11:39] kmacedovarela commented on #193
URL que está sendo chamada:
http://siga-beta/siga/item/selecionar.action?url=%2Fsiga%2Fitem%2Fselecionar.action&propriedade=itemitemConfiguracao&sigla=01.01.01

O correto seria:
http://siga-beta/sigasr/item/selecionar?sigla=01.01.01&prefixo=&nome=itemConfiguracao&

[2015-02-20 13:01] lupercioferraz opened #194 "Erro no módulo de Relatórios"
Ao tentar entrar em qualquer relatório (Módulos->Pessoas->Benefícios->Relatórios) ocorre um erro.
![image](https://cloud.githubusercontent.com/assets/10778261/6286545/c885de12-b8ef-11e4-99a4-13a1981a97d8.png)

[2015-02-20 13:47] kmacedovarela commented on #194
O erro ocorria devido a referencias para um nome jndi incorreto, dentro da aplicação.
Exemplo:
atual:     java:/SigaBeneficiosDS
correto: java:/jboss/datasources/SigaBeneficiosDS

Alterei as referencias e fiz o commit. Ja disponibilizei a nova versão em homologação.
@lupercioferraz Quando você deseja que o deploy seja realizado no ambiente de produção beta?

[2015-02-20 13:48] kmacedovarela commented on #194
Resolvido, pendente apenas de deploy no siga-beta.

[2015-02-20 13:48] #194 closed

[2015-02-20 14:02] kmacedovarela commented on #194
Deploy realizado em produção.

[2015-02-20 14:10] crivano commented on #194
@kmacedovarela só para constar, corrigi recentemente um bug de relatórios atualizando a versão do dynamicjasper para a mais nova. A correção não está no branch OSI_FS000011_FIX.

[2015-02-23 12:03] kmacedovarela commented on #193
Testei no siga-beta, e está OK.

[2015-02-23 12:03] #193 closed

[2015-02-23 12:03] #192 closed

[2015-02-23 14:45] Markenson opened #196 "Quadros não carregam no IE"
Ao fazer login no SIGA, via Internet Explorer, os quadros não estão aparecendo.

Como reproduzir:

Basta fazer o login

[2015-02-23 14:51] kmacedovarela commented on #196
Analisando.

[2015-02-23 15:17] kmacedovarela commented on #196
Acredito que solucionei o problema. O siga-beta precisará ser parado para disponibilização de nova versão.

[2015-02-23 15:23] kmacedovarela commented on #196
Resolvido

[2015-02-23 15:24] #196 closed

[2015-02-23 19:04] rafaela00castro opened #197 "Erro ao gravar uma designação no SIGA-SR"
Erro que ocorre no [siga-beta] e no [siga-hmg], e não ocorre em produção [siga/siga].
Para reproduzir o erro, seguir os seguintes passos:

Dentro do módulo do siga-serviços, entrar no menu administração > designação;
Ir para o final na página, e clicar no botão incluir;

Preencher todos os campos. Em produção os valores exibidos na figura podem ser usados durante os testes.

Ao final, clicar no bo

[2015-02-23 19:43] kmacedovarela commented on #189
Voltou a ocorrer conforme informado em #197

[2015-02-23 19:51] kmacedovarela commented on #197
@rafaela00castro , caso erros voltem a ocorrer, pode reabrir a issue para facilitar o rastreamento. Já reabri a issue 189.

Com relação a este erro 197, ele também está acontecendo em localhost. Então não é algo específico de ambiente, o que facilita o rastreamento do problema. Devido a issues mais críticas que estou solucionando no momento, gostaria de saber se alguém da equipe pode assumir este

[2015-02-23 20:30] esredson commented on #197
Pessoal, esse erro não deveria mais estar acontecendo. Parece ser algum resquício de código antigo, visto que não há mais validação de pré-atendente e pós-atendente. Por exemplo, buscar a string "preAtendente" no workspace deve retornar apenas alguns matches que não têm relação com essa tela aí. Acredito que deva parar de ocorrer no próximo merge.

[2015-02-23 20:47] kmacedovarela commented on #197
@esredson, apenas a titulo de informação o branch migracao-jboss6 está atualizado com o branch develop. Acabei de fazer o pull e o merge e nenhuma alteração foi baixada.

[2015-02-24 12:37] esredson commented on #197
@kmacedovarela, realmente, nesse momento o develop estava desatualizado também. Pouco depois, fiz um merge de outro branch para o develop.

[2015-02-24 13:59] moisesoliveirasilva opened #198 "SigaTreinamento"
No sigatr homologação http://siga-hmg/sigatr, no menu Planejamento -> Turma -> Incluir -> Quando seleciono uma opção no combo Área de Capacitação, dá o seguinte erro: "Session Error".

No sigatr produção http://siga-beta/sigatr, a usuária relatou um erro no cadastro de nova turma (Planejamento -> Turma -> Incluir ), mas não enviou detalhes. Vou tentar simular.

[2015-02-24 14:27] kmacedovarela commented on #198
Associado a  #170
Problema solucionado em homologação. Vou realizar o deploy em produção.

[2015-02-24 14:30] kmacedovarela commented on #198
Deploy realizado no siga-beta.

[2015-02-24 14:30] #198 closed

[2015-02-24 17:06] esredson opened #199 "Ao cadastrar solicitação, não aparece a lista de conhecimentos relacionados"
Para simular, clicar em Módulos -> Serviços e, na tela seguinte, escolher um item de configuração qualquer. O correto é que, à direita, apareça um quadro com o título Conhecimentos Relacionados, obtido do Siga-Gc.

[2015-02-24 17:54] kmacedovarela opened #200 "Número de documento"
Favor identificar um documento grande para que eu possa análisar a performance do sistema.

[2015-02-24 17:54] kmacedovarela commented on #197
Apenas para registrar: o erro que ocorre agora é que a designação é salva em branco

[2015-02-24 18:39] kmacedovarela opened #201 "Problema nas caixinhas de busca no SigaTP"

[2015-02-24 19:03] kmacedovarela commented on #201
Resolvido. O deploy será realizado em homologação agora, e no siga-beta assim que possível.

aa1fd7ee83876508d4f8b98ca244be60dfbc06aa

[2015-02-24 19:03] #201 closed

[2015-02-24 19:25] kmacedovarela commented on #199
O problema tem a ver com chamadas entre módulos, principalmente entre módulos com play framework.
Sob análise.

[2015-02-24 20:34] kmacedovarela opened #202 "Erro em todos os formulários do SigaSR"
Erro ocorre após alteração no funcionamento dos forms.
Erro inserido no commit ef30e03fdbf96193b32e3fb936afcaa17b3726f1

[2015-02-25 14:20] kmacedovarela commented on #202
@esredson atualmente as chamadas estão sendo feitas com o tipo padrão "application/x-www-form-urlencoded". Seria possível você tentar alterar para "multipart/form-data"?
Aguardo novidades.

[2015-02-25 14:26] kmacedovarela commented on #199
Iniciando trabalhos nesta issue.

[2015-02-25 16:42] kmacedovarela commented on #197
#202

[2015-02-25 18:34] kmacedovarela commented on #199
Só pode ser resolvido após #202

[2015-02-26 16:51] kmacedovarela commented on #202
Este erro ocorre pois o Play não está conseguindo processar os parâmetros enviados via ajax. Este comportamento existe especificamente no menu de administração do modulo sigasr. Foi trocado o enctype porém o play continuou não enxergando os parâmetros.

   O arquivo que realiza as chamadas ajax é o base-service.js, e o método é o BaseService.prototype.post.

   Segundo sugestão do @esredson, a ver

[2015-02-26 16:53] kmacedovarela commented on #197
Fechado para evitar duplicidade, será resolvido junto com issue #202

[2015-02-26 16:53] #197 closed

[2015-02-26 19:37] robertodsm opened #203 "sigarhlotacao - homologação - erro"
(http://siga-hmg/sigarhlotacao/paginas/home.jsf)

Ao se selecionar a opção "Página Inicial" no menu "Siga", é exibida a seguinte mensagem:

Service Unavailable
The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.

[2015-02-26 20:12] kmacedovarela commented on #203
Alinhado com Marcos Fragoso, está sob análise do mesmo.

[2015-02-27 11:47] kmacedovarela commented on #200
Números enviados pelo @Markenson .
Registrando como compartilhamento de informação
JFRJ-OFI-2011/6419
RJ-OFI-2011/06419

[2015-02-27 11:47] #200 closed

[2015-02-27 17:30] rafaela00castro opened #204 ""Carregando" permanece na tela de cadastro de solicitação - Siga-Sr"
Na tela inicial clicar em "Nova" que fica abaixo da caixa de Solicitações.
Na página de Cadastro de Solicitação digitar a primeira vez "siga-doc" no campo Produto, Serviço ou Sistema.
Logo após digitar "link de dados". O carregando não sai da tela e o sistema não retorna a requisição ajax, que preenche o campo logo abaixo (Ação).

![captura_de_tela_022715_021630_pm](https://cloud.githubusercontent

[2015-02-27 18:24] hodrigohamalho commented on #199
Resolvido.

Toda chamada ao PassAjaxResponseToFunction e ReplaceInnerHTMLFromAjaxResponse, deve ser substituído por chamadas ao Siga.ajax.

[2015-03-02 12:00] #204 closed

[2015-03-02 12:00] kmacedovarela commented on #199
Erro no I.E.

[2015-03-02 15:18] Chrystinne opened #205 "Busca textual do Siga abrindo pop-up"
Busca textual do Siga abrindo pop-up, conforme ilustração abaixo:

![captura_de_tela_030215_121743_pm](https://cloud.githubusercontent.com/assets/4949149/6443513/2208a9c2-c0d6-11e4-8742-4138f12d049d.jpg)

[2015-03-02 17:27] kmacedovarela commented on #205
@Chrystinne  identifiquei, poderia testar em homologação para verificar se o erro ocorre, antes que eu realize o deploy da versão corrigida (apenas para garantir) ?

[2015-03-02 17:43] Chrystinne commented on #205
@kmacedovarela Só não consegui fazer a busca pelo mesmo do documento, já que eles estão em bases diferentes. Mas realizei a busca por outros documento, estando no Siga_SR, no ambiente de homologação, e não consegui reproduzir o erro.

[2015-03-02 18:16] kmacedovarela commented on #205
Realizei as alterações nos commits 70dd7de5d5d102b7215aaf6f6d135b5ba8c8faec e 788483a1ab075d244f5ada1d55b2397c34df7fd0 . Assim que a versão for disponibilizada em produção, volto a pedir para você testar

[2015-03-02 18:37] Chrystinne commented on #205
@kmacedovarela Blz

[2015-03-02 18:53] Chrystinne opened #206 "Erro ao finalizar documento"
Erro ao finalizar documento (TMP-1434864), reportado por usuário via e-mail.

-Log enviado pelo usuário:

Não Foi Possível Completar a Operação
Erro ao finalizar documento
Erro ao finalizar o documento: Erro ao criar nova via.

br.gov.jfrj.siga.base.AplicacaoException: Erro ao finalizar documento
	at br.gov.jfrj.webwork.action.ExDocumentoAction.aFinalizar(ExDocumentoAction.java:1205)
	at sun.refle

[2015-03-02 20:16] Markenson commented on #206
A usuária desconfia que o problema pode estar na duplicação de documentos, pois ocorreu após duplicar o documento JFRJ-MEM-2015/01784. Ela informou que quando fez um novo documento, funcionou normalmente. Vamos ferificar se há algo de diferente nessa rotina de duplicação.

[2015-03-03 12:07] kmacedovarela commented on #205
@Chrystinne  realizei o deploy da alteração, testei pelo IE e o erro não ocorreu. Caso volte a ocorrer favor reabrir a issue.

[2015-03-03 12:07] #205 closed

[2015-03-03 12:10] kmacedovarela commented on #203
Resolvido pelo Marcos Fragoso.

[2015-03-03 12:10] #203 closed

[2015-03-03 13:37] Chrystinne opened #207 "Erro na tela inicial do Siga - módulo Workflow"
![captura_de_tela_030315_103644_am](https://cloud.githubusercontent.com/assets/4949149/6463474/3083e406-c191-11e4-8485-3335527d7ff4.jpg)

[2015-03-03 13:38] kmacedovarela commented on #207
Sabe reproduzir?

[2015-03-03 13:47] kmacedovarela commented on #207
Ocorreu devido a manutenções de segurança na máquina. Voltaremos a fazer as manutenções no período da noite ou amanhã cedo.

[2015-03-03 14:38] Markenson opened #208 "Erro ao assinar documentos (com capicom)"
O erro abaixo ocorre ao assinar documentos mesmo quando não está usando a assinatura java:

![image](https://cloud.githubusercontent.com/assets/2985140/6464551/bc4bf174-c199-11e4-9578-95b6b8e8857f.png)

[2015-03-03 14:44] Markenson opened #209 "Erro de invalid license"
O erro de invalid license ocorre ao tentar carregar as licenças da extensão do editor de textos XStandard. Para solucionar, deve-se fazer o deploy dos arquivos que apresentaram erro 404 na imagem abaixo.

![image](https://cloud.githubusercontent.com/assets/2985140/6464666/8f1fb8d8-c19a-11e4-85a7-0e4f1d96e4e7.png)

[2015-03-03 14:45] kmacedovarela commented on #208
Consegue reproduzir em homologação @Markenson ?

[2015-03-03 14:54] Markenson opened #210 "Permitir debug remoto nas máquinas de produção"
Verificar possibilidade de habilitar debug remoto, via eclipse, nas máquinas de produção.

[2015-03-03 14:58] kmacedovarela commented on #210
Existe a possibilidade sim, irei te passar as configurações necessárias.

Atenciosamente,
Karina Macedo Varela  | JBoss Middleware Consultant

Cel: +55 61 8434-0656
PGP: 1F24 6737 9E63 D39D 69FF  91AA BBAE C760 5B99 60BE

Em 3 de março de 2015 11:54, Markenson <notifications@github.com> escreveu:

[2015-03-03 15:06] kmacedovarela commented on #208
Ao inicializar o JBoss não carregou corretamente a biblioteca bc prov que está configurada como um módulo. Ao reiniciar, a assinatura com capicom funcionou normalmente

[2015-03-03 15:06] #208 closed

[2015-03-03 15:16] kmacedovarela commented on #210
A configuração será documentada na wiki. O servidor não terá debug habilitado por padrão, caso seja necessário, deverão ser realizadas as devidas alterações.

[2015-03-03 15:16] #210 closed

[2015-03-03 15:46] kmacedovarela commented on #209
A pasta foi obtida na spin, transformada em um pacote war, e disponibilizado em hmg e prod.

[2015-03-03 15:46] #209 closed

[2015-03-03 18:52] Markenson commented on #206
Como o erro só ocorreu com o TMP-1434864 e este foi excluído, esta issue será fechada. Caso aconteça novamente com outro documento esta issue será reaberta.

[2015-03-03 18:52] #206 closed

[2015-03-03 19:03] kmacedovarela opened #211 "Revisão dos DS"
Revisar as configurações dos datasources do ambiente de produção (verificar se existe tunning a realizar)

[2015-03-04 15:07] Chrystinne commented on #207
Pelo que conversei com o @Markenson, acredito que esses problemas estão associados ao carregamento dos módulos, então vou acrescentar este problema semelhante:

![captura_de_tela_030415_120303_pm](https://cloud.githubusercontent.com/assets/4949149/6486008/9c827354-c266-11e4-899b-9b42f06bad6c.jpg)

[2015-03-04 15:08] Markenson commented on #207
Essa issue está relacionada ao problema da #134

[2015-03-04 15:08] kmacedovarela commented on #207
Acabei de reiniciar o servidor e pode estar relacionado, mas vou deixar a issue aqui pois este comportamento não pode ocorrer independente do status dos servidores.

[2015-03-04 15:12] Markenson commented on #207
@hodrigohamalho, como você está mais por dentro desse problema, assim que possível, dê uma prioridade a essa issue.

[2015-03-04 15:48] esredson opened #212 "Mapa da tramitação aparece gigante"
Acessando pelo endereço http://siga-antigo/sigaex/expediente/doc/exibir.action?sigla=JFRJ-EOF-2015/00119, o mapa no quadro Tramitação, à direita, aparece normal. Porém, pelo endereço http://siga/sigaex/expediente/doc/exibir.action?sigla=JFRJ-EOF-2015/00119, aparece grande demais. Testado no Chrome e no IE9.
![novo](https://cloud.githubusercontent.com/assets/5264319/6486881/c9f1ce4c-c26c-11e4-9fa9-

[2015-03-04 15:52] esredson commented on #212
Adriana notou ontem... Parece que nenhum de nós viu esse problema antes.

[2015-03-04 16:02] kmacedovarela commented on #212
Verificando rapidamente, parece que o height e width  são calculados a cada vez que se acessa a página. (Exibe.jsp:550 em diante)

   Será que algo foi alterado em algum destes commits?
https://github.com/projeto-siga/siga/commits/master/sigaex/src/main/webapp/paginas/expediente/exibe.jsp

[2015-03-04 16:14] esredson commented on #212
Talvez. André (@andresousa17), estou dando uma olhada nas alterações no exibe.jsp pra ver se alguma delas pode ter causado o problema.

[2015-03-04 16:15] kmacedovarela commented on #212
Obrigada!!

[2015-03-05 11:04] kmacedovarela commented on #158
O problema ocorre pois a chamada via javascript a partir d o sigaex para o sigawf precisa passar pela autenticação do picketlink. Este problema independe da separação das instâncias.

[2015-03-05 13:03] kmacedovarela opened #213 "Stackoverflow"
Acredito que essa pode ser uma das causas do alto consumo de CPU. @hodrigohamalho, favor verificar. Vi o erro no log, porém não sei como reproduzir.

Ex de log; Acce**, Dia 05/03/2015, 10:00:17,525 ERROR

[code]

[2015-03-05 15:06] hodrigohamalho commented on #213
Creio que o contador não ta sendo atualizado ou está sendo atualizado incorretamente no método TryAgain... dai ta entrando loop infinito. (Até estourar a stack)

[2015-03-05 17:05] kmacedovarela commented on #207
Os dois erros mencionados ainda ocorrem com vocês?

[2015-03-05 17:55] crivano opened #214 "Ambiente de desenvolvimento não relê JSP corretamente"
Olá, sei que Karina e Rodrigo estão ocupados com os erros da produção, mas, quando for possível, gostaria que vocês tentassem resolver um problema que atrapalha bastante o desenvolvimento, principalmente quando se faz uma troca de branch.

Problema: alguns JSPs e TAGs não são recompilados pelo JBoss quando o git troca o branch.

Passo a passo:
1) fiz a troca do branch
2) marquei todos os projetos

[2015-03-05 19:28] Markenson commented on #102
Este problema voltou a ocorrer em produção.

[2015-03-05 19:33] kmacedovarela commented on #102
Procede, estou verificando.

[2015-03-05 19:46] kmacedovarela commented on #102
É possível reproduzir o erro em homologação da seguinte maneira e com o seguinte documento JFRJ-SEC-2015/00007:

Acessar a aplicação
Tentar consultar (Vai funcionar)
Apagar os cookies
Tentar consultar  (Não vai funcionar)

[2015-03-06 12:42] kmacedovarela opened #215 "Timeout das aplicações"
Foi apontado por um usuário que o timeout está menor que 30 minutos.

[2015-03-06 12:44] hodrigohamalho commented on #215
https://access.redhat.com/solutions/283763

[2015-03-06 13:14] kmacedovarela commented on #102
Causa do erro identificada:

@hodrigohamalho Na SigaHTTP:209 método getIdp, quando o cookie é apagado, ele não se adequa a nenhum caso implementado, e o IDP retornado é nulo.

[2015-03-06 16:04] kmacedovarela commented on #158
#199 ambas as issues estão com problema no IE

[2015-03-06 16:40] kmacedovarela commented on #215
Alterado no web.xml das aplicações. Testei em localhost e aparentemente funcionou. No próximo deploy as aplicações deverão ser disponibilizadas já com esta correção.

[2015-03-06 19:34] Chrystinne commented on #207
O erro que está dando nesse momento é que ele não carrega as informações do Siga-GC

![captura_de_tela_030615_043333_pm](https://cloud.githubusercontent.com/assets/4949149/6534737/8aed1036-c41e-11e4-9521-976c3a49a0c7.jpg)

[2015-03-06 19:35] Chrystinne commented on #207
Dando refresh na tela, ele carrega

[2015-03-06 19:38] kmacedovarela commented on #207
[INFO] Esse erro ocorre quando o sigatp emite um erro, e por um motivo que não entendi ainda, influencia na exibição do sigagc.
Para mitigar o problema vou separar a instância com os projetos sigatp e sigase (irá entrar em produção), que pertencem a outra equipe com o objetivo de o erro de um sistema não impactar no erro de outro.

[2015-03-06 21:54] #158 closed

[2015-03-09 13:14] Chrystinne commented on #207
Está ocorrendo com o Siga-Sr também. Segue o print que tirei quando entrei agora no Siga.

![captura_de_tela_030915_101216_am](https://cloud.githubusercontent.com/assets/4949149/6555458/0f34737a-c645-11e4-9903-5ee6dfb08c12.jpg)

Quando dei refresh, ficou ok.

[2015-03-09 13:18] hodrigohamalho commented on #207
Sei o que é, irei corrigir.

Obrigado.

[2015-03-09 19:14] Markenson commented on #212
O erro parece estar relacionado à versão do jquery. Por ora, foi colocada uma instrução javascript nativa. (commit 9ac442d6b8f1b2a058fc2d4306d7c981240a961a)

[2015-03-09 19:14] #212 closed

[2015-03-09 19:19] kmacedovarela commented on #189
Resolvido em homologação, entrará no próximo deploy em produção

[2015-03-09 19:19] #189 closed

[2015-03-09 20:06] hodrigohamalho commented on #207
Corrigido, se o erro voltar a acontecer favor reabrir essa issue. fce0b7086f5099ae37015ee585ee265f8aeb295f

[2015-03-09 21:09] hodrigohamalho commented on #213
Corrigido em: d26a7928ce95f3a867e1fbdd8df98f16f474263c

[2015-03-09 21:09] #213 closed

[2015-03-09 21:12] hodrigohamalho commented on #199
No internet explorer as vezes aparece a página de estatistica geral.
Antes disso ele trás o resultado que deveria ser mostrado mas por algum motivo parece que ele faz um novo request pra essa nova página e sobrescreve o resultado correto pelo errado, talvez um HTTP 302 ? Vou terminar essa analise e corrijo o problema.

O complicado é que tenho dificuldades pra reproduzir, no meu ambiente local qua

[2015-03-10 11:12] kmacedovarela opened #216 "http://siga.corp.jfrj.gov.br/ ?"
Navegando pelo siga, vi em um conhecimento ( http://siga/sigagc/app/exibir?sigla=TRF2-GC-2014/00043 )  o seguinte link:
http://siga.corp.jfrj.gov.br/sigagc/app/exibir?sigla=TRF2-GC-2014%2F00010

Este link deve continuar válido @Markenson ?

[2015-03-10 12:49] Chrystinne opened #217 "[Siga-Sr]Erro ao tentar criar Nova Solicitação"
Na página inicial do Siga, cliquei em "Nova" (Solicitação)

![captura_de_tela_031015_094719_am](https://cloud.githubusercontent.com/assets/4949149/6575130/9b0fec88-c70a-11e4-94a7-810ce7d2c520.jpg)

[2015-03-10 12:53] kmacedovarela commented on #217
Vou verificar

[2015-03-10 12:57] kmacedovarela commented on #215
Solicitado aumentar para duas horas.

[2015-03-10 12:59] kmacedovarela commented on #217
@Chrystinne pode testar novamente?

[2015-03-10 13:06] kmacedovarela commented on #217
Ocorreu devido a erro no DS.

[2015-03-10 13:06] #217 closed

[2015-03-10 13:16] Markenson opened #218 "Tarjas do workflow duplicadas"
As tarjas do workflow estão aparecendo duas vezes para alguns documentos.

Como reproduzir

Na página inicial, digite eof08 para acessar o documento.

Visualização do problema:

![image](https://cloud.githubusercontent.com/assets/2985140/6575552/7b004786-c70e-11e4-9c18-ff0eaeb32e60.png)

[2015-03-10 13:18] kmacedovarela commented on #218
Deixo a versão ou volto para anterior sem a tarja?

[2015-03-10 13:18] kmacedovarela commented on #218
Consegui reproduzir o erro com este documento.

[2015-03-10 13:21] Chrystinne commented on #207
Vou reabrir a issue considerando não apenas o Siga-WF, mas quaisquer erros nos carregamentos dos módulos, ok?

![captura_de_tela_031015_102107_am](https://cloud.githubusercontent.com/assets/4949149/6575618/2b539a0c-c70f-11e4-8d71-ea822ac1ce92.jpg)

[2015-03-10 13:21] kmacedovarela commented on #207
Ok, obrigada Chrystinne.

[2015-03-10 13:30] kmacedovarela commented on #218
Causa identificada.

[2015-03-10 14:12] kmacedovarela commented on #218
Resolvido no commit acima, assim que possível realizaremos o deploy.

[2015-03-10 14:12] #218 closed

[2015-03-10 14:28] kmacedovarela commented on #218
Deploy realizado

[2015-03-11 14:55] Chrystinne commented on #216
@kmacedovarela Sim, links nesse formato tem que funcionar. Na verdade, a gente não sabe exatamente como o pessoal que usa o Siga em órgãos exteriores configura o DNS. Pelo que estou vendo, essa é a forma como os usuários do TRF acessam. No ES, por exemplo, pode ser diferente.

[2015-03-12 14:39] hodrigohamalho commented on #207
Corrigido.

[2015-03-12 14:39] #207 closed

[2015-03-12 14:39] hodrigohamalho commented on #188
Feito.

[2015-03-12 14:39] #188 closed

[2015-03-12 14:40] hodrigohamalho commented on #102
Corrigido.

[2015-03-12 14:40] #102 closed

[2015-03-12 15:48] Markenson opened #219 "sigawf: erro nos relatórios"
O seguinte erro ocorre ao gerar um relatório no sigawf: net.sf.jasperreports.engine.design.JRDesignStyle.setBorder(B)V

Como reproduzir:

1) Menu Siga/Módulos/Workflow
2) Menu Relatórios/Apresentar metricas/licitação
3) Preencha todas as datas com o valor 01/01/2015
4) clique em OK

[2015-03-12 15:54] Chrystinne opened #220 "[Siga-WF] Relatórios do workflow não estão funcionando"
- Erro reportado por usuário no Siga-Sr (JFRJ-SR-2015/01524);

- Passo-a-passo do teste realizado:
   1. Acessar relatórios de Serviço Extraordinário, através do menu (Relatórios -> Apresentar métricas -> Serviço Extraordinário);
   2. Preencher o formulário de Estatística de procedimento. Usei os seguintes dados:
     Procedimento iniciado de: 01/01/2014 até 01/01/2015
     Procedimento finalizad

[2015-03-12 15:57] kmacedovarela commented on #219
#220 duplicado

[2015-03-12 16:25] andresousa17 opened #221 "Erro no Campo de Busca"
Quando pesquisamos um documento na produção na página principal http://siga/siga/principal.action
o campo de busca funciona.

Pesquisa do documento TMP1414611

![image](https://cloud.githubusercontent.com/assets/5269936/6622220/2f2b4e48-c8ba-11e4-9c5c-0c14e84eae1f.png)

Quando pesquisamos dentro do módulo sigaex não funciona.

Ex: Na página http://siga/sigaex/expediente/doc/listar.action?primeiraV

[2015-03-12 16:53] Chrystinne opened #222 "Erro ao fazer Logoff pela página do SigaSr"
Procedimento:
-Entrar no SigaSr (http://siga/sigasr/solicitacao/editar);
-Clicar em Loggof pelo Menu principal do Siga.

Obs.: No Siga-antigo esse erro não ocorre.

[2015-03-12 16:55] Chrystinne commented on #219
@kmacedovarela Sim. @Markenson é muito rápido.

[2015-03-12 17:41] hodrigohamalho commented on #221
Não estou conseguindo reproduzir, vou procurar o @andresousa17 para me ajudar.

[2015-03-12 17:53] hodrigohamalho commented on #222
Este erro parece ser intermitente.

Tem um outro erro conhecido que talvez possa ter sido esse fluxo, que é o seguinte:
1. Entra no siga
2. Entra no sigasr
3. Entra no sigaex
4. Alguém faz o undeploy do sigasr
5. Usuário clica em logout a partir do sigaex
6. A aplicação vai chamar o Global Logout que consiste em ir em cada contexto que já foi aberto (siga/sigasr/sigaex) e efetuar um logout.
7. Por

[2015-03-12 17:53] #222 closed

[2015-03-12 18:00] hodrigohamalho commented on #221
Consegui resolver aqui, esse erro já foi solucionado mas o deploy ainda não foi feito em produção. Será realizado amanhã pela manhã.

[2015-03-12 18:00] #221 closed

[2015-03-12 20:15] Markenson commented on #219
@kmacedovarela @Chrystinne :)

[2015-03-13 11:48] kmacedovarela commented on #220
Favor testar em produção, não temos acesso.

[2015-03-13 11:49] #199 closed

[2015-03-13 14:04] Chrystinne commented on #220
Não estou conseguindo testar. Acessando o link http://siga/sigawf/task.action, a opção "Relatórios" da barra de menu não está mais acessível pra mim, nem quando substituo outras lotações.

![captura_de_tela_031315_110213_am](https://cloud.githubusercontent.com/assets/4949149/6639713/a5588f3e-c970-11e4-8f7a-ce4d79361f66.jpg)

[2015-03-13 14:06] hodrigohamalho commented on #220
@Markenson isso tem a ver com aquelas permissões que você esteve alterando?

[2015-03-13 15:21] kmacedovarela commented on #202
Conforme alinhado com @crivano, não será solucionado pois o projeto será migrado para VRaptor em breve.

[2015-03-13 15:21] #202 closed

[2015-03-13 15:25] Markenson commented on #220
@hodrigohamalho estamos com algum problema nessa permissão. Estou vendo aqui e te aviso quando achar uma solução.

[2015-03-13 15:26] Markenson commented on #220
Pra mim tb acontece isso...

[2015-03-13 18:49] hodrigohamalho opened #223 "GC log não está rotacionando nas máquinas em produção"
Isso faz com que a gente não tenha o histórico do gc.log.

[2015-03-13 19:07] hodrigohamalho commented on #223
Adicionei as novas instâncias e arrumei a rotação dos logs, tem que lembrar de confirmar se funcionou na segunda-feira.

[2015-03-13 19:15] hodrigohamalho commented on #223
Deixei a opção de coleta de métricas de GC apenas na acadia, creio que não há necessidade de ficar habilitado em todas as instâncias. Apenas em uma temos insumos suficiente pra analisar as métricas.

[2015-03-13 19:33] Markenson commented on #219
Mesmo problema ocorre fora do workflow (mesmo após o deploy de hoje)

1) Menu SIGA/Gestão de identidade/Relatórios/Permissões de usuário
2) Digite a matrícula

Stacktrace:
java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:57)
	at sun.reflect.DelegatingMethodAccess

[2015-03-13 19:51] kmacedovarela commented on #219
Procede, vamos verificar.

[2015-03-13 20:01] Markenson commented on #219
Para o WF, está ok!

[2015-03-13 21:00] Chrystinne commented on #220
@hodrigohamalho Testei agora no Siga e o relatório foi gerado corretamente.

[2015-03-13 21:01] hodrigohamalho commented on #220
fera, é a dependência do jasper duplicada, exclui ela no pom este erro não deve mais acontecer.

[2015-03-13 23:16] hodrigohamalho opened #224 "Criptografar senha do DS do sigase"

[2015-03-16 10:58] kmacedovarela commented on #224
Feito.

[2015-03-16 10:58] #224 closed

[2015-03-16 11:00] #220 closed

[2015-03-16 11:00] #219 closed

[2015-03-16 14:19] hodrigohamalho opened #225 "Verificar a possibilidade de trocar o http por AJP em homologação"
Me lembro que isso tinha causado algum problema no inicio do projeto, mas creio que seja uma boa hora pra reavaliarmos isso.

[2015-03-17 14:51] kmacedovarela opened #226 "Desabilitar log level info no apache"
Desabilitar o log level info que está aparecendo no error_log.

[2015-03-17 14:55] hodrigohamalho opened #227 "Remover ou alterar a land page do siga"
http://siga

Cai na página do welcome-root do Jboss, não acho que seja interessante isso principalmente em produção.

[2015-03-17 14:59] kmacedovarela opened #228 "Apache: problema com logs"
@Andredsf favor solucionar o problema que está ocorrendo no apache:

O diretório de logs mais uma vez está quase em 100% e isso provavelmente está influenciando no funcionamento do serviço. Está uma demanda prioritária.

[2015-03-17 15:29] Markenson opened #229 "Problemas intermitentes no campo de busca"
Diversos usuários estão reclamando que a busca pelo número do documento (no campo superior direito) às vezes funciona e às vezes não. Precisamos fazer testes exaustivos para garantir que essa caixa funcione 100% das vezes.

Não sei se pode ser a causa, mas percebi que as reclamações vieram de pessoas que estão em redes mais distantes que o padrão (Brasília e São Cristóvão). Precisamos fazer testes

[2015-03-17 15:32] Markenson commented on #229
Percebi também que quando há um espaço ele não consegue fazer a busca. Talvez falte um trim.

[2015-03-17 15:34] Markenson commented on #229
Acabamos de receber do usuário o feedback do usuário dizendo que o siga-antigo está funcionando ok.

[2015-03-17 15:37] kmacedovarela commented on #229
Procede, consegui reproduzir inclusive no chrome. Estou tentando identificar um fluxo que o erro sempre ocorra pra facilitar a rastreabilidade da causa.

[2015-03-17 15:57] kmacedovarela commented on #229
Como reproduzir:
Atualizar a pagina algumas vezes, o resultado fica intermitente.

http://siga/siga/generico/selecionar.action?propriedade=buscar_generico&sigla=JFRJ-SR-2015/00275&idp=sLfVz58M-exuJYdcMy9-J4%2BP.acadia%3Asigadoc-server03

[2015-03-17 15:59] kmacedovarela commented on #229
O mesmo comportamento pode ser reproduzido em hmg
http://siga-hmg/siga/generico/selecionar.action?propriedade=buscar_generico&sigla=JFRJ-SR-2015/00054

[2015-03-17 16:18] Andredsf commented on #226
Desabilitado.

[2015-03-17 16:18] #226 closed

[2015-03-17 16:18] Andredsf commented on #228
O problema estava no log dos modulos deflate e cache do apache.
Os dois foram desabilitados.

[2015-03-17 16:18] #228 closed

[2015-03-17 16:21] hodrigohamalho commented on #228
@Andredsf desabilitados? Creio que seja importante as informações de error gerado por estes logs, então acho que o mais correto seria alterar o loglevel dos módulos em questão pra ERROR ou WARN.

[2015-03-17 16:23] hodrigohamalho opened #230 "Parâmetro do IDP em requisições GET"
Durante chamadas AJAX do sistema, o parâmetro IDP foi incluído com o intuito de garantir o fluxo de autenticação das requisições.

Porém quanto existem vários cookies, não só o parâmetro IDP estã sendo enviado mas sim **todos** os cookies.

[2015-03-17 16:55] hodrigohamalho commented on #229
Entendido, resolverei!

[2015-03-17 17:46] Andredsf commented on #228
Não !! farei a configuração de logrotate que é uma outra tarefa, fechei este chamado pq problema do indicado foi resolvido.

[2015-03-17 19:06] kmacedovarela opened #231 "Apache externo"
É necessario configurar o apache para acesso via internet.

[2015-03-17 19:09] Markenson commented on #229
Mais detalhes do usuário:

"O problema acontece várias vezes em momentos diferentes ao longo do dia, seja com texto copiado e colado (de txt, de doc, de pdf ou do próprio Siga) seja digitando o número do expediente. Depois de dar enter ou de clicar na lupa, o que foi digitado ou colado some do campo e nada acontece. Então fico digitando ou colando o número do expediente até que de repente o sistem

[2015-03-17 19:10] kmacedovarela commented on #229
Procede.

[2015-03-18 11:57] kmacedovarela commented on #229
Ainda está com o problema da busca com espaço

[2015-03-18 13:13] hodrigohamalho commented on #229
Esse eu não corrigi ainda. Vou ver se mato hoje.

[2015-03-18 14:27] kmacedovarela commented on #231
@crivano e @Markenson ,

   Alinhando internamente com a equipe de mentoring, chegamos a conclusão de que no cenário atual seria interessante mantermos a própria naked, apenas ajustando as configurações para se adequar ao novo ambiente.
   Não temos o intuito de parar o serviço (e virar a chave) até que todas as configurações estejam finalizadas, ou seja, a atuação não impactaria na disponibilidad

[2015-03-18 16:13] Markenson commented on #231
Não há restrições em manter o serviço web na Naked. O importante é que durante o processo de configuração o serviço se mantenha disponível. Caso isso não seja possível, favor nos comunicar com  antecedência qualquer indisponibilidade prevista.

[2015-03-23 19:52] hodrigohamalho opened #232 "[Apache] Configuração cache/deflate"
A configuração do mod cache precisa ser revista tanto em homologação quanto em produção, pois os arquivos de css e javascript não estão sendo cacheados e/ou "gzipados" de forma adequada.

Considero isso prioritário tento em vista que tem regiões do Brasil que tem o link de acesso limitado ao siga (ex: Brasília).

[2015-03-23 19:57] hodrigohamalho opened #233 "Erro no template de documento"
Ao acessar a seguinte url em homologação: http://siga-hmg/sigaex/expediente/doc/exibir.action?sigla=TMP-475557

Dispara o seguinte erro:
![bug sigaex](https://cloud.githubusercontent.com/assets/252998/6789224/9f18be72-d17d-11e4-918b-95b18a0ea1cc.PNG)

Caso não seja realmente um bug pode fechar a issue.

[2015-03-23 19:58] AndDeluiz commented on #232
Pessoal, fiz as alterações pertinentes nos arquivos de configuração de mod_cache e mod_deflate no ambiente de HMG. Fiz alguns testes com sucesso. Como não tenho conhecimento de uso do sistema, peço que testem se tudo está funcionando corretamente para depois passarmos para produção.
Enquanto isso vou deixar esse issue aberto para acompanhamento.

[2015-03-23 19:59] hodrigohamalho commented on #232
@Markenson acha que isso é um caso pra um hotfix mais pro fim da semana?

[2015-03-25 15:00] kmacedovarela commented on #216
Para resolver esse problema, será necessário alterar as propriedades tornando-as relativas:

Ex:
Antes:     <property name="idp.url" value="http://siga/sigaidp/"/>
Depois:   <property name="idp.url" value="http://siga/sigaidp/"/>

Vou realizar as alterações em produção, e quando os servidores forem reiniciados, a alteração passará a valer.

[2015-03-25 15:01] kmacedovarela opened #234 "Atualizar propriedades do jboss no docker"
É necessário atualizar a imagem do docker, com as novas propriedades para corrigir o problema descrito em #216

[2015-03-25 16:15] hodrigohamalho opened #235 "Fechar recursos no projeto inteiro"
É necessário procurar por todas as referências de objetos que após o uso deverão ser fechados no código de preferência em blocos finally.

Exemplo de objetos:
* ByteArrayOutputStream
* File

São raríssimos as vezes que esses objetos são liberados no código, isso pode deixar esses objetos inelegíveis para coleta de lixo, causando memory leak.

[2015-03-25 19:13] kmacedovarela commented on #216
Aparentemente essa abordagem está com problemas no funcionamento com mais de uma instância, estou validando no ambiente de homologação antes de subir para produção.

[2015-03-25 19:31] hodrigohamalho commented on #214
Parece muito ser bug do eclipse (com o plugin do maven) e a forma com que ele gerencia os deploys.

Na verdade o eclipse gerência de forma muito ruim os deploys no application server, não há muito o que se tenha a fazer no JBoss além da configuração citada por você.

O que fiz aqui foi alterar os arquivos diretamente no diretório deployments do JBoss, por exemplo:
C:\Desenvolvimento\jboss-eap-6.2.

[2015-03-25 19:50] kmacedovarela commented on #216
A alteração precisa ser feita também no DC do SigaRH, logo, será necessário reiniciar todas as instâncias em um mesmo período (nao necessariamente ao mesmo tempo).
   Executarei esta modificação pela manhã quando o sistema tem menos usuários.

[2015-03-26 14:34] kmacedovarela commented on #216
Resolvido.

[2015-03-26 15:48] kmacedovarela commented on #234
O arquivo /opt/docker/build/siga-appserver-standalone/opt/jboss/sigadoc/configuration/standalone.xml foi atualizado. @AndDeluiz  poderia gerar uma nova imagem ?

[2015-03-27 13:54] kmacedovarela commented on #229
Voltou a ocorrer, é possível reproduzir em homologação

[2015-03-27 13:57] hodrigohamalho commented on #229
vou verificar.

[2015-03-27 16:46] hodrigohamalho commented on #229
A alteração da issue #216 quebrou essa correção.

Vou gerar um hotfix com a correção.

[2015-03-27 17:00] hodrigohamalho commented on #232
@Markenson ping.

[2015-03-27 17:08] kmacedovarela opened #236 "Inicializar cache no startup da aplicação"
No sigasr e sigagc, inicializar o cache no startup da aplicação, e não no primeiro acesso.

[2015-03-27 17:29] hodrigohamalho commented on #229
https://github.com/projeto-siga/siga/tree/hotfix-4.0.3.3

Hotfix gerado.

[2015-03-27 20:14] AndDeluiz commented on #234
@kmacedovarela imagem atualizada com ID build-00024.
Me avise quando deseja que seja executada.

[2015-03-27 20:14] #234 closed

[2015-03-30 11:23] Markenson commented on #232
@hodrigohamalho e @AndDeluiz,

Fiz uns testes rápidos e parece estar tudo ok na HMG. Podem aplicar em produção.

[2015-03-30 12:48] kmacedovarela commented on #229
Implantado

[2015-03-30 12:48] kmacedovarela commented on #216
Com a solução de #229,  amanhã realizarei novamente as alterações pela manhã.

[2015-03-30 17:19] kmacedovarela commented on #126
Não será reimplementado devido à migração para VRaptor. A correção foi realizada nos projetos da NUSAD (sigatp e sigase), caso exista interesse, favor consultar a solução com João.

[2015-03-30 17:19] #126 closed

[2015-03-30 17:38] hodrigohamalho commented on #230
isso foi corrigido no commit 48fe8346f8cb2431d504e5023865ee07b371d913

[2015-03-30 17:39] #230 closed

[2015-03-30 17:39] hodrigohamalho commented on #223
Corrigido.

[2015-03-30 17:39] #223 closed

[2015-03-30 17:43] hodrigohamalho commented on #215
Na sexta-feira todos o horário das máquinas (system-time) de homologação e produção foram sincronizados.
Fiz diversos testes tantos nos módulos normais quanto play e todos os timeouts funcionaram de forma esperada.
Logo acredito que antes de alterar o timeout pra 2 horas ou aumentar, deveria ser feita uma análise no ambiente das pessoas que estão reclamando do timeout pois parece ser um problema p

[2015-03-30 17:48] hodrigohamalho commented on #225
Foi aberto um chamado junto a equipe de suporte da Red hat para acompanharmos isso:
https://access.redhat.com/support/cases/#/case/01412153

Foi sugerido a migração para o JBoss EAP 6.3 para verificar se o problema foi corrigido. Irei fazer uns testes com o ambiente que fiz para reproduzir o erro e verificar se o mesmo acontece no 6.3.

Não sei se compensa migrar pro 6.3 tendo em vista que já tem

[2015-03-30 17:53] hodrigohamalho commented on #231
A máquina foi entregue?

[2015-03-30 17:54] kmacedovarela commented on #231
Ainda não.

Atenciosamente,
Karina Macedo Varela  | JBoss Middleware Consultant

Cel: +55 61 8434-0656
PGP: 1F24 6737 9E63 D39D 69FF  91AA BBAE C760 5B99 60BE

2015-03-30 14:53 GMT-03:00 Rodrigo Ramalho da Silva <
notifications@github.com>:

[2015-03-30 17:55] hodrigohamalho commented on #236
Não foi possível fazer isso usando CDI porque o play tem sua própria gerência. Tem que estudar como fazer isso da maneira PLAY, talvez seja melhor deixar isso de lado tendo em vista que os projetos estão sendo migrado pra Vraptor.

[2015-03-30 18:00] hodrigohamalho opened #237 "Transformar o siga-busca-textual em módulo"
Conforme discutimos via email ficou decidido que o siga-busca-textual deveria ser configurado como módulo.

Atualmente o mesmo está como uma dependência opcional no pom.xml do projeto sigaex.

[2015-03-30 18:02] hodrigohamalho opened #238 "Analisar o gc.log dos servidores em produção"
Já temos uma semana de gc.log. Tem que recolher e analisar esses logs pra verificar como está a gerência de memória principalmente nas aplicações mais críticas (sigaex).

[2015-03-30 20:27] kmacedovarela commented on #211
Ao testar as novas propriedades no ambiente de homologação estou recebendo o seguinte erro, mesmo o max pool =2 , e uma instancia no ar:

Caused by: java.sql.SQLException: ORA-00604: error occurred at recursive SQL level 1
[Server:sigawf-server01] ORA-00018: maximum number of sessions exceeded

Estou aguardando posicionamento da equipe de banco.

[2015-03-31 15:37] hodrigohamalho commented on #225
Acabei de fazer os testes e de fato foi corrigido essa questão do AJP no EAP 6.3.
Agora temos que discutir se vale a pena migrar, lembrando que temos um ambiente relativamente grande:
* local de cada desenvolvedor
* classec250 (desenvolvimento docker e não docker)
* classea,b,c,d,e,f (homologação)
* atron, accelo, acadia, arocs, atego, actros (produção)

[2015-03-31 19:14] Markenson opened #239 "O número da versão nã oestá sendo exibida na página inicial"
Provavelmente passou a ocorrer depois que que a página de login passou para o siga-idp. Isso é feito por um plugin no pom.xml

![image](https://cloud.githubusercontent.com/assets/2985140/6927033/f2510844-d7c0-11e4-9fb2-60796230edcf.png)

[2015-03-31 20:09] kmacedovarela opened #240 "Erro no SigaPP"
Caused by: org.hibernate.MappingException: Named query not known: consultarDataUltimaAtualizacao

[2015-03-31 20:32] kmacedovarela commented on #240
O plugin do maven do play framework as vezes não apaga a pasta precompiled e modules durante a geração do pacote. Apaguei manualmente e gerei outra versão e a classe em questão foi atualizada no pacote. Nenhuma alteração em código foi realizada.

[2015-03-31 20:32] #240 closed

[2015-04-06 17:55] hodrigohamalho commented on #137
Corrigido.

[2015-04-06 18:02] kmacedovarela commented on #137
A issue poderá ser fechada quando o siga.war for separado no ambiente de produção.

[2015-04-06 18:08] hodrigohamalho commented on #216
Essa issue já foi corrigida através da remoção da url do picketlink.xml, deixando somente a referencia para os contextos.

[2015-04-06 18:08] #216 closed

[2015-04-06 18:11] hodrigohamalho commented on #215
@Markenson algum usuário ainda continua reclamando disso?

[2015-04-06 19:01] kmacedovarela opened #241 "[Crítico] Alteração na solução de cache"
Conforme conversa iniciada por e-mail, é necessário que a equipe tome providência a respeito do seguinte item :

   Gargalo na aplicação que possivelmente é uma das causas das quedas do sigaex quando com muitos usuários simultâneos.

**br.gov.jfrj.siga.cp.bl.CpConfiguracaoBL:130**
private **synchronized** void atualizarCache(Long idTipoConfig) {

   Este método está gerando lock em diversas thread

[2015-04-09 16:13] kmacedovarela opened #242 "Configurar selinux no novo apache"

[2015-04-09 16:13] kmacedovarela opened #243 "configurar firewalld no novo apache"

[2015-04-09 18:07] hodrigohamalho opened #244 "Remover stacktrace Tidy"
Remover o e.printStacktrace() que causa a mensagem abaixo:
Acho que 90% das mensagens dos logs em produção é a mensagem abaixo, creio que não seja importante, seria interessante remover esse stacktrace do código.

[code]

[2015-04-09 18:08] kmacedovarela commented on #244
Uma forma de reproduzir a exibição desse trecho é criar um documento.

[2015-04-09 20:30] hodrigohamalho commented on #231
O apache foi configurado.
Como teste inicial apontamos para os JBoss de homologação até que a gente garanta que tudo está funcionando como deveria nesse apache.

Pedimos que a equipe do siga efetue os testes nesse apache para que possamos finalmente apontar para o JBoss de produção, segue o link:

http://belina.jfrj.jus.br/

[2015-04-10 02:19] Markenson commented on #241
@kmacedovarela o que você acha de logarmos o idTipoConfig para saber se ocorre somente com um tipo? Pergunto isso porque pode ser que um determinado tipo demore mais do que outros para serem atualizados no cache. Se isso for verdadeiro, podemos verificar se realmente é necessária a presença desse tipo no cache.

[2015-04-10 02:22] Markenson commented on #215
@hodrigohamalho Eu cheguei a conversar com o Bernardo na semana passada (da seção que estava reclamando) e ele disse que estava melhor. Será que somente a ataulização com NTp não foi suficiente?

[2015-04-10 02:28] hodrigohamalho commented on #215
Hum, pode ter sido. Sistema também deu uma melhorada em relação a estabilidade, pode ter sido um dos fatores também...

Vou fechar a issue, se alguém voltar a reclamar a gente reabre e investiga isso mais a fundo.

[2015-04-10 02:47] Markenson commented on #215
OK. Vamos providenciar o aumento do tempo de sessão?

[2015-04-10 02:59] hodrigohamalho commented on #215
Acho que podemos aumentar pra 1 hora invés de ir direto pra 2, o que acha?

Dai entra no próximo release...

[2015-04-10 14:01] Markenson commented on #215
Fica bom assim. Vamos colocar 1 hora.

[2015-04-10 14:58] AndDeluiz commented on #232
@Markenson, tentei reproduzir o bug do PDF em HMG e não consegui com as suas instruções. O documento retornado sempre é o mesmo.
Temos como pedir para que o usuário tente reproduzir em HMG? Há disponibilidade do mesmo documento no ambiente HMG?

[2015-04-10 15:28] hodrigohamalho commented on #215
Done: f6ff8c992973a116bff31eda2ee28570a81e4c44

[2015-04-10 16:01] kmacedovarela commented on #241
Foi alinhado em conversa com @Markenson , que deverá ser incluido um trecho no código para tentar logar o id do tipo de conf e o id da thread

[2015-04-10 19:13] kmacedovarela commented on #241
Senhores, está acontecendo um comportamento que acredito que não seja esperado: o método synchronized está sendo chamado duas vezes e executando todo o procedimento para qualquer alteração de configuração.

Como reproduzir (com debug e breakpoint no método em questão é possivel verificar o comportamento claramente):
1. Logar no siga, e acessar a tela de configuração de permissões
2. O método será

[2015-04-11 12:25] Markenson commented on #215
@hodrigohamalho Vi que essas alterações foram feitas no web XML (então o timeout será por aplicação, certo?). Não seria melhor ser fosse feita uma configuração no jboss para que ficasse independente da aplicação?

[2015-04-11 12:30] Markenson commented on #232
@AndDeluiz Não temos disponibilidade do mesmo documento em HMG. Podemos combinar de ativar em produção por um período específico e verificarmos se há alguma incidência de chamados (limpando o cache do apache antes para evitar algum problema). O que acha?

[2015-04-11 17:22] hodrigohamalho commented on #215
seria interessante mesmo, sei que sempre a aplicação pode sobrescrever o valor definido no servidor, mas desconheço uma forma de fazer isso no Jboss EAP 6. Vou dar uma pesquisada melhor ou até mesmo abrir um chamado pra ver como faz isso.

[2015-04-11 19:05] crivano commented on #215
Vcs gostam mesmo de trabalhar, hein?! Até no sábado! :)
Em 11/04/2015 14:22, "Rodrigo Ramalho da Silva" <notifications@github.com>
escreveu:

[2015-04-11 23:01] Markenson commented on #215
Pow, tava zerando meus e-mails... Não me liguei que Rodrigo era tarado. Sugestão: cuidado com ele. Kkkkkkkkkkk

[2015-04-12 08:07] hodrigohamalho commented on #215
hauhuahua tem tempo ruim não !

[2015-04-13 16:16] kmacedovarela commented on #237
Tinha um módulo criado nas máquinas de homologação que não estava funcionando. Comentei a linha do textual, que continua disponibilizado como jar.

[2015-04-13 16:45] AndDeluiz commented on #242
Configurações ajustadas e ativadas. Caso ocorram problemas, favor reabir o issue.

[2015-04-13 16:45] #242 closed

[2015-04-13 16:46] AndDeluiz commented on #243
Configurações ajustadas e ativadas. Caso ocorram problemas, favor reabrir o issue.

[2015-04-13 16:46] #243 closed

[2015-04-13 16:48] AndDeluiz opened #245 "Configuração NTP e desativação de serviços desnecessários em novo servidor Apache"
Configurar o NTP para sincronia de horário automática.
Desabilitar serviços desnecessários ao funcionamento do novo servidor Apache.

[2015-04-13 16:49] AndDeluiz commented on #245
Configurado e habilitado NTP daemon.
Desabilitados serviços desnecessários ao servidor.

[2015-04-13 16:49] #245 closed

[2015-04-13 18:11] AndDeluiz commented on #232
@Markenson Podemos seguir por essa linha de atuação sem nenhum problema. Seria interessante verificar a disponibilidade do usuário que foi afetado e fazer um teste conjunto. Vou lhe procurar para falarmos sobre o assunto.

[2015-04-13 19:33] AndDeluiz commented on #232
@Markenson, só para alinhar, vamos subir as configurações em PROD novamente no dia 20/04 as 9:00 e acompanhar o funcionamento. Podemos seguir com essa agenda ?

[2015-04-13 23:13] Markenson commented on #232
Sim.

[2015-04-14 15:58] kmacedovarela opened #246 "Exibição com formatação incorreta de documento"
Pessoal, segue erro reportado por usuário.

O layout da página fica quebrado quando exibido determinado documento. Ocorre também no siga-antigo.

http://siga-antigo/sigaex/expediente/doc/exibir.action?sigla=TRF2-PAR-2015/00137
http://siga/sigaex/expediente/doc/exibir.action?sigla=TRF2-PAR-2015/00137

[2015-04-14 16:33] Markenson commented on #246
Esse problema foi causado pois o usuário provavelmente copiou e colou o conteúdo de um editor de textos avançado (word, por exemplo). O usuário deveria ter copiado e colado para o bloco de notas para remover a formatação. Como o PDF está correto, essa issue será encerrada.

[2015-04-14 16:33] #246 closed

[2015-04-15 16:19] hodrigohamalho commented on #231
@Markenson poderia testar novamente a assinatura?

[2015-04-16 18:51] hodrigohamalho commented on #237
Configuração feita.

[2015-04-16 18:51] #237 closed

[2015-04-17 14:10] hodrigohamalho commented on #215
É realmente não é possível mais fazer essa configuração no JBoss EAP 6.2.3.

Ele até tem um timeout padrão de 30 minutos mas é Hard coded, já corrigiram isso mas só está disponível no EAP 6.4.

[2015-04-17 14:10] #215 closed

[2015-04-20 12:28] kmacedovarela opened #247 "Apache externo ambiente de homologação"
Verificar melhor estratégia para disponibilizar externamente o ambiente de homologação. Hoje a maquina azera serve como apache interno e externo da maquina sigat.

[2015-04-20 12:47] kmacedovarela opened #248 "Configurar url do sigarh-ajuda em desenvolvimento"
É necessário acrescentar a URL do sigarh-ajuda na imagem do apache do ambiente de desenvolvimento (está com mod_proxy).

contexto: sigarhajuda
sistema: sigarh

[2015-04-20 12:56] hodrigohamalho commented on #247
acho que podiamos fazer pela naked também

[2015-04-22 12:42] moisesoliveirasilva opened #249 "Siga-Treinamento"
Existe um portal de educação onde os servidores se inscrevem para os cursos. No botão de inscrição há uma url para o siga-treinamento, por exemplo (http://siga/sigatr/publico/preInscrever.action?idTurma=4110). Se o usuário clica nesse botão e não estiver logado, abre a tela de login,
mas depois disso a página é carregada com o sequinte erro: Matrícula e ID da Turma obrigatórios.
Colei essa url no

[2015-04-22 12:49] kmacedovarela commented on #249
O erro realmente ocorre.
Após pressionar f5, o sistema se comporta como esperado.

[2015-04-22 13:05] kmacedovarela commented on #249
Exemplo de url para reproduzir o problema em desenvolvimento:
http://siga/sigatr/publico/preInscrever.action?idTurma=704

[2015-04-22 13:08] kmacedovarela commented on #247
Apenas uma observação: esse ambiente não necessita de autenticação como o ambiente de produção, quando acessado externamente.

[2015-04-22 14:23] kmacedovarela commented on #247
Esclarecimento: o apache do ambiente de homologação nao tem autenticação com certificado, como por exemplo na naked.

[2015-04-22 14:49] moisesoliveirasilva commented on #249
Verifiquei que a tela de login no siga-antigo, a url é essa: http://siga-antigo/siga/redirect.action?uri=%2Fsigatr%2Fpublico%2FpreInscrever.action%3FidTurma%3D4110
E no siga, a url é essa: http://siga/sigaidp/

[2015-04-22 14:54] hodrigohamalho commented on #249
Todo mecanismo de autenticação foi reescrito, então isso é pra ser diferente mesmo @moisesoliveirasilva .

[2015-04-24 13:50] kmacedovarela commented on #249
Moisés, você consegue reproduzir o problema em desenvolvimento e homologação?

[2015-04-24 14:03] kmacedovarela commented on #248
Já fiz a alteração no arquivo  /opt/docker/build/siga-webserver-standalone/etc/httpd/conf.d/sigarh.conf
É necessário apenas gerar nova imagem do webserver e subir.

[2015-04-24 14:12] kmacedovarela commented on #249
O problema ocorre apenas no ambiente de produção.

[2015-04-24 15:02] kmacedovarela commented on #244
INFO: A stack é lançada em ProcessadorHtml.java:282, internamente no tidy.

[2015-04-24 15:43] hodrigohamalho commented on #244
Acho que podiamos desabilitar o stderr, que que você acha?

[2015-04-24 16:09] kmacedovarela commented on #244
O log category stderr foi desligado ( está como OFF )  no JBoss nos ambientes de homologação, produção e desenvolvimento.

[2015-04-24 16:09] #244 closed

[2015-04-24 16:09] kmacedovarela commented on #244
A configuração foi realizada via interfaces do JBoss, porém segue xml resultante abaixo:

                <logger category="stderr" use-parent-handlers="true">
                    <level name="OFF"/>
                </logger>

[2015-04-24 16:14] kmacedovarela commented on #233
@Markenson  ou @crivano  essa issue procede ou pode ser fechada?

[2015-04-24 16:29] kmacedovarela commented on #249
Como o problema não é trivial e só ocorre no ambiente de produção será necessário realizar debug. Para nao prejudicar o acesso dos usuários, a investigação só sera realizada em momentos que o sistema estiver com uma menor quantidade de acessos.

[2015-04-24 17:26] AndDeluiz commented on #248
Imagem gerada com novas configurações e contêiner ativado.

[2015-04-24 17:26] #248 closed

[2015-04-24 18:11] AndDeluiz commented on #232
Depois dos problemas acontecidos em 20/04, após ativação das configurações, estou analisando os dados coletados. Já verifiquei que uma configuração efetuada não estava considerando a query string em métodos GET. Acertei essa configuração hoje em HMG e vou acompanhar. Em paralelo, continuo analisando os dados coletados.

[2015-04-27 17:18] hodrigohamalho opened #250 "WF: Necessitando restart após redeploy"
o @Markenson identificou que ao fazer redeploy no ambiente de homologação a instância do sigawf precisa ser reiniciada pra funcionar normalmente.

Mesmo respondendo com HTTP 200 o quadro do siga na página inicial fica vazio.

[2015-04-27 20:17] hodrigohamalho opened #251 "Liberar acesso a URL de testes do siga"
A URL abaixo não deveria pedir autenticação:
http://siga/siga/testes/testes.action?matricula=RJ13635

[2015-04-28 15:39] hodrigohamalho opened #252 "Trocar o sigarh-ajuda de server-group"

[2015-04-28 22:27] hodrigohamalho commented on #137
Entrou em produção hoje.

[2015-04-28 22:27] #137 closed

[2015-04-28 22:28] crivano commented on #241
Precisaremos realmente rever todos os lugares onde o cache é invalidado. Pesquisei no código e achei vários lugares onde isso é feito sem que haja necessidade.

Acredito que a solução ideal seja criar um método que grava uma configuração e já disponibiliza ela no cache. Dessa forma, reler o cache seria realizado apenas como o primeiro passo do ThreadFilter, e nunca ocorreria dentro do escopo de um

[2015-04-29 00:49] Markenson commented on #241
@crivano Acho melhor aguardar, pois fazer um merge disso pode ser bem complicado. O que acha de avaliarmos se os recursos de cache disponíveis pelo próprio servidor de aplicação nos atenderia? Se for viável, remover esse código de dentro do nosso sistema certamente tornaria o sistema mais robusto.

[2015-04-29 11:03] crivano commented on #241
A princípio, acho que serializar e deserializar todos esses objetos, em
todas as chamadas, deve ser desnecessariamente lento. A questão da rotina
síncrona está aí apenas para evitar que vários threads façam a mesma
operação desnecessariamente. Poderíamos remover o lock, se fosse o caso,
mas tenho a impressão que usar o cache do JBoss será ainda mais custoso.

2015-04-28 21:49 GMT-03:00 Markenson <

[2015-04-29 15:33] hodrigohamalho commented on #252
feito.

[2015-04-29 15:33] #252 closed

[2015-04-29 18:38] Markenson commented on #233
@hodrigohamalho e @kmacedovarela não é um bug.

[2015-04-29 18:38] #233 closed

[2015-04-29 19:02] hodrigohamalho commented on #247
Feito: http://sigat.jfrj.jus.br

[2015-04-29 19:02] #247 closed

[2015-04-29 19:02] hodrigohamalho commented on #251
Corrigido em: 5258a313eaff6cdb65e94735132f51f6e8861924

[2015-04-29 19:02] #251 closed

[2015-04-29 19:04] hodrigohamalho commented on #225
Acho melhor esperarmos o 6.4 para atualização.

Vou fechar essa issue e caso o assunte volte a ser discutido podemos reabrir.

[2015-04-29 19:04] #225 closed

[2015-04-29 21:38] hodrigohamalho opened #253 "SIGATP em homologação não está logando devidamente"
No log parece conter apenas mensagens do JBoss.

[2015-04-30 14:14] hodrigohamalho opened #254 "Comportamento inesperado na SIGAT"
Recentemente o DNS SIGAT passou a apontar pro ambiente de homologação fornecendo acesso externo para os usuários.
Ao alterar as configurações para apontar pra esse novo DNS o SigaGC/SigaSR e SigaWF pararam de funcionar.

Tem que investigar o porque desse comportamento.

Caso seja alterado as referências de siga-hmg pra sigat, lembrar que o SigaRH faz os apontamentos do webservice para siga-hmg tam

[2015-04-30 14:15] hodrigohamalho commented on #254
@Markenson o DNS siga-hmg vai morrer ou ficarão os dois?

[2015-04-30 14:48] Markenson commented on #254
@hodrigohamalho Acho que fica a nosso critério. Se for mais simples manter um só, basta pedirmos à SERED para manter apenas o sigat. Caso contrário, não vejo problemas em manter os dois.

Deveríamos tentar fazer com que as aplicações sejam independente do nome do host e, onde não for possível, seria bom registrarmos no wiki para sabermos em situaçoes futuras.

[2015-04-30 15:05] hodrigohamalho commented on #254
Manter um só é mais simples.
Existem várias propriedades (herdadas do siga.properties) que considera o link completo pro apache. ex:
[code]

Se quiser manter os dois links teriamos que revisar todas as propriedades que possuem valor absoluto das urls filtrar as que realmente são usadas, depois disso relativiza-las.

[2015-04-30 16:51] Markenson commented on #254
Por simplicidade, então vamos manter apenas o sigat (temos que avisar ao pessoal da SEGEP). Depois é bom abrir uma issue para acertar essas referências hard nas properties.

[2015-04-30 17:02] hodrigohamalho commented on #254
ok, vou providenciar isso.

[2015-04-30 17:14] Markenson commented on #241
@crivano  Concordo que serializar/desserializar é um custo. Mas já que vamos ter que mexer nisso (e é complexo) seria bom termos certeza se isso é mesmo um problema antes de descartar a possibilidade, pois pode ser que a ferramenta tenha algo otimizado para essas operações ou talvez algum recurso interessante que desconhecemos. Talvez o @hodrigohamalho e @kmacedovarela tenham o caminho das pedras

[2015-04-30 17:43] crivano commented on #241
@Markenson , concordo que não devemos descartar a possibilidade.

Me parece que o maior problema está na recarga do cache durante uma operação. Algo que acontece, tipicamente, quando gravamos uma nova configuração e precisamos que o cache esteja atualizado para que possamos prosseguir com o processamento. Isso pode ser evitado se, ao gravar a configuração já pudermos incluí-la no cache instantanea

[2015-04-30 17:46] Markenson commented on #241
ok.

[2015-05-04 15:31] kmacedovarela commented on #229
Ainda ocorre. Ate que se resolva o problema de maneira definitiva, uma sugestão do @Markenson  foi verificar a possibilidade de liberar o acesso a URL chamada pelo campo de busca,  uma vez o que o retorno da mesma é uma string que só é processada posteriormente para a recuperação dos dados em si.

[2015-05-04 15:33] crivano commented on #229
Perfeito. Se o retorno não contiver a descrição, apenas a sigla do documento, melhor ainda. Poderá ficar para sempre como uma url pública.

[2015-05-04 16:23] hodrigohamalho commented on #229
ótimo! farei aqui

[2015-05-04 16:30] kmacedovarela opened #255 "OutOfMemoryError em homologação"
Error allocating socket processor: java.lang.OutOfMemoryError: unable to create new native thread

Correção em andamento.

[2015-05-04 16:40] kmacedovarela commented on #255
Parametros alterados no /etc/security/limits.d/30-jboss.conf.

[2015-05-04 16:40] #255 closed

[2015-05-04 17:10] hodrigohamalho commented on #254
A alteração que solucionará esse problema irá inviabilizar o siga-hmg, deixando disponível *apenas* o DNS sigat.
No ambiente siga-hmg está ocorrendo alguns treinamentos previstos pra acabar na quarta, para não prejudicar o andamento destes treinamentos iremos fazer a alteração para sigat somente quinta-feira.

[2015-05-04 17:55] kmacedovarela opened #256 "Remover agente do new relic da classef"
Após finalização do treinamento, remover da maquina classef de homologação o agente do new relic.

[2015-05-04 18:09] hodrigohamalho opened #257 "Script para facilitar deploy nos ambientes"
O processo de deploy hoje está muito custoso, ainda mais com o SigaDOC onde cada release é feito o deploy de todos os módulos.

Seria interessante criarmos um script que automatizasse esse processo.

[2015-05-04 18:34] kmacedovarela opened #258 "Adicionar URL do sigarh-bancopermutas ao apache de desenvolvimento"
Adicionar URL e atualizar imagem do docker

[2015-05-05 19:11] kmacedovarela commented on #258
Feito

[2015-05-05 19:11] #258 closed

[2015-05-05 19:11] kmacedovarela commented on #231
@hodrigohamalho como está isso? Está finalizado?

[2015-05-05 19:21] hodrigohamalho commented on #231
todos os bugs reportados foram resolvidos a única pendencia que existe é o apontamento dos nomes "siga-hmg" para "sigat", não conseguiremos manter os dois.
Como está tendo um treinamento, combinamos de fazer isso na quinta. Lembrando que após essa alteração o siga-hmg irá parar de funcionar.

[2015-05-05 22:10] adrigrassi opened #259 "Problema na visualização de .rtf nos ambientes de desenvolvimento e homologação"
Ao clicar no botão visualizar publicação no ato do agendamento de publicação DJE o sistema abre o word com a seguinte mensagem:
"JavaScript is disabled. We strongly recommend to enable it. Click the button below to continue."

[2015-05-05 22:17] hodrigohamalho opened #260 "[SIGARH] Banco permutas se perde no redirecionamento do sigaidp"
Ao acessar deslogado o /sigarh-bancopermutas o usuário é redirecionado para o IDP, informa as credenciais e é direcionado para o sigaidp/ invés de ser redirecionado de volta para o /sigarh-bancopermutas/....

[2015-05-06 12:00] kmacedovarela commented on #260
[INFO] Este problema não acontece no ambiente de desenvolvimento.

[2015-05-06 13:31] crivano opened #261 "Erro na carga do JackRabbit, branch: vraptor."
@hodrigohamalho @kmacedovarela , não sei porque o JBPM quer carregar o JCR, mas o fato é que está dando esse erro abaixo. Tem alguma possibilidade de acrescentar essa dependência como um módulo ou algo assim?

09:44:20,502 ERROR [org.apache.catalina.core.ContainerBase.[jboss.web].[default-host].[/sigawf].[default]] (http-localhost/127.0.0.1:8080-4) JBWEB000236: Servlet.service() for servlet defaul

[2015-05-06 13:38] hodrigohamalho commented on #261
A gente pode configurar como módulo essa dependência, mas não vejo muita utilidade nisso porque só o sigawf usa o JBPM...

Acho que seria mais adequado inserir como uma dependência da aplicação mesmo no pom.

[2015-05-06 13:49] crivano commented on #261
@hodrigohamalho parece que resolveu. Tks!

[2015-05-06 13:49] #261 closed

[2015-05-06 16:21] adrigrassi commented on #259
Pessoal, descobrimos que esse problema somente acontece na classeE e o erro é o seguinte:
13:09:50,532 ERROR [stderr] (http-/10.10.0.68:8180-1) (LocalizaÃ§Ã£o de erro des                                                                                                 conhecido)java.io.FileNotFoundException: /opt/jboss-eap-6.2/xhtml.dtd (No such f

[2015-05-06 16:21] #259 closed

[2015-05-06 16:27] kmacedovarela commented on #259
Ah sim, é um erro conhecido. Vou verificar assim que possível.

[2015-05-06 16:34] kmacedovarela commented on #259
Os arquivos foram adicionados, favor testar novamente.

[2015-05-06 17:33] kmacedovarela commented on #231
Issues relacionadas. #254

[2015-05-06 17:54] kmacedovarela commented on #236
Deverá ser analisado após migração das aplicações para vraptor.

[2015-05-06 17:54] #236 closed

[2015-05-06 18:41] adrigrassi commented on #259
Karina,

Já está funcionando!  Pode fechar a issue!
Obrigada,
Adriana

2015-05-06 13:34 GMT-03:00 Karina Macedo Varela <notifications@github.com>:

[2015-05-06 19:35] kmacedovarela commented on #227
Habilitado em homologação. Amanhã cedo vou verificar em produção.

[2015-05-06 19:40] AndDeluiz commented on #232
**UPDATE**

Analisei os dados capturados e tudo certo no tráfego entre a máquina do usuário e o servidor Apache. Não existem erros, então o problema realmente é de configuração.
A alteração nas configurações feita em HMG segue em funcionamento sem nenhuma reclamação. O cache no servidor Apache agora guarda os objetos associando também a *query string*.

![image](https://cloud.githubusercontent.com

[2015-05-06 19:51] AndDeluiz commented on #232
Sobre o problema no qual o IE9 não faz cache de objetos CSS, HTML, PNG, dentre outros, mesmo o Apache estando configurado para fazer cache destes objetos, verifiquei que no novo ambiente EAP 6 sempre vem no **RESPONSE** HEADER a diretiva **Cache-Control: no-cache**, assinalada pelo ambiente EAP 6. @hodrigohamalho está verificando se a inserção dessa diretiva é feita pela aplicação ou pelo JBoss.
A

[2015-05-06 20:11] hodrigohamalho commented on #260
Na verdade acho que esse problema é no sigaidp, estava testando local e está acontecendo pra todos os módulos.
Em desenvolvimento provavelmente está funcionando porque está com uma versão antiga do sigaidp.

[2015-05-07 14:10] djalmasilvajr commented on #260
Pessoal,
Seria possível fazer o teste em produção?  O cliente deste módulo está aguardando para amanhã estar disponibilizado em produção.  Talvez lá não tenha este problema.

[2015-05-07 14:14] kmacedovarela commented on #260
Sim Djalma, vou iniciar a criação das instâncias para o sigarh banco permutas em produção. é para disponibilizar o war que já está na pasta deploy?

[2015-05-07 14:14] djalmasilvajr commented on #260
sim

[2015-05-07 14:15] kmacedovarela commented on #260
Aviso quando estiver ok.

[2015-05-07 14:15] djalmasilvajr commented on #260
ok

[2015-05-07 14:17] hodrigohamalho commented on #231
5b693f6ce47d86d6eae35db5264775237b1bc818

[2015-05-07 14:43] kmacedovarela opened #262 "Atualizar diagramas de servidores"
Atualizar diagramas incluindo o sigarh banco permutas, e atualizando o grupo da aplicação siga.

[2015-05-07 14:44] kmacedovarela commented on #256
removido.

[2015-05-07 14:44] #256 closed

[2015-05-07 14:45] kmacedovarela commented on #253
Aguardando pela equipe da nusad exemplo de log que deveria ser exibido, e não está .

[2015-05-07 17:29] kmacedovarela opened #263 "Configurar usuários e permissões no DC"
Habilitar e configurar o rbac.

[2015-05-07 18:17] kmacedovarela commented on #260
@hodrigohamalho o problema em questão está sendo causado pelo projeto siga-libs. Favor verificar e ajustar as devidas atualizações do último commit.

[2015-05-07 18:49] kmacedovarela commented on #254
Foram realizadas as devidas alterações no JBoss, aguardo a confirmação da infra sobre o apontamento do endereço  para o apache correto.

[2015-05-07 18:59] kmacedovarela commented on #253
Foi constatado que o sigatp não está logando nem no ambiente local de desenvolvimento. Foi acertado que a equipe irá analisar a aplicação e caso seja necessário, podemos reabrir essa issue.

[2015-05-07 18:59] #253 closed

[2015-05-07 19:23] kmacedovarela commented on #229
@hodrigohamalho isso foi corrigido correto?

[2015-05-08 01:13] hodrigohamalho commented on #229
Foi sim: cf9d523acebec96ea22bad9dd19e4d1d5e69f9d8
porém ainda não foi disponibilizado, amanhã faço isso.

[2015-05-08 11:54] kmacedovarela commented on #227
Para habilitar foi necessário configurar o proxy pass no apache e configurar o enable-welcome-root do virtual server do jboss como falso.

[2015-05-08 12:31] kmacedovarela commented on #254
SigaWF, SigaGC e SigaSR estão agora sendo normalmente exibidos na sigat.jfrj.jus.br

[2015-05-08 12:34] kmacedovarela commented on #231
Ambiente de produção: OK. Nenhum erro foi reportado até o momento.

Ambiente de homologação: Aguardando decisão da infra sobre como será externalizado o ambiente de homologação.

[2015-05-08 12:45] crivano commented on #254
@kmacedovarela será que pode configurar um redirect para que http://sigat.jfrj.jus.br redirecione para http://sigat.jfrj.jus.br/siga ?

[2015-05-08 12:51] kmacedovarela commented on #254
Opa, achei que estivesse ok. vou reabrir a issue #227  referente a isto

[2015-05-08 12:51] #254 closed

[2015-05-08 12:52] kmacedovarela commented on #227
Verificar o comportamento em HMG

[2015-05-08 12:53] kmacedovarela commented on #254
Favor testar @crivano qualquer problema reabrir a issue.

[2015-05-08 14:26] kmacedovarela commented on #231
Segundo testes realizado pela equipe, ambos os ambientes estão acessiveis e funcionando externamente. Qualquer alteração por parte da infra no funcionamento da arquitetura será avisado.

[2015-05-08 14:26] #231 closed

[2015-05-08 15:37] crivano opened #264 "Erro na inicialização do JBoss, ambiente de desenvolvimento"
@hodrigohamalho e @kmacedovarela , vocês sabem dizer o que pode estar causando isso?

Estou sem poder trabalhar...

12:30:56,318 INFO  [org.jboss.modules] (main) JBoss Modules version 1.3.3.Final-redhat-1
12:30:57,386 INFO  [org.jboss.msc] (main) JBoss MSC version 1.0.4.GA-redhat-1
12:30:57,521 INFO  [org.jboss.as] (MSC service thread 1-6) JBAS015899: JBoss EAP 6.2.3.GA (AS 7.3.3.Final-redhat-3) s

[2015-05-08 16:13] hodrigohamalho commented on #264
@crivano procura no standalone.xml a system property idp.url e pode remover essa linha.

Tenta subir de novo.

[2015-05-08 16:14] #264 closed

[2015-05-08 18:07] kmacedovarela commented on #262
Diagramas atualizados no drive K, na pasta da OS 39.

[2015-05-08 18:07] #262 closed

[2015-05-08 18:32] hodrigohamalho commented on #232
Vendo com o @AndDeluiz o comportamento do Apache x Aplicação, foi verificado que os cabeçalhos:

* Cache-control
* Expires

Estão sendo inseridos pela aplicação SIGA. Isso faz com que ocorra mal funcionamento do mecanismo de cache. Tem que analisar onde e quem está setando essas propriedades e forçar sua remoção.

[2015-05-08 18:32] #227 closed

[2015-05-11 14:51] hodrigohamalho commented on #260
Resolvido em: 003e6db136dce4ac971b16b824cbd8b1536a4404

Esse problema foi bem nada a ver, antes ao incluir uma biblioteca javascript eu incluia assim:
/siga/javascript/nomedalib.js

agora eu deixei o link já com a barra, e só passo o resto do nome:
siga/javascript/nomedalib.js

Não entendi direito mas isso resolveu.

[2015-05-11 14:51] #260 closed

[2015-05-11 14:53] hodrigohamalho commented on #229
Feito, está em homologação e dev. Entrará em produção no próximo deploy.

[2015-05-11 14:58] AndDeluiz commented on #232
Obtivemos progresso com testes do mecanismo de cache com o IE9.

* Retiramos o cabeçalho ETag quando é utilizado o mod_deflate.
* Reinicializamos os valores para o cabeçalho Cache-control, descartando o que o JBoss envia e atribuindo max-age e private para Cache-control.

Com essas medidas conseguimos fazer com que o IE9 tivesse o comportamento esperado. Precisamos analisar agora o uso do Cache-co

[2015-05-11 18:42] hodrigohamalho commented on #232
Identifiquei que os parâmetros:
* Cache-control: no-cache
* Prama: no-cache

Estão sendo inseridos pelo Picketlink. Vou verificar a possibilidade de remove-los.

[2015-05-11 19:14] kmacedovarela commented on #263
@luiz-antonio é necessário definir:

Quais serão os usuários?
O que cada usuário poderá fazer?

Esta demanda será executada por nós ou você executará?

Uma vez definidos os usuários e permissões, deve-se decidir se serão utilizados "grupos", conforme a necessidade.

As roles podem ser visualizadas na documentação oficial, tópico 10.8.4. The Standard Roles
.   https://access.redhat.com/documentatio

[2015-05-11 20:48] hodrigohamalho commented on #232
Acho que é problema de interpretação da especificação do SAML 2 pelo time do picketlink, veja a especificação: http://docs.oasis-open.org/security/saml/Post2.0/sstc-saml-binding-simplesign-cd-04.html
[code]

Porém esse filter deles inclui esse cabeçalho em todo request.

[2015-05-12 13:03] kmacedovarela commented on #239
Entrou no branch develop hoje.

[2015-05-12 13:03] #239 closed

[2015-05-12 13:33] hodrigohamalho commented on #232
Abri um chamado junto ao suporte da Red hat: #01444151

[2015-05-12 13:35] kmacedovarela commented on #250
Testei em localhost e não ocorreu a tela branca.

[2015-05-12 14:17] luiz-antonio commented on #263
Segue o solicitado:

GRUPOS          ROLES                      USUÁRIOS
--------------  -------------------               --------------------
MENTORING    SuperUser                 Karina, Rodrigo
SEINAP		 SuperUser	           luiz.simoes, rodrigo.ferreira
OPERADORES Operator, Monitor     marcio.martins, flavio.sampaio
LIBERACAO	  Deploy                      cristiane.viana, paulo.duarte
DESENV-

[2015-05-12 20:42] Markenson commented on #232
Boa!

[2015-05-12 20:42] Markenson commented on #239
Valeu! Nem tive tempo de ver! :)

[2015-05-12 22:35] luiz-antonio commented on #263
Falta criar os usuários do grupo "mentoring" em homologação. Estes, melhor deixar com a Karina e o Rodrigo.

[2015-05-13 13:22] kmacedovarela commented on #263
Feito.
A documentação da execução será realizada pelo @luiz-antonio.

[2015-05-13 13:22] #263 closed

[2015-05-13 13:23] kmacedovarela commented on #263
Feito para o ambiente de homologação.

[2015-05-13 13:24] kmacedovarela opened #265 "Habilitar o RBac no ambiente de produção"
Habilitar o rbac e configurar os devidos usuários no ambiente de produção.

[2015-05-13 13:44] moisesoliveirasilva commented on #263
Luiz,

Meu usu�rio est� moises.oliceira, mas o correto seria moises.oliveira

Abra�os.

Mois�s
________________________________________
De: luiz-antonio [notifications@github.com]
Enviado: ter�a-feira, 12 de maio de 2015 11:17
Para: projeto-siga/siga
Assunto: Re: [siga] Configurar usu�rios e permiss�es no DC (#263)

Segue o solicitado:

GRUPOS ROLES USU�RIOS

________________________________

MENT

[2015-05-13 16:14] Markenson commented on #229
Não está funcionando em produção.

[2015-05-13 16:16] kmacedovarela commented on #229
Testei com o documento TMP-1479811	 e funcionou markenson. O que está ocorrendo é o caso intermitente, ou nunca está funcionando?

[2015-05-13 16:38] kmacedovarela commented on #229
Segundo informado pelo @Markenson

1) A forma reduzida não funciona "mem01" mas a completa sim "JFRJ-MEM-2015/00001"
2) Do siga sr nada funciona, nem a completa. ex:  JFRJ-SR-2015/02727

[2015-05-13 17:27] Markenson commented on #265
Pessoal, só por precaução, seria bom que fosse agendado para uma data que não a mesma de deploy das aplicações para evitarmos problemas.

[2015-05-14 12:59] luiz-antonio commented on #265
Perfeito!

Peço desculpas por este transtorno e também paciência nesses estágios iniciais de assimilação dos serviços, pois até estarmos totalmente habilitados às tarefas e alinhados com a rotina do desenvolvimento possivelmente ainda atrapalharemos um pouco. Conforme o andamento, faremos também outros ajustes que venham a ser necessários.

Neste aspecto, atribuiremos permissão na homologação de r

[2015-05-14 13:10] luiz-antonio commented on #263
Moisés,

mil desculpas! vou acertar.

Grande abraço,
Luiz Antonio

[2015-05-14 13:41] Markenson commented on #265
Não precisa se desculpar, Luiz. Sabemos que faz parte do processo.  Particularmente, considero uma ótima iniciativa criar esses perfis!

[2015-05-14 14:06] kmacedovarela opened #266 "Sobre deploy sem indisponibilidade"
Verificar:
https://access.redhat.com/solutions/327783

[2015-05-14 19:17] crivano opened #267 "URIEncoding"
Olá @hodrigohamalho  e @kmacedovarela , não estou conseguindo especificar o charset que deve ser utilizado pelo JBoss para fazer o parse das URLs de um GET.

Antigamente configurávamos o URIEncoding="UTF-8" em um <connector>.

Encontrei isso na internet:

https://developer.jboss.org/message/720331

Como devemos fazer agora? Ou isso é um problema do VRaptor?

Em tempo, esse erro problema ocorreu em

[2015-05-14 19:54] kmacedovarela commented on #267
Olá Crivano,

Tente as seguintes configurações:
No standalone.xml:
        <property name="org.apache.catalina.connector.URI_ENCODING" value="UTF-8" boot-time="true"/>
        <property name="org.apache.catalina.connector.USE_BODY_ENCODING_FOR_QUERY_STRING" value="true" boot-time="true"/>

No jboss-web.xml:
Adicionar os parametros de encoding à valvula do picketlink. Segue exemplo de um jboss-web.

[2015-05-15 17:17] kmacedovarela commented on #267
Resolvido!

Nota: No modo standalone a propriedade boot-time não é necessária

[2015-05-15 17:17] #267 closed

[2015-05-15 17:56] kmacedovarela commented on #257
Acompanhar #266

[2015-05-15 17:57] kmacedovarela commented on #266
Foi aberto chamado na redhat a respeito desta necessidade.

[2015-05-15 21:06] Markenson opened #268 "URL de autenticação de documentos restrita pelo picketlink"
A url http://siga/sigaex/autenticar.action não deve exigir autenticação. Inclusive, essa url não pode exigir certificado digital quando acessada via internet, pois isso impede que pessoas externas à justiça autentiquem os documentos.

[2015-05-18 12:57] kmacedovarela commented on #229
@Markenson isso está ok? Podemos fechar a issue?